<template>
  <div class="request-list">
    <list :items="requests" item-name="user">

      <!-- Request content -->
      <template slot="row" slot-scope="props">
        <div class="request-container">
          <avatar :show-belt="true" :username="props.item.username"></avatar>
          <div class="info">
            <h3>{{ props.item.firstname }} {{ props.item.lastname }}</h3>
          </div>
        </div>
      </template>

      <!-- Request action buttons -->
      <template slot="btns" slot-scope="props">
        <list-approve-btn @approve="approveRequest(props.item)" :item-info="props.item.firstname + ' ' + props.item.lastname" />
        <list-delete-btn @delete="deleteRequest(props.item)" :item-info="props.item.firstname + ' ' + props.item.lastname" />
      </template>

    </list>
  </div>
</template>

<script>
  import Vue from 'vue'
  import { APIRequest } from '../../apiHelper'

  import Avatar from '../user/Avatar.vue'

  import List from '../generic/List'
  Vue.use(List)

  export default {
    props: {
      requests: {
        required: true,
        type: Array
      }
    },
    methods: {
      approveRequest (user) {
        APIRequest('POST', `clubs/${this.$store.state.user.loggedInAs.clubs[0].id}/users/${user.id}`)
          .then((res) => {
            this.$emit('refresh')

            if (res.success) {
              this.$store.dispatch('refreshNotifications')
              this.$store.commit('SHOW_ERROR', { message: `User '${user.username}' was added to your club!` })
            }
          })
      },
      deleteRequest (user) {
        APIRequest('DELETE', `clubs/${this.$store.state.user.loggedInAs.clubs[0].id}/requests/${user.username}`)
          .then((res) => {
            this.$emit('refresh')

            if (res.success) {
              this.$store.dispatch('refreshNotifications')
              this.$store.commit('SHOW_ERROR', { message: `Deleted ${user.firstname}'s join request.` })
            }
          })
      }
    },
    components: { Avatar }
  }
</script>
