<template>
  <div class="members">
    <list :items="members" v-if="members.length !== 0">

      <!-- Member row content -->
      <template slot="row" slot-scope="props">
        <router-link :to="`/profile/${props.item.username}`">
          <avatar :show-belt="true" :username="props.item.username"></avatar>
          <div class="info">
            <small>{{ props.item.active ? 'Active' : 'Inactive' }}</small>
            <h3>{{ props.item.firstname }} {{ props.item.lastname }}</h3>
          </div>
        </router-link>
      </template>

    </list>

    <alert v-else title="No Members" content="There are no members to display." :dismissable="false" />
  </div>
</template>

<script>
  import Vue from 'vue'
  import Avatar from '../user/Avatar.vue'
  import Alert from '../generic/Alert'

  import List from '../generic/List'
  Vue.use(List)

  export default {
    props: {
      members: {
        required: true,
        type: Array
      }
    },
    components: { Avatar, Alert }
  }
</script>
