<!DOCTYPE html>
<html>
  <head>
    <title>Judo Ontario</title>

    <!-- Base URL -->
    <base href="{{ url('/') }}" />

    <!-- Webpack injects CSS Bundle here -->
    
    <link href="bundles/main.bundle.css?401281bd4dbc87a511c6" rel="stylesheet">

    {% include "theme::partials/metadata" %}

    {% block head %}{% endblock %}
  </head>
  <body class="loading">
    {% block body %}{% endblock %}

    <!-- Webpack injects JS Bundle here -->
    
    <script src="bundles/main.bundle.js?401281bd4dbc87a511c6"></script>
  </body>
</html>
