<!DOCTYPE html>
<html>
  <head>
    <title>Judo Ontario</title>

    <!-- Base URL -->
    <base href="{{ url('/') }}" />

    <!-- Webpack injects CSS Bundle here -->
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet"><% } %>

    {% include "theme::partials/metadata" %}

    {% block head %}{% endblock %}
  </head>
  <body class="loading">
    {% block body %}{% endblock %}

    <!-- Webpack injects JS Bundle here -->
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>
  </body>
</html>
