{% extends "theme::layouts/generic-bundled" %}

{% block body %}
  <div id="app">
    {% include "theme::partials/header" %}
    <div class="masthead" style="background-image: url('{{ img(page.mastheadbackground).quality(90).url() }}')">
      <div class="masthead-content">
        <h2>
          {{ page.mastheadcontent }}
        </h2>
      </div>
    </div>
    <div class="topper">
      <div class="topper-content">
        <breadcrumbs></breadcrumbs>
      </div>
    </div>
    <main class="interior">
      <div class="content">
        <h2 class="bar-arrow">{{ page.header }}</h2>
        <h3 class="subheader">{{ page.subheader }}</h3>
        <p>
          {{ page.content.render|raw }}
        </p>
      </div>
    </main>
    {% include "theme::partials/footer" %}
  </div>
{% endblock %}
