{% extends "theme::layouts/generic-bundled" %}

{% block body %}
  <div id="app">
    {% include "theme::partials/header" %}
    <div class="masthead" style="background-image: url({{ page.mastheadbackground }})">
      <div class="masthead-content">
        {{ page.mastheadcontent }}
      </div>
    </div>
    <div class="topper">
      <div class="topper-content">
        <breadcrumbs></breadcrumbs>
      </div>
    </div>
    <main class="interior">
      {{ page.content.render|raw }}
    </main>
    {% include "theme::partials/footer" %}
  </div>
{% endblock %}
