{% extends "layouts/generic/generic-bundled" %}

{% block body %}
  <div id="app">
    {% include "theme::partials/header" %}
    <main>
      <citrus-slider :speed="6000">
        <citrus-slide background="/img/sample-slide-1.jpg">
            <h3>Ontario Youth International Tournament is coming.  Are you ready?</h3>
            <div class="wysiwyg-area">
                <p>
                    This is where the sub-head can be stored.  This system will allow us to keep the homepage clean and easy to digest, yet offer more information to the user at the click of their mouse if they decide they want it.  UX will be animated, smooth and fast.  The image area at right could also be a button.
                </p>
                <img src="/img/sample-slide-content.jpg"/>
            </div>
        </citrus-slide>
        <citrus-slide background="/img/sample-slide-1.jpg">
            <h3>Ontario Youth International Tournament is coming.  Are you ready?</h3>
            <div class="wysiwyg-area">
                <p>
                    This is where the sub-head can be stored.  This system will allow us to keep the homepage clean and easy to digest, yet offer more information to the user at the click of their mouse if they decide they want it.  UX will be animated, smooth and fast.  The image area at right could also be a button.
                </p>
                <img src="/img/sample-slide-content.jpg"/>
            </div>
        </citrus-slide>
      </citrus-slider>

      <div class="buckets">
        <div class="bucket">
          <div class="title">
            <span>For those new to Judo</span>
            <h3>Answers to FAQ’s</h3>
          </div>
          <p>
            Train, compete and strengthen your mind, body and soul through Judo.  Judo Ontario provides the tools to maximize your effort no matter what level of Judoka you aspire to be.
          </p>
          <a href="/"><span>Frequently Asked Questions</span></a>
        </div>
        <div class="bucket">
          <div class="title">
            <span>For the High Performance Judoka</span>
            <h3>Quest for Gold</h3>
          </div>
          <p>
            Train, compete and strengthen your mind, body and soul through Judo.  Judo Ontario provides the tools to maximize your effort no matter what level of Judoka you aspire to be.
          </p>
          <a href="/"><span>More Info</span></a>
        </div>
      </div>
      <div class="intro">
        <h3>LATEST NEWS</h3>
        <div class="line-break">
          <img src="img/news.svg" />
        </div>
      </div>
      <div class="news">
        <news-article></news-article>
        <news-article></news-article>
        <div class="news-buttons">
          <div class="judo-btn">Read ALL News</div>
          <div style="background: #cccccc;" class="judo-btn">Want to share a News story?</div>
        </div>
      </div>
      <div class="social-feed">
        <div class="twitter-container">
          <div class="twitter"></div>
          <div class="social-link"></div>
        </div>

        <div class="facebook-container">
          <div class="facebook"></div>
          <div class="social-link"></div>
        </div>
      </div>
      <div class="intro">
        <h3>EVENT CALENDAR</h3>
        <div class="line-break">
          <img src="img/calendar.png" />
        </div>
      </div>
      <div class="calendar-area">
        <event-calendar />
      </div>
      <div class="intro">
        <h3>JUDO ONTARIO on INSTAGRAM</h3>
        <div class="line-break">
          <img src="img/icon-instagram.png" />
        </div>
      </div>
      <div class="instagram-photos">
        <div class="photos">
          <div class="item"></div>
          <div class="item2"></div>
          <div class="item"></div>
          <div class="item2"></div>

          <div class="item2"></div>
          <div class="item"></div>
          <div class="item2"></div>
          <div class="item"></div>
        </div>
      </div>
    </main>
    {% include "theme::partials/footer" %}
  </div>
{% endblock %}
