<template>
  <div class="emergency-pause" @click="pauseEvent">
    <span class="emergency">EMERGENCY</span>
    <span class="pause">PAUSE</span>
  </div>
</template>

<script>
  export default {
    props: {
      itemInfo: {
        type: String,
        required: false,
        default: ''
      }
    },
    methods: {
      pauseEvent () {
        this.$modal.new({
          title: `Do you want to pause this ${this.$parent.itemName || 'item'}?`,
          buttons: [
            {
              text: 'Yes',
              action: (modal) => {
                this.$emit('pause')
                modal.closeModal()
              },
              colour: 'green'
            },
            {
              text: 'No',
              action: (modal) => {
                modal.closeModal()
              },
              colour: 'red'
            }
          ]
        }, `
          <strong>
            ${this.itemInfo}
          </strong>
        `)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .emergency-pause {
    background-color: red;
    margin: 10px;
    padding: 10px;
    width: 85px;
    border-radius: 9px;
    transition: background-color .15s;
    cursor: pointer;

    &:hover {
      background-color: darken(red, 10);
    }

  }

  .emergency-pause {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 15px;

    span.emergency {font-size: 0.7rem;}
    span.pause {font-size: 1.35rem;}
  }
</style>
