<template>
  <div class="copy-event" @click="copyEvent">
    <span class="copy">COPY</span>
    <span class="event">EVENT</span>
  </div>
</template>

<script>
  export default {
    props: {
      itemInfo: {
        type: String,
        required: false,
        default: ''
      }
    },
    methods: {
      copyEvent () {
        this.$modal.new({
          title: `Are you sure you want to copy this ${this.$parent.itemName || 'item'}?`,
          buttons: [
            {
              text: 'Yes',
              action: (modal) => {
                this.$emit('copy')
                modal.closeModal()
              },
              colour: 'green'
            },
            {
              text: 'No',
              action: (modal) => {
                modal.closeModal()
              },
              colour: 'red'
            }
          ]
        }, `
          <strong>
            ${this.itemInfo}
          </strong>
        `)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .copy-event {
    background-color: #e1e1e1;
    margin: 10px;
    padding: 10px;
    width: 85px;
    border-radius: 9px;
    transition: background-color .15s;
    cursor: pointer;

    &:hover {
      background-color: darken(#e1e1e1, 10);
    }
  }

  .copy-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #363636;
    text-align: center;
    font-weight: bold;
    line-height: 17px;

    span.copy {font-size: 1.4rem;}
    span.event {font-size: 1.15rem;}
  }
</style>
