<template>
  <div class="events-list">
    <h3 class="icon">Current Events</h3>
    <list :items="events" item-name="event" v-if="events.length !== 0">

      <!-- Event row content -->
      <template slot="row" slot-scope="props">
        <router-link :to="`/dojoshu/events/${props.item.id}`">
          <div class="icon">
            <img src="../../../assets/img/icon-scoreboard.svg" width="36" />
          </div>
          <div class="info">
            <h3>
              <em v-if="props.item.draft">Draft:</em>
              {{ props.item.name || 'Untitled Event' }}
            </h3>
            <small>Event Start Date: <strong v-text="formatWordyDate(props.item.register_start)"></strong></small><br/>
            <small>Event End Date: <strong v-text="formatWordyDate(props.item.register_end)"></strong></small>
          </div>
        </router-link>
      </template>

      <!-- Event row buttons -->
      <template slot="btns" slot-scope="props">
        <event-list-copy-btn @copy="copyEvent(props.item.id)" />
        <event-list-emergency-pause-btn @pause="pauseEvent(props.item.id)" />
      </template>

    </list>

    <alert v-else title="No Events" content="There are no events to display." :dismissable="false" />
  </div>
</template>

<script>
  import Vue from 'vue'
  import Alert from '../../generic/Alert'
  import EventListCopyBtn from './EventListCopyBtn'
  import EventListEmergencyPauseBtn from './EventListEmergencyPauseBtn'

  import { format } from 'date-fns'
  import { APIRequest } from '@/apiHelper.js'

  import List from '../../generic/List'
  Vue.use(List)

  export default {
    props: {
      events: {
        required: true,
        type: Array
      }
    },
    methods: {
      formatWordyDate (date) {
        return format(date, 'MMMM D, YYYY')
      },
      copyEvent (eventID) {
        APIRequest('POST', `events/copy-of/${eventID}`)
          .then((res) => {
            if (res.success === true) {
              this.$emit('refresh')
            } else {
              this.$store.commit('SHOW_ERROR', res)
            }
          })
      },
      pauseEvent (eventID) {
        APIRequest('PUT', `events/${eventID}`, { draft: true })
          .then((res) => {
            if (res.success === true) {
              this.$emit('refresh')
            } else {
              this.$store.commit('SHOW_ERROR', res)
            }
          })
      }
    },
    components: { Alert, EventListCopyBtn, EventListEmergencyPauseBtn }
  }
</script>

<style lang="scss">
  .events-list {
    em {
      background: #F00;
      color: #FFF;
      font-style: normal;
      display: inline-block;
      padding: 4px 10px;
      font-size: 0.85rem;
      border-radius: 6px;
      border: 1px solid #c50000;
    }

    h3.icon {
      position: relative;
      font-size: 1.25rem;
      border-bottom: 1px solid #bcbec0;
      padding-left: 85px;
      padding-bottom: 15px;
      padding-top: 15px;
      margin: 0;
      margin-bottom: 15px;

      &::before {
        content: '';
        position: absolute;
        left: 24px;
        top: 50%;
        width: 35px;
        height: 25px;
        padding-right: 10px;
        border-right: 1px solid #bcbec0;
        transform: translateY(-50%);
        background: url('../../../assets/img/icon-new-event.svg') left center no-repeat;
        background-size: 25px;
      }
    }
  }
</style>
