<template>
  <div id="app" :class="$store.state.online ? 'active' : 'offline'">
    <site-header />
    <div v-if="$store.state.error" class="error">
      {{ $store.state.error }}
    </div>
    <div v-if="$store.state.notice" class="error notice">
      {{ $store.state.notice }}
    </div>
    <main>
      <router-view></router-view>
    </main>
    <site-footer />
  </div>
</template>

<script>
  import SiteHeader from './partials/SiteHeader'
  import SiteFooter from './partials/SiteFooter'

  export default {
    name: 'app',
    components: {
      SiteHeader,
      SiteFooter
    }
  }
</script>

<style lang="scss">
  @import './assets/sass/app.scss';

  #app {
    position: relative;

    &.offline {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.75);
        z-index: 99998;
      }

      &::after {
        content: 'You are in offline mode. Reconnect to the Internet to resume editing.';
        display: inline-block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        z-index: 99999;
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #FFF;
        padding: 10px 20px;
        text-align: center;
      }
    }

    > .error {
      background: $danger;
      color: #FFF;
      font-weight: bold;
      text-align: center;
      padding: 20px 30px;

      &.notice {
        background: #f90;
      }
    }

    .page {
      max-width: 768px;
      margin: 0 auto;
      padding: 0 20px 90px 20px;
    }
  }
</style>
