<template>
  <div class="zone">
    <div class="ad-region" ref="ad">
      <div :class="`ad ${size}`">
        <span>ADVERTISMENT</span>
        <img :src="require('@/assets/img/sample-ad.jpg')" />
      </div>
    </div>
    <div class="notice" v-if="blocked">
      <h3>Hey AdBlock user.</h3>
      <p>
        We respect your choice to use an ad-blocker to protect your privacy online, however, ads keep our association funded. Our ads are managed internally, and the only kind of tracking we employ for use in this ad system is a small anonymous click through rate statistic.
        <strong>Please consider adding us to your ad-block whitelist.</strong>
      </p>
      <p>
        If you choose to not add us to your whitelist, please consider making a small donation if you find the association valuable.
      </p>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'

  export default {
    props: {
      region: {
        type: String,
        required: true
      },
      size: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        blocked: false
      }
    },
    mounted () {
      Vue.nextTick(() => {
        setTimeout(() => {
          const ad = this.$refs['ad']
          if (ad.hidden) this.blocked = true
        }, 500)
      })
    }
  }
</script>

<style lang="scss">
  .zone {
    position: relative;
    width: 100%;
    background: #ebebeb;
    padding: 11px 0 25px;
    min-height: 90px;

    .notice {
      height: 100%;
      width: 100vw;
      max-width: 970px;
      margin: 0 auto;
      padding: 5px 40px;
      text-align: center;
    }

    .ad {
      width: 100%;
      margin: 0 auto;
      text-align: right;
      position: relative;

      &.leaderboard {
        max-width: 768px;
      }

      img {
        width: 100%;
      }

      span {
        display: block;
        color: #aeafb1;
        font-size: 0.65rem;
        margin-bottom: 5px;
      }
    }
  }
</style>


