<template>
  <transition name="alert-fold">
    <div class="alert" v-if="open">
      <div class="top">
        <h3><span>{{ title || 'IMPORTANT NOTICE' }}</span></h3>
        <div v-if="dismissable" @click="dismiss" class="close-btn">
          <img class="close-btn" src="../../assets/img/icon-close.svg"/>
        </div>
      </div>
      <p>
        {{ content }}
      </p>
    </div>
  </transition>
</template>

<script>
  export default {
    props: {
      title: {
        type: String
      },
      content: {
        type: String,
        required: true
      },
      dismissable: {
        type: Boolean,
        default: true
      }
    },
    data () {
      return {
        open: true
      }
    },
    methods: {
      dismiss () {
        this.open = false
      }
    }
  }
</script>

<style lang="scss">
  @import '../../assets/sass/app.scss';

  .alert-fold-enter-active,
  .alert-fold-leave-active {
    transition: all .5s;
  }

  .alert-fold-enter,
  .alert-fold-leave-to {
    transform: translateY(40px);
    opacity: 0;
    max-height: 0;
  }

  .alert {
    position: relative;
    background: $lightgrey;
    color: $grey;
    margin: 15px 0;
    max-height: 300px;
    overflow: hidden;

    .top {
      display: flex;
      justify-content: space-between;

      h3 {
        margin: 0;

        span {
          display: inline-block;
          background: $danger;
          color: #FFF;
          padding: 5px 10px;
        }
      }

      .close-btn {
        @include judo-hr-light(#cccccc, #fff);
        cursor: pointer;
        position: absolute;
        right: 0;
        max-width: 120px;
        width: 100%;
        top: 1px;
        padding: 0;

        >img {
          position: absolute;
          top: 14px;
          width: 30px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    p {
      color: $grey;
      padding: 30px 30px 20px;
      margin-top: 0;
      line-height: 26px;
      font-size: 0.95rem;
    }
  }
</style>
