<template>
  <div class="hint-icon" @click="showModal">?</div>
</template>

<script>
  export default {
    props: {
      hintContent: {
        type: String,
        required: true
      },
      title: {
        type: String
      }
    },
    methods: {
      showModal () {
        this.$modal.new({
          title: this.title || 'Hint'
        }, this.hintContent)
      }
    }
  }
</script>

<style lang="scss">
  .hint-icon {
    display: inline-flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 10px;
    color: #403f3b;
    font-size: 0.9rem;
    border: solid 2px #403f3b;
    border-radius: 100%;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s ease-out;

    &:hover {
      background: #403f3b;
      color: #FFF;
      border: solid 2px #403f3b;
    }

    &:active {
      transform: scale(0.9);
    }
  }
</style>
