<template>
  <div class="file-display">
    <input type="file" @change="updatePreview">
    <img v-if="image && !processing" :src="image"/><br />
    <div v-if="image && progress === null" @click="processAvatarForUpload" class="judo-btn">Upload</div>
    <div v-if="progress !== null">Uploading {{ progress }}%</div>
  </div>
</template>

<script>
  import { APIRequest } from '@/apiHelper.js'
  import loadingGif from '../../assets/img/loading.gif'

  // --- --- The following is pretty messy! --- ---
  // All that's happening here, is that images that contain EXIF data are flipped around if taken in portrait.
  // This was a issue we were seeing with iPhone photos.2
  // Use your text editor's block collapsing to get a better picture of what's going on here

  const EXIFRotationValues = {
    1: 0 * (Math.PI / 180),
    3: 180 * (Math.PI / 180),
    6: 90 * (Math.PI / 180),
    8: 270 * (Math.PI / 180)
  }

  export default {
    props: {
      uploadTo: {
        type: String,
        default: null
      }
    },
    data () {
      return {
        image: null,
        formImage: null,
        progress: null,
        open: false,
        processing: false,
        loadingGif
      }
    },
    methods: {
      bufferToURL (buffer, type) {
        let str = ''
        const bytes = new Uint8Array(buffer)
        const len = bytes.byteLength
        for (var i = 0; i < len; i++) { str += String.fromCharCode(bytes[i]) }
        return `data:${type};base64,${btoa(str)}`
      },
      fixImageOrientation (reader, file, scanner) {
        return new Promise((resolve, reject) => {
          let idx = 2
          let maxBytes = scanner.byteLength
          let value = 1
          while (idx < maxBytes - 2) {
            let uint16 = scanner.getUint16(idx)
            idx += 2
            switch (uint16) {
              case 0xFFE1:
                let exifLength = scanner.getUint16(idx)
                maxBytes = exifLength - idx
                idx += 2
                break
              case 0x0112:
                value = scanner.getUint16(idx + 6, false)
                maxBytes = 0
                break
            }
          }

          const canvasEl = document.createElement('canvas')
          const ctx = canvasEl.getContext('2d')
          const imgEl = new Image()
          imgEl.style.display = 'none'

          imgEl.addEventListener('load', () => {
            document.body.appendChild(imgEl)
            canvasEl.width = imgEl.naturalWidth
            canvasEl.height = imgEl.naturalHeight
            ctx.translate(imgEl.naturalWidth / 2, imgEl.naturalHeight / 2)
            ctx.rotate(EXIFRotationValues[value])
            ctx.drawImage(imgEl, -(imgEl.naturalWidth / 2), -(imgEl.naturalHeight / 2), imgEl.naturalWidth, imgEl.naturalHeight)
            canvasEl.toBlob((blob) => {
              resolve({
                formImage: blob,
                image: canvasEl.toDataURL()
              })
            }, 'image/jpeg')
          })
          imgEl.src = this.bufferToURL(reader.result, file.type)
        })
      },
      updatePreview (e) {
        const file = e.target.files[0]
        const reader = new FileReader()

        reader.addEventListener('load', () => {
          const scanner = new DataView(reader.result)
          const isNotJPEG = reader.result.length < 2 || scanner.getUint16(0) !== 0xFFD8
          if (isNotJPEG) {
            this.image = this.bufferToURL(reader.result, file.type)
            this.formImage = file
          } else {
            this.processing = true
            this.fixImageOrientation(reader, file, scanner).then((data) => {
              this.image = data.image
              this.formImage = data.formImage
              this.processing = false
            })
          }
        }, false)

        if (file) {
          reader.readAsArrayBuffer(file)
        } else {
          this.image = null
          this.formImage = null
        }
      },
      processAvatarForUpload () {
        if (this.uploadTo) this.uploadAvatar()
        this.$emit('changeImage', this.image)
      },
      uploadAvatar () {
        const data = new FormData()
        data.append('avatar', this.formImage)

        this.progress = 0

        APIRequest('PUT', this.uploadTo, data, {
          onUploadProgress: (e) => {
            this.progress = Math.round((e.loaded * 100) / e.total)
          }
        }).then((res) => {
          if (res.success) {
            this.$store.dispatch('hydrateLogin')
              .then(() => {
                this.image = null
                this.formImage = null
                this.progress = null
                this.open = false
                this.$store.commit('CLEAR_ERROR')
                if (this.$parent.closeModal) this.$parent.closeModal()
              })
          } else {
            this.image = null
            this.formImage = null
            this.progress = null
            this.open = false
            this.$store.commit('SHOW_ERROR', { message: 'There was an issue uploading your avatar!' })
            if (this.$parent.closeModal) this.$parent.closeModal()
          }
        })
      },
      openModal () {
        this.$refs['modal'].openModal()
      }
    }
  }
</script>

<style lang="scss">
  .file-display {
    display: flex;
    flex-direction: column;
    align-items: center;

    >img {
      width: 50%;
    }
  }
</style>
