<template>
  <div class="user-input">
    <div class="left">
      <input type="text" :disabled="disabled" v-model="rawInput" @input="searchFor($event.target.value)" />
      <div class="results" v-if="rawInput">
        <div v-for="result in results"
          :key="result.id"
          @click="setUser(result)"
          class="result">
            {{ result.firstname }} {{ result.lastname }}
        </div>
        <div class="error" v-if="!(results || []).length">No users found.</div>
      </div>
    </div>
    <div class="right" v-if="user">
      <strong v-text="`${user.firstname} ${user.lastname}`"></strong>
      <span>
        <div class="avatar" :style="{ backgroundImage: `url(${StaticFile(user.avatar)})` }"></div>
      </span>
    </div>
  </div>
</template>

<script>
  import { APIRequest, GetUser, StaticFile } from '../../apiHelper'

  export default {
    props: {
      value: {
        type: String,
        default: null
      },
      disabled: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        user: null,
        rawInput: null,
        results: []
      }
    },
    methods: {
      searchFor (search) {
        this.user = null
        APIRequest('GET', `users?q=${encodeURIComponent(search)}`)
        .then((res) => {
          if (res.success) {
            this.results = res.users
          } else this.results = []
        })
      },
      updateUserFromUsername (username) {
        GetUser(username, this.$store)
          .then((res) => {
            if (res.success) {
              this.setUser(res.user)
            } else this.results = []
          })
      },
      setUser (user) {
        this.user = user
        this.rawInput = null
        this.emitInput()

        // Caching just in-case an active cache expires
        if (user && user.username && !this.$store.state.cache.users[user.username]) this.$store.commit('CACHE_DATA', { group: 'users', key: user.username, data: user })
      },
      emitInput () {
        this.$emit('input', (this.user ? this.user.username : null))
      },
      StaticFile
    },
    mounted () {
      if (this.value) this.updateUserFromUsername(this.value)
      this.$watch('value', (newValue) => {
        this.updateUserFromUsername(newValue)
      })
    }
  }
</script>

<style lang="scss">
  .user-input {
    display: flex;

    .left,
    .right {
      display: flex;
      align-items: center;
    }

    .left {
      flex: 1 1 320px;
      margin-right: 10px;
      position: relative;

      > input {
        height: 40px !important;
      }

      .results {
        position: absolute;
        background: #FBFBFB;
        border-bottom: 1px solid #CCC;
        box-shadow: 0 3px 10px rgba(25, 25, 25, 0.15);
        width: 100%;
        color: #FFF;
        padding: 12px;
        z-index: 999;
        top: 100%;

        >div {
          padding: 10px;
        }

        .result {
          background: #333;

          &:hover {
            cursor: pointer;
          }
        }

        .error {
          background: #AF3232;
        }
      }
    }

    .right {
      flex: 1 1 250px;

      .avatar {
        height: 45px;
        width: 45px;
        border-radius: 100%;
        background-color: #343434;
        background-size: cover;
        background-position: center;
        margin-left: 10px;
      }
    }
  }
</style>
