<template>
  <page>
    <div class="greeting">Welcome back <strong>{{ $store.state.user.loggedInAs.username }}</strong>, hope training is going well!</div>

    <alert content="This is where an important notice can be placed from Judo Ontario admin, ensuring the member does not miss it.  The member has the ability to close this message if they desire once they have read it." />

    <posters />

    <message-widget />

    <div class="user-block">
      <div class="left">
        <div class="avatar" @click="$refs['avatarModal'].openModal()" :style="{ backgroundImage: `url(${StaticFile(user.avatar)})` }"></div>
        <avatar-modal title="Upload a new avatar" ref="avatarModal" />
      </div>
      <div class="right" v-if="user.clubs[0]">
        <h4>Your membership at a glance</h4>
        <div class="user-data">
          <div class="user-data-row">
            <div class="icon" :style="{ backgroundImage: `url(${StaticFile(user.clubs[0].avatar)})` }"></div>
            <span>My Club</span>
            <strong>{{ user.clubs[0].name }}</strong>
          </div>
          <div class="user-data-row">
            <div class="icon" :style="{ backgroundColor: beltToColour(user.belt) }"></div>
            <span>Current Rank</span>
            <strong>{{ beltToName(user.belt) }}</strong>
          </div>
          <div class="user-data-row">
            <div class="icon" :style="{ backgroundColor: user.judo_ontario_number ? '#598527' : '#ed1c24' }">
              {{ user.judo_ontario_number ? '✿' : '!' }}
            </div>
            <span>Membership Status</span>
            <strong>{{ user.judo_ontario_number ? 'Paid' : 'Unpaid' }}</strong>
          </div>
          <div class="user-data-row">
            <div class="icon judo-ontario"></div>
            <span>Judo Ontario Number</span>
            <strong>{{ user.judo_ontario_number || 'Unaffiliated' }}</strong>
          </div>
          <div class="user-data-row">
            <div class="icon judo-canada"></div>
            <span>Judo Canada Number</span>
            <strong>{{ user.judo_canada_number || 'Unaffiliated' }}</strong>
          </div>
        </div>
      </div>

      <div class="right" v-else>
        <h4>You are currently <em>not</em> a member of Judo Ontario</h4>

        <!-- This is JUST FOR DEBUGGING -->
        <div class="judo-btn" @click="debugCreateClub">Create + Join a club</div>

        <club-joiner />

      </div>
    </div>
  </page>
</template>

<script>
  import RegisteredEvents from '../../components/user/Dashboard/RegisteredEvents.vue'
  import AllEvents from '../../components/user/Dashboard/AllEvents.vue'
  import Alert from '../../components/generic/Alert.vue'
  import AvatarModal from '../../components/user/Dashboard/AvatarModal.vue'
  import MessageWidget from '../../components/user/Dashboard/MessageWidget.vue'
  import ClubJoiner from '../../components/user/Dashboard/ClubJoiner.vue'
  import Posters from '../../components/user/Dashboard/Posters.vue'

  import { APIRequest, StaticFile } from '@/apiHelper.js'

  export default {
    data () {
      return {
        editingAvatar: false
      }
    },
    computed: {
      user () {
        return this.$store.state.user.loggedInAs
      }
    },
    methods: {
      debugCreateClub () {
        APIRequest('POST', 'clubs', {
          name: `Test Club - ${Math.floor((1 + Math.random()) * 0x10000).toString(16)}`,
          description: 'Yay!'
        }).then(() => {
          this.$store.dispatch('hydrateLogin')
          this.$store.dispatch('refreshNotifications')
        })
      },
      beltToColour (belt) {
        if (belt === 1) return '#e1e1e1'
        if (belt === 2) return '#f7d400'
        if (belt === 3) return '#dd7921'
        if (belt === 4) return '#189225'
        if (belt === 5) return '#2a58e5'
        if (belt === 6) return '#944d0e'
        if (belt === 7) return '#000000'
        if (belt === 8) return '#c81907'
        return '#FFFFFF'
      },
      beltToName (belt) {
        if (belt === 1) return 'White'
        if (belt === 2) return 'Yellow'
        if (belt === 3) return 'Orange'
        if (belt === 4) return 'Green'
        if (belt === 5) return 'Blue'
        if (belt === 6) return 'Brown'
        if (belt === 7) return 'Black'
        if (belt === 8) return 'Red'
        return 'Unknown'
      },
      StaticFile
    },
    components: { RegisteredEvents, AllEvents, Alert, AvatarModal, MessageWidget, ClubJoiner, Posters }
  }
</script>

<style lang="scss" scoped>
  @import '../../assets/sass/app.scss';

  .greeting {
    color: $grey;
    font-size: 1.25rem;
    margin-top: 50px;
  }

  .user-block {
    display: flex;
    padding-top: 30px;
    border-top: $lightgrey 1px solid;

    >*+* {
      margin-left: 40px;
    }

    .left {
      .avatar {
        background-color: $grey;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        height: 20vw;
        width: 20vw;
        max-height: 300px;
        max-width: 300px;
        min-width: 150px;
        min-width: 150px;
        cursor: pointer;
        overflow: hidden;

        &:hover {
          &::after {
            opacity: 1;
          }
        }

        &::after {
          content: '';
          display: block;
          height: 100%;
          widows: 100%;
          background: url('../../assets/img/icon-camera.svg') center center no-repeat rgba(0,0,0,0.4);
          background-size: 45px;
          opacity: 0;
          transition: 0.2s all ease-out;
        }
      }
    }

    .right {
      flex: 1 1 100%;
      font-size: 1.1rem;
      color: $grey;

      h4 {
        font-size: 1.25rem;
        margin: 0 0 25px;
      }

      .user-data {
        .user-data-row {
          display: flex;
          margin: 10px 0;
          align-items: center;

          .icon {
            flex: 0 0 45px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            font-weight: bold;
            font-size: 1.7rem;
            height: 45px;
            background: $grey;
            border-radius: 100%;
            margin-right: 15px;
            background-size: cover;
            background-position: center;

            &.judo-ontario {
              background-image: url('../../assets/img/logo-no-wordmark.svg');
              background-color: transparent;
            }

            &.judo-canada {
              background-image: url('../../assets/img/logo-judo-canada.png');
              background-color: transparent;
            }
          }

          span {
            display: inline-block;
            margin-right: 7px;

            &::after {
              content: ':';
            }
          }
        }
      }
    }
  }
</style>
