<template>
  <page title="Event Registrations" :icon="require('../../assets/img/icon-event.svg')">
    <p>I’m currently registered for the following events: </p>

    <events-list :events="$store.state.user.loggedInAs.events"></events-list>
    <all-events></all-events>
  </page>
</template>

<script>
  import EventsList from '../../components/user/Dashboard/EventsList.vue'
  import AllEvents from '../../components/user/Dashboard/AllEvents.vue'

  export default {
    components: { EventsList, AllEvents }
  }
</script>
