<template>
  <page title="Test Page!">
    <h3>Logged in as <em>{{ $store.state.user.loggedInAs.username }}</em></h3>
    <a href="#" @click.prevent="logout">Logout</a>
  </page>
</template>

<script>
  export default {
    methods: {
      async logout () {
        this.$router.push('/login')
        await this.$store.dispatch('logout')
      }
    }
  }
</script>
