@import 'sass-only/app';
@import 'sass-only/utils';

.masthead {
  position: relative;
  min-height: 500px;
  color: #FFF;
  font-family: $cond;
  background-position: center;

  &::after {
    content: '';
    display: block;
    height: 48px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background: url(/img/pixel-pattern.jpg);
  }

  .masthead-content {
    position: absolute;
    bottom: 0;
    left: 10%;
    max-width: 275px;
    padding-bottom: 40px;

    h2 {
      display: inline;
      font-size: 5rem;
      font-weight: normal;
      letter-spacing: 1px;
      padding: 0 25px;
      line-height: 125px;
      margin: 0;
      background: #000;
      -webkit-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
}

.topper {
  margin-top: 48px;
  background: #FFF;
  box-shadow: 0 0 10px rgba(20, 15, 15, 0.45);
  width: 100vw;

  .topper-content {
    max-width: 970px;
    margin: 0 auto;
  }
}

main.interior {
  .content {
    max-width: 755px;
    margin: auto;
    padding: 20px;
    color: $type;

    h2.bar-arrow {
      @include judo-hr-heavy(#221f1f, #fff);
      padding-bottom: 30px;
      font-size: 2rem;
      margin-bottom: 45px;
    }

    h3.subheader {
      font-size: 1rem;
      margin-bottom: 0;
    }

    p+p {
      margin: 0;
      padding-top: 30px;
    }

    p {
      line-height: 24px;

      a {
        position: relative;
        text-decoration: none;
        color: $danger;
        font-weight: bold;

        &::after {
          content: '';
          position: absolute;
          pointer-events: none;
          width: 100%;
          height: 2px;
          bottom: -2px;
          left: 50%;
          transform: translateX(-50%);
          background: $danger;
        }
      }
    }

    .flower {
      position: relative;
      padding-left: 40px;
      font-size: 1.2rem;

      em {
        font-size: 0.9rem;
      }

      h4 {
        margin: 0;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 40%;
        transform: translateY(-50%);
        height: 31px;
        width: 31px;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.medium {&::before {background-image: url('/img/flower-medium.png');}}
      &.small {
        padding-left: 35px;

        &::before {background-image: url('/img/flower-small.png');}
      }
    }

    h3 {
      font-size: 1.3rem;
    }

    .hall-of-fame {
      @include judo-hr-heavy(#221f1f, #fff);
      line-height: 30px;
      padding-bottom: 35px;

      &.no-padding {
        padding-bottom: 0;
      }
    }

    .builders-container {
      h4 {
        @include judo-hr-heavy(#221f1f, #fff);
        padding: 25px 0;
        font-size: 1.6rem;
        margin-top: 0;
        margin-bottom: 55px;
        padding-top: 0;
      }

      .builders {
        display: flex;
        flex-wrap: wrap;

        .builder {
          flex: 0 1 175px;
          padding: 20px 10px;
          line-height: 28px;

          .year {
            span {
              background: #000;
              padding: 6px 12px;
              color: #fff;
              font-weight: bold;
              font-size: 1.375rem;
            }
          }

          p {
            font-weight: bold;
            color: #58595b;
            font-size: 1.375rem;
          }
        }
      }
    }

    .honors {
      padding-top: 50px;

      .row {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid;
        margin-bottom: 35px;
        padding-top: 15px;

        &:last-child {
          border-bottom: none;
        }

        .year {
          flex: 1 1 100%;

          span {
            background: #000;
            padding: 6px 12px;
            color: #fff;
            font-weight: bold;
            font-size: 1.375rem;
          }
        }

        .honor {
          padding: 20px 100px;
          flex: 1 1 300px;
          line-height: 28px;
          padding-right: 10px;
          padding-left: 0;

          .award-list {
            .award {
              font-weight: bold;

              span {
                color: $primary;

                &.extra-info {
                  color: inherit;
                  font-weight: normal;
                }
              }
            }
          }

          .image-box {
            padding-top: 15px;
          }

          &.high-dans {
            padding-top: 30px;
            padding-bottom: 35px;
            line-height: 26px;
          }

          &.single {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }

          >h4 {
            font-size: 1.4rem;
            margin: 10px 0 3px;

            &.name-list {
              margin: 0;
              font-size: 1.2rem;
              padding-left: 7px;
            }
          }

          p {
            margin-top: 0;
          }

          &:last-child {
            padding-right: 0;
            padding-left: 20px;
          }
        }
      }
    }

    .important {
      .notice {
        @include judo-hr-heavy(#221f1f, #fff);
        position: relative;
        padding: 50px 0;
        line-height: 30px;

        &:last-child {
          padding-bottom: 5px;

          &::after,
          &::before {
            display: none;
          }
        }

        span {
          background: $danger;
          font-size: 1.2rem;
          padding: 7px 30px 4px;
          color: #fff;
          letter-spacing: 0.5px;
          font-weight: bold;
          display: inline-block;
          margin-bottom: 15px;
        }

        a {
          position: relative;
          text-decoration: none;
          color: $danger;
          font-weight: bold;

          &::after {
            content: '';
            position: absolute;
            pointer-events: none;
            width: 100%;
            height: 3px;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            background: $danger;
          }
        }
      }
    }

    .steps {
      counter-reset: steps;

      a {
        text-decoration: none;
        font-weight: bold;

        .create-an-account {
          max-width: 385px;
          margin: auto;
          margin-top: 50px;
          background: #e1e1e1;
          padding: 10px;
          color: #403f3b;
          text-align: center;
          border-radius: 7px;
        }
      }

      .step {
        counter-increment: steps;
        line-height: 30px;
        padding: 10px 0;

        h4 {
          position: relative;
          padding-left: 55px;
          padding-top: 5px;
          padding-bottom: 5px;

          &::before {
            content: counter(steps);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 1.3rem;
            padding-top: 1px;
            width: 37px;
            height: 37px;
            background: $danger;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
