@import 'sass-only/app';
@import 'sass-only/utils';

@media screen and (max-width: 970px) { html {

}}

@media screen and (max-width: 739px) { html {
  main.interior {
    .content {
      .builders-container {
        .builders {
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}}

@media screen and (max-width: 639px) { html {
  main.interior {
    .content {
      .honors {
        .row {
          .honor {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }
        }
      }
    }
  }
}}
