@import 'sass-only/app';
@import 'sass-only/utils';
@import 'interior';
@import 'mobile';

header {
  .navigation-container {
    width: 100vw;
    background: #FFF;
    box-shadow: 0 0 25px rgba(30, 33, 38, 0.2);
    z-index: 99999;
    position: relative;

    .navigation-bar {
      margin: 0 auto;
      max-width: 970px;
      display: flex;
      align-items: center;
      padding: 30px;

      .nav-container {
        max-width: 800px;
        margin: auto;

        >a {
          display: block;
          pointer-events: none;
          text-decoration: none;
          background: #ebebeb;
          padding: 12px 20px;
          margin-bottom: 7px;
          cursor: pointer;
          font-weight: bold;
          font-size: 1.4rem;
        }
      }

      .logo {
        flex: 1 1 300px;

        a {
          display: block;

          img {
            max-height: 85px;
          }
        }
      }

      .controls {
        display: flex;
        flex: 1 1 100%;
        justify-content: flex-end;

        .btn {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border: 1px solid #c7c7c7;
          background: #FFF;
          height: 52px;
          width: 52px;
          margin-right: 15px;
          color: $grey;
          font-family: $cond;
          font-weight: bold;
          line-height: 0;
          cursor: pointer;

          a {
            display: block;
            height: 100%;
            width: 100%;
            color: inherit;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &::before {
            content: '';
            display: block;
            height: 8px;
            width: 8px;
            border: inherit;
            border-right: 0;
            border-top: 0;
            position: absolute;
            left: -1px;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            background: inherit;
          }

          &:hover {
            background: lighten($grey, 70);
          }

          &:active {
            background: lighten($grey, 60);
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

main {
  .buckets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;

    .bucket {
      position: relative;
      flex: 1 1 300px;
      padding: 65px 20px 15px;
      margin: 20px;

      .title {
        position: relative;

        &::before {
          content: '';
          left: -20px;
          position: absolute;
          height: 100%;
          width: 4px;
          background: $primary;
        }

        h3 {
          margin: 0;
        }

        span {
          font-size: 0.8rem;
        }
      }

      a {
        text-decoration: none;

        span {
          position: relative;
          font-weight: bold;
          font-size: 1.1rem;
          color: #403f3b;

          &:hover {
            &::after {
              right: -20px;
            }
          }

          &::after {
            content: '';
            position: absolute;
            right: -15px;
            transition: right 0.5s $expo;
            top: 52%;
            transform: translateY(-50%);
            background: url('/img/micro-arrow.png') center center no-repeat;
            width: 9px;
            height: 8px;
          }
        }
      }

      p {
        color: #555555;
        font-size: 0.95rem;
        line-height: 20px;
      }

      &:first-child {
        background: url('/img/bucket1.jpg') center center no-repeat;
        background-size: cover;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: -21px;
          width: 1px;
          height: 100%;
          background: #c5c5c5;
        }
      }

      &:last-child {
        background: url('/img/bucket2.jpg') center center no-repeat;
        background-size: cover;
      }
    }
  }

  .news {
    max-width: 800px;
    margin: auto;
    padding-top: 30px;

    .news-buttons {
      margin: 5px 20px;
    }
  }

  .intro {
    max-width: 520px;
    margin: auto;
    text-align: center;
    padding-top: 35px;

    h3 {
      color: #5a5c5e;
      font-weight: normal;
    }

    .line-break {
      position: relative;
      margin: 20px;

      img {
        width: 40px;
      }

      &::before, &::after {
        content: '';
        position: absolute;
        width: 42%;
        height: 1px;
        background: #000;
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  .social-feed {
    max-width: 800px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .twitter {
      position: relative;

      &::before {
        width: 43px;
        height: 30px;
        background: url('/img/icon-twitter-red.png') center center no-repeat;
      }
    }

    .facebook {
      position: relative;

      &::before {
        width: 18px;
        height: 38px;
        background: url('/img/icon-facebook-red.png') center center no-repeat;
      }
    }

    .facebook-container, .twitter-container {
      position: relative;
      margin: 20px;
      flex: 1 1 345px;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .twitter-container {
      &::after {
        height: 50px;
        width: 40px;
        background: url('/img/icon-twitter-red.png') center center no-repeat;
      }
    }

    .facebook-container {
      &::after {
        height: 54px;
        width: 40px;
        background: url('/img/icon-facebook-red.png') center center no-repeat;
      }
    }



    .facebook, .twitter {
      position: relative;
      height: 370px;
      background: #ebebeb;

      &::before {
        content: '';
        position: absolute;
        bottom: -11px;
        left: 50%;
        width: 23px;
        height: 11px;
        transform: translateX(-50%);
        background: url('/img/grey-block-down.png') center center no-repeat;
      }
    }

    .social-link {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 48px 43px -19px inset;
      width: 100%;
      height: 148px;
      background: $primary;
    }
  }

  .calendar-area {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .instagram-photos {
    position: relative;
    height: 100%;
    background: #ebebeb;

    .photos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 800px;
      margin: auto;
      height: 100%;

      .item, .item2 {
        flex: 0 0 200px;
        height: 200px;
      }

      .item {
        background: #403f3b;
      }

      .item2 {
        background: #808080;
      }
    }
  }
}

footer {
  background: #5a5f62;

  .footer-content {
    max-width: 755px;
    padding: 30px 0;
    margin: auto;

    .top {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .contact {
        flex: 1 1 300px;
        padding: 0 20px 25px;
        color: #e1e7e7;
        line-height: 23px;

        .social {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          img {
            padding-right: 10px;
          }
        }

        >h4 {
          @include judo-hr-light(#fff, #5a5f62);
          position: relative;
          max-width: 234px;
          font-size: 1.25rem;
          padding-bottom: 25px;
          margin-bottom: 32px;
        }

        p {
          margin: 0;
          font-size: 0.9rem;

          a {
            text-decoration: none;
            font-weight: bold;
          }
        }
      }

      .map {
        background: url('/img/gmap.jpg') center center no-repeat;
        background-size: cover;
        flex: 1 1 300px;
        padding: 10px;
        max-height: 273px;
        min-height: 273px;
      }
    }

    .bottom {
      text-align: center;
      padding: 80px 20px 100px;
      color: #fff;

      p {
        margin: 0;
      }

      .sponsors {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px 0 35px;

        img {
          padding: 20px 25px;
        }
      }

      em {
        color: #aeafb1;
        font-style: normal;
        font-size: 0.9rem;
        line-height: 25px;
      }
    }
  }
}
