<template>
  <div class="message-list">
    <message-filter v-if="showFilter" @filterChange="filterUsing" />

    <list :items="filteredMessages" item-name="message">
      <!-- Message row content -->
      <template slot="row" slot-scope="props">
        <router-link :to="`/dashboard/messages/${props.item.id}`">
          <avatar :show-belt="true" :username="props.item.from.username"/>
          <div class="info">
            <small>{{ props.item.from.username }}</small>
            <h3 :style="{ fontWeight: (props.item.unread ? 'bold' : 'normal') }">{{ props.item.subject }}</h3>
          </div>
          <div class="date">
            {{ formatDate(props.item.created_at, 'YYYY-MM-DD') }}
          </div>
        </router-link>
      </template>

      <!-- Message action buttons -->
      <template slot="btns" slot-scope="props">
        <list-delete-btn @delete="deleteMessage(props.item)" />
      </template>
    </list>
  </div>
</template>

<script>
  import Vue from 'vue'

  import { APIRequest } from '@/apiHelper.js'
  import { format } from 'date-fns'

  import Avatar from '../../../components/user/Avatar'
  import MessageFilter from './MessageFilter'

  import List from '../../generic/List'
  Vue.use(List)

  export default {
    props: {
      messages: {
        required: true,
        type: Array
      },
      showFilter: {
        default: true,
        type: Boolean
      }
    },
    data () {
      return {
        filter: (x) => x,
        filteredMessages: this.messages
      }
    },
    methods: {
      deleteMessage (message) {
        APIRequest('DELETE', `messages/${message.id}`)
          .then((res) => {
            if (res.success) {
              this.$store.commit('SHOW_ERROR', { message: `Deleted message from ${message.from.username}` })
              this.$emit('refresh')
              this.$store.dispatch('refreshNotifications')
            } else {
              this.$store.commit('SHOW_ERROR', { message: `Could not delete message` })
            }
          })
      },
      filterUsing (filter) {
        this.filter = filter
        this.filteredMessages = filter(this.messages)
      },
      formatDate: format
    },
    mounted () {
      this.$watch('messages', () => this.filterUsing(this.filter))
    },
    components: { Avatar, MessageFilter }
  }
</script>
