<template>
  <page title="Club members" :icon="require('../../assets/img/icon-members.svg')">

    <!-- Filter options -->
    <select @change="updateFilter($event.target.value, 'filterActive')" :value="$route.query.filterActive">
      <option value="">All</option>
      <option value="paid">Paid</option>
      <option value="unpaid">Unpaid</option>
    </select>

    <input type="text" @keyup="updateFilter($event.target.value, 'filterSearch')" :value="$route.query.filterSearch"/>
    <!-- // End filter options // -->

    <members-list :members="filteredMembers"/>
  </page>
</template>

<script>
  import { APIRequest } from '../../apiHelper'

  import MembersList from '../../components/dojoshu/MemberList'

  export default {
    data () {
      return {
        members: []
      }
    },
    methods: {
      refreshList () {
        APIRequest('GET', `clubs/${this.$store.state.user.loggedInAs.clubs[0].id}/users`)
        .then((res) => {
          if (res.success) {
            this.members = res.users
          }
        })
      },
      updateFilter (value, filterName) {
        this.$router.push({
          path: this.$route.path,
          query: { ...this.$route.query, [filterName]: value }
        })
      }
    },
    computed: {
      filteredMembers () {
        let members = Array.from(this.members)
        if (this.$route.query.filterActive === 'paid') members = members.filter((member) => member.active === true)
        if (this.$route.query.filterActive === 'unpaid') members = members.filter((member) => member.active === false)

        if (this.$route.query.filterSearch) {
          let search = this.$route.query.filterSearch.split(' ')
          members = members.filter((member) => {
            return search.reduce((acc, query) => {
              let searchRegExp = new RegExp(this.$route.query.filterSearch, 'ig')
              return acc || (searchRegExp.test(member.firstname) || searchRegExp.test(member.lastname) || searchRegExp.test(member.username))
            }, false)
          })
        }

        return members
      }
    },
    mounted () {
      this.refreshList()
    },
    components: { MembersList }
  }
</script>
