<template>
  <page title="Join Requests" :icon="require('../../assets/img/icon-member-reguest.svg')">
    <div v-if="requests.length">
      <club-requests-list
        @refresh="refreshList"
        :requests="requests" />
    </div>
    <div v-else>
      <alert :dismissable="false" title="No pending join requests" content="Members can join your club by going to the club information page, and clicking the join button. You can not add members with out them completing that step." />
    </div>
  </page>
</template>

<script>
  import { APIRequest } from '../../apiHelper'

  import Alert from '../../components/generic/Alert'
  import ClubRequestsList from '../../components/dojoshu/ClubRequestsList'

  export default {
    data () {
      return {
        requests: []
      }
    },
    methods: {
      refreshList () {
        APIRequest('GET', `clubs/${this.$store.state.user.loggedInAs.clubs[0].id}/users`)
        .then((res) => {
          if (res.success) {
            this.requests = res.requests
          }
        })
      }
    },
    mounted () {
      this.refreshList()
    },
    components: { Alert, ClubRequestsList }
  }
</script>
