<template>
  <page>
    <AccessForm />
  </page>
</template>

<script>
  import AccessForm from '@/components/user/AccessForm'

  export default {
    mounted () {
      if (this.$store.state.user.verified && this.$store.state.user.loggedIn) this.$router.push('/dashboard')
      else {
        this.$watch('$store.state.user.verified', () => {
          if (this.$store.state.user.loggedIn) this.$router.push('/dashboard')
        })
      }
    },
    components: { AccessForm }
  }
</script>

<style scoped>
  .page {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: columns;
    max-width: 100vw !important;
    min-height: 400px;
    height: 100%;
    background: url('../assets/img/badge-bg.png') top left 10vw no-repeat #f00;
  }
</style>
