<template>
  <div class="page">
    <div v-if="title" class="page-header">
      <div class="title">
        <div v-if="icon" class="icon">
          <img :src="icon" />
        </div>
        <h3>{{ title }}</h3>
      </div>
      <div v-if="buttons"><router-link class="router-button" to="/dojoshu/events">Back</router-link></div>
      <div v-if="newEvent"><router-link class="router-button" to="/dojoshu/events/new">New Event</router-link></div>
      <div v-if="backMessage"><router-link class="router-button" to="/dashboard/messages">Back</router-link></div>
    </div>
    <slot></slot>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String
      },
      icon: {
        type: String
      },
      buttons: false,
      newEvent: false,
      backMessage: false
    }
  }
</script>

<style lang="scss">
  @media screen and (max-width: 500px) {
    .row {
      flex-wrap: wrap;
      padding-top: 20px;
    }
  }

  .title {
    display: flex;
  }

  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 580px;
    width: 100%;
    padding-top: 8px;

    > strong {
      flex: 0 0 100px;
    }

    .user-input {
      .right {
        strong {
          min-width: 120px;
        }
      }
    }

    &.textarea {
      max-width: 450px !important;
      align-items: flex-start;

      strong {
        padding-top: 13px;
      }

      textarea {
        -webkit-appearance: none;
        margin: 0;
        padding: 10px 10px;
        border: none;
        background: #ebebeb;
        width: 100%;
        min-height: 100px;
        margin: 6px 0;
      }
    }

    input {
      border: none;
      background: #ebebeb;
      width: 100%;
      padding: 10px 15px;
      margin: 6px 0;
    }
  }

  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border-bottom: 1px solid #bcbec0;
    margin-bottom: 30px;

    h3 {
      font-size: 2.1875rem;
      padding-left: 20px;
      border-left: 1px solid #bcbec0;
      margin: 20px 0;
      font-weight: bold;
      font-family: Arial, sans-serif;
    }

    .icon {
      display: flex;
      align-items: center;
      padding: 5px 15px 5px 10px;

      img {
        width: 32px;
      }
    }
  }
</style>
