<template>
  <page newMessage="true" title="Inbox" :icon="require('../../assets/img/icon-mail.svg')">
    <message-list :messages="inbox" @refresh="refreshInbox" />
    <div v-if="!inbox.length">
      <alert :dismissable="false" title="Empty Inbox" content="You currently don't have any messages. Notices from your club, Judo Ontario, and other members will appear here as they come in." />
    </div>
  </page>
</template>

<script>
  import { APIRequest } from '@/apiHelper.js'

  import Alert from '../../components/generic/Alert'
  import MessageList from '../../components/messages/MessageList'

  export default {
    data () {
      return {
        inbox: []
      }
    },
    components: { MessageList, Alert },
    methods: {
      refreshInbox () {
        APIRequest('GET', 'messages')
          .then((res) => {
            if (res.success) {
              this.inbox = res.messages.reverse()
            } else {
              this.error = res.message
            }
          })
      }
    },
    mounted () {
      this.refreshInbox()
    }
  }
</script>
