<template>
  <page backMessage="true" :icon="require('../../assets/img/icon-mailopened.svg')" :title="`Message from ${message.from.username}`">
    <h3>{{ message.subject }}</h3>
    <strong>From: {{ message.from.username }}</strong>
    <p>{{ message.content }}</p>
  </page>
</template>

<script>
  import { APIRequest } from '@/apiHelper.js'

  export default {
    props: {
      messageID: {
        required: true
      }
    },
    data () {
      return {
        message: {
          subject: '',
          from: '',
          content: ''
        }
      }
    },
    mounted () {
      APIRequest('GET', `messages/${this.messageID}`)
        .then((res) => {
          if (res.success) {
            this.message = res.message
            this.$store.dispatch('refreshNotifications')
          } else {
            this.error = res.message
          }
        })
    }
  }
</script>
