<template>
  <page backMessage="true" title="New Message"  :icon="require('../../assets/img/icon-sent.svg')">
    <div class="row">
      <strong>To:</strong>
      <user-input v-model="to" />
    </div>
    <div class="row">
      <strong>Subject:</strong>
      <input type="text" v-model="subject" />
    </div>
    <div class="row textarea">
      <strong>Message:</strong>
      <textarea v-model="message"></textarea>
    </div>
    <div @click="send" class="judo-btn">send</div>
  </page>
</template>

<script>
  import { APIRequest } from '@/apiHelper.js'

  import UserInput from '../../components/generic/UserInput'

  export default {
    data () {
      return {
        to: '',
        subject: '',
        message: ''
      }
    },
    methods: {
      send () {
        APIRequest('POST', 'messages', {
          to: this.to,
          subject: this.subject,
          content: this.message
        }).then((res) => {
          if (res.success) {
            this.$store.commit('SHOW_ERROR', {
              message: 'Sent!'
            })
            this.$store.dispatch('refreshNotifications')
          } else {
            this.$store.commit('SHOW_ERROR', res)
          }
        })
      }
    },
    components: { UserInput }
  }
</script>

<style lang="scss" scoped>
  .judo-btn {
    margin-left: 100px !important;

    @media screen and (max-width: 500px) {
      margin-left: 0 !important;
    }
  }
</style>
