<template>
  <div class="breadcrumbs" v-if="shown">
    <router-link v-for="path in paths" :key="path.route" :to="path.route" :class="path.name === 'New' ? 'new' : ''">
      {{ path.name }}
    </router-link>
  </div>
</template>

<script>
  export default {
    computed: {
      shown () {
        return this.$route.meta.authRequired
      },
      paths () {
        let path = this.$route.path.replace(/\/$/, '').split('/')
        path = path.map((route, index) => {
          return {
            name: (route[0] || '').toUpperCase() + route.slice(1).replace(/[^A-Za-z0-9]/g, ' '),
            route: path.slice(0, index + 1).reduce((url, routeName) => {
              return url + routeName + '/'
            }, '')
          }
        })
        path[0].name = 'Dashboard'
        path[0].route = '/dashboard'
        path = path.slice(1)
        return path
      }
    }
  }
</script>

<style lang="scss">
  .breadcrumbs {
    color: #555;
    padding: 20px 30px;
    max-width: 720px;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    a+* {
      &::before {
        content: '/'
      }
    }

    a.new {
      background: #454545;
      color: #FFF;
      font-size: 0.7rem;
      padding: 5px 7px;
      border-radius: 4px;
      margin-left: 5px;
      transform: translateY(-2px);
      display: inline-block;
      text-decoration: none;
      font-weight: bold;

      &::before {
        display: none;
      }
    }
  }
</style>
