<template>
  <header>
    <ad-region region="site-header" size="leaderboard" />
    <div class="navigation-container">
      <div class="navigation-bar">
        <div class="menu-btn">
          <img :src="require('@/assets/img/menu-btn.jpg')">
        </div>
        <div class="logo">
          <a :href="$root.env.NODE_ENV === 'development' ? 'http://localhost:8080/' : '/'">
            <img :src="require('@/assets/img/logo.svg')" alt="Judo Ontario Logo">
          </a>
        </div>
        <div class="controls">
          <div v-if="!$store.state.user.loggedIn" class="control-group">
            <div class="btn search">
              <img :src="require('@/assets/img/icon-search.jpg')" alt="Search Icon"/>
            </div>
            <div class="btn login">
              <router-link :to="{ path: '/login', query: { redirect: $route.path } }">
                LOG-IN
              </router-link>
            </div>
          </div>

          <div v-if="$store.state.user.loggedIn" class="control-group user-tools">
            <strong v-text="`${user.firstname} ${user.lastname}`"></strong>
            <span>
              <div class="avatar" :style="{ backgroundImage: `url(${StaticFile(user.avatar)})` }"></div>
            </span>
            <div class="btn login">
              <a @click="logout">
                LOG-OUT
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <tools-menu v-if="$store.state.user.loggedIn" />

    <breadcrumbs />
  </header>
</template>

<script>
  import { StaticFile } from '@/apiHelper.js'

  import AdRegion from '@/components/generic/AdRegion'
  import ToolsMenu from './ToolsMenu'
  import Breadcrumbs from './Breadcrumbs'

  export default {
    components: { AdRegion, ToolsMenu, Breadcrumbs },
    computed: {
      user () {
        return this.$store.state.user.loggedInAs
      }
    },
    methods: {
      logout () {
        this.$store.dispatch('logout').then(() => {
          this.$router.push('/login')
        })
      },
      StaticFile
    }
  }
</script>

<style lang="scss">
  @import '../../assets/sass/app.scss';

  header {
    .navigation-container {
      width: 100vw;
      background: #FFF;
      box-shadow: 0 0 25px rgba(30, 33, 38, 0.2);
      z-index: 9999;
      position: relative;

      .navigation-bar {
        margin: 0 auto;
        max-width: 970px;
        display: flex;
        align-items: center;
        padding: 30px;

        .menu-btn {
          position: relative;
          padding: 16px;
          margin-right: 15px;
          cursor: pointer;

          &::after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: #bcbec0;
            width: 1px;
            height: 85px;
          }
        }

        .logo {
          flex: 1 1 300px;

          a {
            display: block;

            img {
              max-height: 85px;
            }
          }
        }

        .controls {
          display: flex;
          flex: 1 1 100%;
          justify-content: flex-end;

          .control-group {
            display: flex;
            align-items: center;
            font-family: $cond;

            >span {
              margin: 0 15px 0 10px;
            }

            >a {
              color: #F00;
              font-weight: bold;
            }

            >a + .btn {
              margin-left: 20px;
            }
          }

          .avatar {
            height: 45px;
            width: 45px;
            border-radius: 100%;
            background-color: #343434;
            background-size: cover;
            background-position: center;
          }

          .btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1px solid #c7c7c7;
            background: #FFF;
            height: 52px;
            min-width: 52px;
            margin-right: 15px;
            color: $grey;
            font-family: $cond;
            font-weight: bold;
            line-height: 0;
            cursor: pointer;
            padding: 0 13px;

            a {
              display: block;
              height: 100%;
              width: 100%;
              color: inherit;
              text-decoration: none;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            &::before {
              content: '';
              display: block;
              height: 8px;
              width: 8px;
              border: inherit;
              border-right: 0;
              border-top: 0;
              position: absolute;
              left: -1px;
              top: 50%;
              transform: translate(-50%, -50%) rotate(45deg);
              background: inherit;
            }

            &:hover {
              background: lighten($grey, 70);
            }

            &:active {
              background: lighten($grey, 60);
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
</style>
