<template>
  <div class="approve-btn" @click="approveItem">
    <img src="../../../assets/img/icon-approve.svg" alt="Approve Item" />
  </div>
</template>

<script>
  export default {
    methods: {
      approveItem () {
        this.$emit('approve')
      }
    }
  }
</script>
