<template>
  <div class="delete-btn" @click="deleteItem">
    <img src="../../../assets/img/icon-close.svg" alt="Delete Item" />
  </div>
</template>

<script>
  export default {
    props: {
      itemInfo: {
        type: String,
        required: false,
        default: ''
      }
    },
    methods: {
      deleteItem () {
        this.$modal.new({
          title: `Are you sure you want to delete this ${this.$parent.itemName || 'item'}?`,
          buttons: [
            {
              text: 'Yes',
              action: (modal) => {
                this.$emit('delete')
                modal.closeModal()
              },
              colour: 'green'
            },
            {
              text: 'No',
              action: (modal) => {
                modal.closeModal()
              },
              colour: 'red'
            }
          ]
        }, `
          <strong>
            ${this.itemInfo}
          </strong>
        `)
      }
    }
  }
</script>
