<template>
  <div class="list">
    <div v-for="item in items" :key="item.id" class="item">
      <slot name="row" :item="item" />
      <div class="btns">
        <slot name="btns" :item="item" />
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      items: {
        required: true,
        type: Array
      },
      itemName: {
        required: false,
        type: String
      }
    }
  }
</script>

<style lang="scss">
  .list {
    .item {
      display: flex;
      padding: 14px 4px 14px 18px;
      transform: scale(1);
      box-shadow: 0 0 0 rgba(30,30,30,0);
      transition: 0.2s all ease-out;

      &:hover {
        transform: scale(1.025);
        box-shadow: 0 0 30px rgba(30,30,30,0.1);
      }

      .icon {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid #ebebeb;
        height: 100%;
        display: flex;
        align-items: center;
      }

      >a,
      .request-container {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        max-width: 612px;
        position: relative;

        .info {
          flex: 1 1 320px;
          position: relative;
          width: calc(100% - 160px);

          >* { word-wrap: break-word }

          span {
            display: block;
          }

          small {
            font-size: 0.8rem;
          }

          h3 {
            margin: 0;
            font-size: 1.1rem;
            width: 100%;
            padding-right: 20px;
          }
        }

        .date {
          font-size: 0.85rem;
        }
      }

      .btns {
        display: flex;
        padding: 0 20px;
        border-left: 1px solid #363636;
        margin-left: 20px;

        .delete-btn {
          margin-left: 15px;

          &::after {
            background: rgb(236, 160, 160);
          }
        }

        .approve-btn {
          &::after {
            background: rgb(154, 230, 185);
          }
        }

        .delete-btn,
        .approve-btn {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 45px;
            width: 45px;
            z-index: -1;
            border-radius: 100%;
            transform: translate(-50%, -50%) scale(0);
            transition: 0.2s all ease-out;
          }

          &:hover {
            &::after {
              transform: translate(-50%, -50%) scale(1);
            }
          }

          >img {
            width: 25px;
          }
        }
      }
    }
  }
</style>
