<template>
  <page newEvent="true" title="Manage Events" :icon="require('../../assets/img/icon-scoreboard.svg')">
    <event-list :events="events" @refresh="refreshEvents" />
  </page>
</template>

<script>
  import { APIRequest } from '@/apiHelper.js'

  import EventList from '../../components/events/EventList'

  export default {
    data () {
      return {
        events: []
      }
    },
    methods: {
      refreshEvents () {
        APIRequest('GET', `clubs/${this.$store.state.user.loggedInAs.clubs[0].id}/events`)
          .then((res) => {
            if (res.success) {
              this.events = res.events
            } else {
              this.$store.commit('SHOW_ERROR', res)
            }
          })
      }
    },
    mounted () {
      this.refreshEvents()
    },
    components: { EventList }
  }
</script>
