<template>
  <page buttons="true" title="Edit an event" :icon="require('../../assets/img/icon-new-event.svg')">
    <event-builder :id="parseInt($route.params.id)" />
  </page>
</template>

<script>
  import EventBuilder from '../../components/events/EventBuilder'

  export default {
    components: { EventBuilder }
  }
</script>
