<template>
  <page buttons="true" title="Create a new event" :icon="require('../../assets/img/icon-new-event.svg')">
    <event-builder />
  </page>
</template>

<script>
  import EventBuilder from '../../components/events/EventBuilder'

  export default {
    components: { EventBuilder }
  }
</script>
