<template>
  <div class="filter-container">
    <div class="tools-area">
      <router-link class="router-button" to="/dashboard/messages/new">New Message</router-link>
      <div @click="toggle" class="custom-search">Custom Search</div>
    </div>
    <div :class="'date-filter ' + (toggleContent ? 'visible' : '')">
      <section>
        <label>
          <input checked name="filter" type="radio" />
          Filter by Date Range
        </label>
        <div class="rows">
          <div class="row">
            <label>
              From:
            </label>
            <div class="select-area">
              <select v-model="dateRange.from.month" @change="emitChange">
                <option v-for="month in MONTHS"
                  :key="month.key"
                  :value="month.key"
                  v-text="month.name">
                </option>
              </select>
            </div>
            <div class="select-area">
              <select v-model="dateRange.from.day" @change="emitChange">
                <option v-for="i in maxDay(dateRange.from.month)" :key="i" :value="i">
                  {{ i }}
                </option>
              </select>
            </div>
            <div class="select-area">
              <select v-model="dateRange.from.year" @change="emitChange">
                <option v-for="i in MAX_SEARCHABLE_YEARS" :key="i" :value="CURRENT_YEAR + 1 - i">
                  {{ CURRENT_YEAR + 1 - i }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <label>
              To:
            </label>
            <div class="select-area">
              <select v-model="dateRange.to.month" @change="emitChange">
                <option v-for="month in MONTHS"
                  :key="month.key"
                  :value="month.key"
                  v-text="month.name">
                </option>
              </select>
            </div>
            <div class="select-area">
              <select v-model="dateRange.to.day" @change="emitChange">
                <option v-for="i in maxDay(dateRange.to.month)" :key="i" :value="i">
                  {{ i }}
                </option>
              </select>
            </div>
            <div class="select-area">
              <select v-model="dateRange.to.year" @change="emitChange">
                <option v-for="i in MAX_SEARCHABLE_YEARS" :key="i" :value="CURRENT_YEAR + 1 - i">
                  {{ CURRENT_YEAR + 1 - i }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </section>
      <section>
        <label>
          <input name="filter" type="radio" />
          Filter by Month
        </label>
        <div class="rows">
          <div class="row">
            <div class="inline-el">
              <label>
                Month:
              </label>
              <select v-model="monthRange.month" @change="emitChange">
                <option v-for="month in MONTHS"
                  :key="month.key"
                  :value="month.key"
                  v-text="month.name">
                </option>
              </select>
            </div>
            <div class="inline-el">
              <label>
                Year:
              </label>
              <select v-model="monthRange.year" @change="emitChange">
                <option v-for="i in MAX_SEARCHABLE_YEARS" :key="i" :value="CURRENT_YEAR + 1 - i">
                  {{ CURRENT_YEAR + 1 - i }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </section>
      <div @click="toggle" class="close-btn">
        <img src="../../../../assets/img/icon-close.svg"/>
      </div>
    </div>
  </div>
</template>

<script>
  import { isBefore, isAfter } from 'date-fns'
  import * as CONSTANTS from './constants'

  export default {
    data () {
      return {
        toggleContent: false,
        dateRange: {
          from: {
            month: 'JAN',
            day: '1',
            year: '2017'
          },
          to: {
            month: 'JAN',
            day: '1',
            year: '2017'
          }
        },
        monthRange: {
          month: 'JAN',
          year: '2017'
        },
        ...CONSTANTS
      }
    },
    computed: {
      dateRangeDates () {
        return {
          from: new Date(`${this.dateRange.from.month} ${this.dateRange.from.day} ${this.dateRange.from.year}`),
          to: new Date(`${this.dateRange.to.month} ${this.dateRange.to.day} ${this.dateRange.to.year}`)
        }
      },
      monthRangeDate () {
        return new Date(`${this.monthRange.month} ${this.maxDay(this.monthRange.month)} ${this.monthRange.year}`)
      }
    },
    methods: {
      toggle () {
        this.toggleContent = !this.toggleContent
      },
      maxDay (month) {
        if (month === 'APR' || month === 'JUN' || month === 'SEP' || month === 'NOV') {
          return 30
        } else if (month === 'JAN' || month === 'MAR' || month === 'MAY' || month === 'JUL' || month === 'AUG' || month === 'OCT' || month === 'DEC') {
          return 31
        }
        return 28
      },
      emitChange () {
        this.$emit('filterChange', (messages) => {
          return messages.filter((message) => {
            const messageFrom = new Date(message.created_at)
            return isBefore(messageFrom, new Date(this.dateRangeDates.to)) && isAfter(messageFrom, new Date(this.dateRangeDates.from))
          })
        })
      }
    },
    mounted () {
      this.$watch('dateRange.from.month', () => {
        if (this.maxDay(this.dateRange.from.month) < this.dateRange.from.day) {
          this.dateRange.from.day = this.maxDay(this.dateRange.from.month)
        }
      })

      this.$watch('dateRange.to.month', () => {
        if (this.maxDay(this.dateRange.to.month) < this.dateRange.to.day) {
          this.dateRange.to.day = this.maxDay(this.dateRange.to.month)
        }
      })
    }
  }
</script>

<style lang="scss" scoped>
  .tools-area {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .custom-search {
      display: flex;
      align-items: center;
      position: relative;
      text-decoration: underline;
      padding-right: 32px;

      &::after {
        content: '';
        position: absolute;
        background: url('../../../../assets/img/maginfying-glass.jpg') center center no-repeat;
        background-size: cover;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 20px;
      }
    }
  }

  .close-btn {
    position: absolute;
    width: 49px;
    padding: 10px;
    top: 0;
    right: 0;
    cursor: pointer;
  }
</style>
