<template>
  <div class="message-filter">
    <date-filter @filterChange="updateFilter" />
    <label for="sender">Show me messages for</label>
    <select v-model="sender" name="sender">
      <option value="anyone">Anyone</option>
      <option value="dojoshu">My Dojoshu</option>
    </select>
  </div>
</template>

<script>
  import Vue from 'vue'
  import DateFilter from './DateFilter'

  export default {
    data () {
      return {
        sender: 'anyone'
      }
    },
    methods: {
      updateFilter (payload) {
        const sender = this.sender
        this.$emit('filterChange', (messages) => {
          if (typeof payload === 'function') messages = payload(messages)
          return messages.filter((message) => {
            if (sender === 'anyone') return true
            if (sender === 'dojoshu' && message.from.id === this.$store.state.user.loggedInAs.clubs[0].dojoshu.id) return true
            return false
          })
        })
      }
    },
    mounted () {
      this.$watch('sender', this.updateFilter)

      Vue.nextTick(this.updateFilter.bind(this))
    },
    components: { DateFilter }
  }
</script>

<style lang="scss">
  .message-filter {
    .date-filter {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
      margin-bottom: 15px;
      margin-top: 15px;
      padding-top: 0;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s ease-in-out, padding-top 0.5s ease-in-out;

      &.visible {
        max-height: 140px;
        padding-top: 20px;

        @media screen and (max-width: 589px) {
          max-height: 250px !important;
        }
      }

      section {
        flex: 1 1 275px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;

        label {
          font-size: 0.85rem;
        }
      }

      .rows {
        padding: 20px 0;

        .row {
          display: flex;
          justify-content: space-between;
          padding: 6px 0;

          .select-area {
            padding-right: 8px;
          }

          .inline-el {
            flex: 0 0 150px;
          }

          label {
            flex: 0 0 50px;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
</style>
