@media screen and (min-width:768px){.__vev_calendar-wrapper{max-width:1200px;margin:0 auto}.__vev_calendar-wrapper .cal-wrapper{width:50%;padding:100px 50px}.__vev_calendar-wrapper .cal-wrapper .date-num{line-height:50px}.__vev_calendar-wrapper .events-wrapper{width:50%;background-color:#f29543;color:#fff;padding:40px 45px;position:absolute;left:50%;top:0;bottom:0}}@media screen and (max-width:768px){.__vev_calendar-wrapper .cal-wrapper{width:100%;padding:10px 5px}.__vev_calendar-wrapper .cal-wrapper .date-num{line-height:42px}.__vev_calendar-wrapper .events-wrapper{width:100%;margin-top:10px;padding:10px}}.__vev_calendar-wrapper{position:relative;overflow:hidden;width:100%}.__vev_calendar-wrapper *{box-sizing:border-box}.__vev_calendar-wrapper ::-webkit-scrollbar{width:8px;height:8px}.__vev_calendar-wrapper ::-webkit-scrollbar-track{box-shadow:inset 0 0 2px rgba(0,0,0,.2);border-radius:5px}.__vev_calendar-wrapper ::-webkit-scrollbar-thumb{border-radius:5px;background:rgba(0,0,0,.2)}.__vev_calendar-wrapper .cal-wrapper .cal-header{position:relative;width:100%;background-color:#fff;font-weight:500;overflow:hidden;padding-bottom:10px}.__vev_calendar-wrapper .cal-wrapper .cal-header>div{float:left;line-height:20px;padding:15px}.__vev_calendar-wrapper .cal-wrapper .cal-header .title{width:60%;text-align:center}.__vev_calendar-wrapper .cal-wrapper .cal-header .l{text-align:left;width:20%;cursor:pointer;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.__vev_calendar-wrapper .cal-wrapper .cal-header .r{text-align:right;width:20%;cursor:pointer;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.__vev_calendar-wrapper .cal-wrapper .cal-body{width:100%}.__vev_calendar-wrapper .cal-wrapper .cal-body .weeks{width:100%;overflow:hidden;text-align:center;font-size:1rem}.__vev_calendar-wrapper .cal-wrapper .cal-body .weeks .item{line-height:50px;float:left;width:14.285%}.__vev_calendar-wrapper .cal-wrapper .cal-body .dates{width:100%;overflow:hidden;text-align:center;font-size:1rem}.__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item{position:relative;float:left;display:block;width:14.285%;cursor:default;-webkit-tap-highlight-color:rgba(0,0,0,0)}.__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item .date-num{font-size:1rem;position:relative;z-index:3}.__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item.event{cursor:pointer}.__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item.selected-day .is-event{background-color:#f29543}.__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item .is-event{content:"";border:1px solid #f29543;background-color:#fff;border-radius:50%;width:36px;height:36px;position:absolute;left:50%;top:50%;z-index:1;margin-left:-18px;margin-top:-19px}.__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item .is-today{content:"";background-color:#f29543;border-radius:50%;opacity:.8;width:12px;height:4px;position:absolute;left:50%;top:50%;z-index:2;margin-left:-6px;margin-top:8px}.__vev_calendar-wrapper .events-wrapper{border-radius:10px}.__vev_calendar-wrapper .events-wrapper .cal-events{height:95%;overflow-y:auto;padding:0 5px;margin:15px 0}.__vev_calendar-wrapper .events-wrapper .date{max-width:60%;min-width:200px;text-align:center;color:#fff;background-color:rgba(0,0,0,.2);border-radius:20px;margin:0 auto;font-size:22px}.__vev_calendar-wrapper .events-wrapper .event-item{padding:5px 20px;margin-top:15px;box-shadow:0 3px 11px 2px rgba(0,0,0,.1);background-color:#fff;border-radius:5px;color:#323232;position:relative}.__vev_calendar-wrapper .events-wrapper .event-item:first-child{margin-top:0}.__vev_calendar-wrapper .events-wrapper .event-item .title{height:40px;line-height:40px;color:#323232;font-size:16px;border-bottom:1px solid #f2f2f2}.__vev_calendar-wrapper .events-wrapper .event-item .time{position:absolute;right:30px;top:17px;color:#9b9b9b;font-size:14px}.__vev_calendar-wrapper .events-wrapper .event-item .desc{color:#9b9b9b;font-size:14px;padding:7px 0}.__vev_calendar-wrapper .arrow-left.icon{color:#000;position:absolute;left:6%;margin-top:10px}.__vev_calendar-wrapper .arrow-left.icon:before{content:"";position:absolute;left:1px;top:-5px;width:10px;height:10px;border-top:1px solid currentColor;border-right:1px solid currentColor;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}.__vev_calendar-wrapper .arrow-right.icon{color:#000;position:absolute;right:6%;margin-top:10px}.__vev_calendar-wrapper .arrow-right.icon:before{content:"";position:absolute;right:1px;top:-5px;width:10px;height:10px;border-top:1px solid currentColor;border-right:1px solid currentColor;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.__vev_calendar-wrapper h3,.__vev_calendar-wrapper p{margin:0;padding:0}
html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
body,
html {
  margin: 0;
  overflow-x: hidden;
}
body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;
}
body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
}
body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF;
}
body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
body,
html {
  margin: 0;
  overflow-x: hidden;
}
body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;
}
body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
}
body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF;
}
body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.test {
  transition: height 0.5s ease-in-out;
  overflow: hidden;
  color: #181718;
  font-family: Arial;
}
.test > .title {
    background: #ebebeb;
    padding: 12px 20px;
    margin-bottom: 7px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4rem;
}
.test a {
    pointer-events: none;
    text-decoration: none;
    display: block;
    background: #ebebeb;
    padding: 20px;
}
.test.active a {
    pointer-events: all;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
body,
html {
  margin: 0;
  overflow-x: hidden;
}
body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;
}
body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
}
body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF;
}
body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
body,
html {
  margin: 0;
  overflow-x: hidden;
}
body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;
}
body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
}
body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF;
}
body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div .menu-btn {
  position: relative;
  padding: 16px;
  margin-right: 15px;
  cursor: pointer;
}
div .menu-btn::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #bcbec0;
    width: 1px;
    height: 85px;
}
div .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 10px 20px;
}
div .top-bar h4 {
    position: relative;
    margin: 0;
    font-size: 2.05rem;
    cursor: pointer;
    padding-left: 15px;
}
div .top-bar h4::before {
      content: '';
      position: absolute;
      left: -19px;
      top: 50%;
      transform: translateY(-50%);
      width: 29px;
      height: 24px;
      background: url("/img/arrow-curved-left.png") center center no-repeat;
}
div .top-bar .close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    width: 100%;
    font-size: 1.175rem;
    font-weight: bold;
    cursor: pointer;
}
div .top-bar .close img {
      max-width: 50px;
}
div nav {
  width: 100vw;
  position: absolute;
  background: #fff;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 999;
}
div nav.active {
    transform: translateX(0);
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
body,
html {
  margin: 0;
  overflow-x: hidden;
}
body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;
}
body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
}
body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF;
}
body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.breadcrumbs {
  position: relative;
}
.breadcrumbs ul.breadcrumb {
    padding: 30px 16px;
    list-style: none;
    background: #fff;
}
.breadcrumbs ul.breadcrumb li {
      display: inline;
      font-size: 0.9rem;
      color: #403f3b;
      font-family: Arial;
}
.breadcrumbs ul.breadcrumb li:first-child a {
        text-decoration: underline;
}
.breadcrumbs ul.breadcrumb li a {
        cursor: pointer;
        color: inherit;
        text-decoration: none;
}
.breadcrumbs ul.breadcrumb li a:hover {
          text-decoration: underline;
}
.breadcrumbs ul.breadcrumb li + li:before {
      content: ">\A0";
      padding: 8px 5px 8px 11px;
      color: #000;
}

.zone {
  position: relative;
  width: 100%;
  background: #ebebeb;
  padding: 11px 0 25px;
  min-height: 90px;
}
.zone .notice {
    height: 100%;
    width: 100vw;
    max-width: 970px;
    margin: 0 auto;
    padding: 5px 40px;
    text-align: center;
}
.zone .ad {
    width: 100%;
    margin: 0 auto;
    text-align: right;
    position: relative;
}
.zone .ad.leaderboard {
      max-width: 768px;
}
.zone .ad img {
      width: 100%;
}
.zone .ad span {
      display: block;
      color: #aeafb1;
      font-size: 0.65rem;
      margin-bottom: 5px;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
body,
html {
  margin: 0;
  overflow-x: hidden;
}
body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;
}
body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
}
body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF;
}
body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
body,
html {
  margin: 0;
  overflow-x: hidden;
}
body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;
}
body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
}
body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF;
}
body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 20px;
  padding: 15px 0;
  border-bottom: 1px solid #c5c5c5;
}
article .image-container {
    position: relative;
    flex: 0 0 204px;
    width: 204px;
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c2c2c2;
}
article .image-container::after {
      content: '';
      position: absolute;
      right: -12px;
      top: 52%;
      width: 12px;
      height: 22px;
      transform: translateY(-50%);
      background: url("/img/right-triangle.jpg") center center no-repeat;
}
article .image-container .image-area {
      width: 188px;
      height: 132px;
}
article .image-container .image-area.article1 {
        background: url("/img/article1.jpg") center center no-repeat;
        background-size: cover;
}
article .article-content {
    font-family: Arial;
    padding-left: 45px;
    flex: 1 1 240px;
}
article .article-content span#date {
      font-style: italic;
      font-size: .85rem;
}
article .article-content a {
      text-decoration: none;
}
article .article-content a span#read-more {
        position: relative;
        font-size: .9rem;
}
article .article-content a span#read-more:hover::after {
          right: -18px;
}
article .article-content a span#read-more::after {
          content: '';
          position: absolute;
          right: -13px;
          transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
          top: 52%;
          transform: translateY(-50%);
          width: 9px;
          height: 8px;
          background: url("/img/red-micro-arrow-right.jpg") center center no-repeat;
}
article .article-content h4 {
      margin: 0;
      padding-bottom: 7px;
      color: #ff0000;
      font-size: 1.375rem;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
body,
html {
  margin: 0;
  overflow-x: hidden;
}
body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;
}
body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
}
body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF;
}
body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Effects
 */
.effect {
  /**
   * Vertical Fade-in
   * mode = 'fade-ver'
   */
  /**
   * Horizontal Fade-in
   * mode = 'fade-hor'
   */
  /**
   * Text spread
   * mode = 'spread'
   */
}
.effect.fade-ver-hold {
    opacity: 0;
    transform: translateY(-50px);
}
.effect.fade-ver-in {
    animation: fadeverin 3s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal;
    animation-fill-mode: forwards;
}
@keyframes fadeverin {
from {
    opacity: 0;
    transform: translateY(-50px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}
.effect.fade-ver-out {
    animation: fadeverout 600ms cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal;
    animation-fill-mode: forwards;
}
@keyframes fadeverout {
from {
    opacity: 1;
    transform: translateY(0);
}
to {
    opacity: 0;
    transform: translateY(50px);
}
}
.effect.fade-hor-hold {
    opacity: 0;
    transform: translateX(450px) scale(1.5);
}
.effect.fade-hor-in {
    animation: fadehorin 2s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal;
    animation-fill-mode: forwards;
}
@keyframes fadehorin {
from {
    opacity: 0;
    transform: translateX(450px) scale(1.5);
}
to {
    opacity: 1;
    transform: translateX(0) scale(1);
}
}
.effect.fade-hor-out {
    animation: fadehorout 1550ms linear 0s 1 normal;
    animation-fill-mode: forwards;
}
@keyframes fadehorout {
from {
    opacity: 1;
    transform: translateX(0) scale(1);
}
to {
    opacity: 0;
    transform: translateX(450px) scale(1.5);
}
}
.effect.spread-hold {
    transform: perspective(500px) rotateX(90deg) scale(1.25);
}
.effect.spread-in {
    animation: spreadin 2s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal;
    animation-fill-mode: forwards;
}
@keyframes spreadin {
from {
    transform: perspective(500px) rotateX(90deg) scale(1.25);
}
to {
    transform: perspective(0px) rotateX(0deg) scale(1);
}
}
.effect.spread-out {
    animation: spreadout 1550ms linear 0s 1 normal;
    animation-fill-mode: forwards;
}
@keyframes spreadout {
from {
    transform: perspective(0px) rotateX(0deg) scale(1);
}
to {
    transform: perspective(500px) rotateX(90deg) scale(1.25);
}
}
html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

body,
html {
  margin: 0;
  overflow-x: hidden; }
  body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out; }
    body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out; }
    body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF; }
      body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px; }

a {
  color: inherit; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

body,
html {
  margin: 0;
  overflow-x: hidden; }
  body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out; }
    body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out; }
    body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF; }
      body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px; }

a {
  color: inherit; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

body,
html {
  margin: 0;
  overflow-x: hidden; }
  body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out; }
    body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out; }
    body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF; }
      body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px; }

a {
  color: inherit; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

body,
html {
  margin: 0;
  overflow-x: hidden; }
  body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out; }
    body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out; }
    body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF; }
      body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px; }

a {
  color: inherit; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.masthead {
  position: relative;
  min-height: 500px;
  color: #FFF;
  font-family: "acumin-pro-condensed", Arial;
  background-position: center; }
  .masthead::after {
    content: '';
    display: block;
    height: 48px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background: url(/img/pixel-pattern.jpg); }
  .masthead .masthead-content {
    position: absolute;
    bottom: 0;
    left: 10%;
    max-width: 275px;
    padding-bottom: 40px; }
    .masthead .masthead-content h2 {
      display: inline;
      font-size: 5rem;
      font-weight: normal;
      letter-spacing: 1px;
      padding: 0 25px;
      line-height: 125px;
      margin: 0;
      background: #000;
      -webkit-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone; }

.topper {
  margin-top: 48px;
  background: #FFF;
  box-shadow: 0 0 10px rgba(20, 15, 15, 0.45);
  width: 100vw; }
  .topper .topper-content {
    max-width: 970px;
    margin: 0 auto; }

main.interior .content {
  max-width: 755px;
  margin: auto;
  padding: 20px;
  color: #403f3e; }
  main.interior .content h2.bar-arrow {
    position: relative;
    z-index: 2;
    padding-bottom: 30px;
    font-size: 2rem;
    margin-bottom: 45px; }
    main.interior .content h2.bar-arrow::after, main.interior .content h2.bar-arrow::before {
      content: '';
      display: block;
      position: relative; }
    main.interior .content h2.bar-arrow::before {
      position: absolute;
      background: #fff;
      border: 1px solid #221f1f;
      border-width: 0 1px 1px 0;
      z-index: -1;
      bottom: -9px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      height: 17px;
      width: 17px; }
    main.interior .content h2.bar-arrow::after {
      position: absolute;
      background: #221f1f;
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: -2; }
    main.interior .content h2.bar-arrow::before {
      border: 2px solid #221f1f;
      border-width: 0 2px 2px 0; }
    main.interior .content h2.bar-arrow::after {
      height: 2px; }
  main.interior .content h3.subheader {
    font-size: 1rem;
    margin-bottom: 0; }
  main.interior .content p + p {
    margin: 0;
    padding-top: 30px; }
  main.interior .content p {
    line-height: 24px; }
    main.interior .content p a {
      position: relative;
      text-decoration: none;
      color: #ff0000;
      font-weight: bold; }
      main.interior .content p a::after {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        background: #ff0000; }
  main.interior .content .flower {
    position: relative;
    padding-left: 40px;
    font-size: 1.2rem; }
    main.interior .content .flower em {
      font-size: 0.9rem; }
    main.interior .content .flower h4 {
      margin: 0; }
    main.interior .content .flower::before {
      content: '';
      position: absolute;
      left: 0;
      top: 40%;
      transform: translateY(-50%);
      height: 31px;
      width: 31px;
      background-position: center;
      background-repeat: no-repeat; }
    main.interior .content .flower.medium::before {
      background-image: url("/img/flower-medium.png"); }
    main.interior .content .flower.small {
      padding-left: 35px; }
      main.interior .content .flower.small::before {
        background-image: url("/img/flower-small.png"); }
  main.interior .content h3 {
    font-size: 1.3rem; }
  main.interior .content .hall-of-fame {
    position: relative;
    z-index: 2;
    line-height: 30px;
    padding-bottom: 35px; }
    main.interior .content .hall-of-fame::after, main.interior .content .hall-of-fame::before {
      content: '';
      display: block;
      position: relative; }
    main.interior .content .hall-of-fame::before {
      position: absolute;
      background: #fff;
      border: 1px solid #221f1f;
      border-width: 0 1px 1px 0;
      z-index: -1;
      bottom: -9px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      height: 17px;
      width: 17px; }
    main.interior .content .hall-of-fame::after {
      position: absolute;
      background: #221f1f;
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: -2; }
    main.interior .content .hall-of-fame::before {
      border: 2px solid #221f1f;
      border-width: 0 2px 2px 0; }
    main.interior .content .hall-of-fame::after {
      height: 2px; }
    main.interior .content .hall-of-fame.no-padding {
      padding-bottom: 0; }
  main.interior .content .builders-container h4 {
    position: relative;
    z-index: 2;
    padding: 25px 0;
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 55px;
    padding-top: 0; }
    main.interior .content .builders-container h4::after, main.interior .content .builders-container h4::before {
      content: '';
      display: block;
      position: relative; }
    main.interior .content .builders-container h4::before {
      position: absolute;
      background: #fff;
      border: 1px solid #221f1f;
      border-width: 0 1px 1px 0;
      z-index: -1;
      bottom: -9px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      height: 17px;
      width: 17px; }
    main.interior .content .builders-container h4::after {
      position: absolute;
      background: #221f1f;
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: -2; }
    main.interior .content .builders-container h4::before {
      border: 2px solid #221f1f;
      border-width: 0 2px 2px 0; }
    main.interior .content .builders-container h4::after {
      height: 2px; }
  main.interior .content .builders-container .builders {
    display: flex;
    flex-wrap: wrap; }
    main.interior .content .builders-container .builders .builder {
      flex: 0 1 175px;
      padding: 20px 10px;
      line-height: 28px; }
      main.interior .content .builders-container .builders .builder .year span {
        background: #000;
        padding: 6px 12px;
        color: #fff;
        font-weight: bold;
        font-size: 1.375rem; }
      main.interior .content .builders-container .builders .builder p {
        font-weight: bold;
        color: #58595b;
        font-size: 1.375rem; }
  main.interior .content .honors {
    padding-top: 50px; }
    main.interior .content .honors .row {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 2px solid;
      margin-bottom: 35px;
      padding-top: 15px; }
      main.interior .content .honors .row:last-child {
        border-bottom: none; }
      main.interior .content .honors .row .year {
        flex: 1 1 100%; }
        main.interior .content .honors .row .year span {
          background: #000;
          padding: 6px 12px;
          color: #fff;
          font-weight: bold;
          font-size: 1.375rem; }
      main.interior .content .honors .row .honor {
        padding: 20px 100px;
        flex: 1 1 300px;
        line-height: 28px;
        padding-right: 10px;
        padding-left: 0; }
        main.interior .content .honors .row .honor .award-list .award {
          font-weight: bold; }
          main.interior .content .honors .row .honor .award-list .award span {
            color: #ff0000; }
            main.interior .content .honors .row .honor .award-list .award span.extra-info {
              color: inherit;
              font-weight: normal; }
        main.interior .content .honors .row .honor .image-box {
          padding-top: 15px; }
        main.interior .content .honors .row .honor.high-dans {
          padding-top: 30px;
          padding-bottom: 35px;
          line-height: 26px; }
        main.interior .content .honors .row .honor.single {
          padding-left: 0 !important;
          padding-right: 0 !important; }
        main.interior .content .honors .row .honor > h4 {
          font-size: 1.4rem;
          margin: 10px 0 3px; }
          main.interior .content .honors .row .honor > h4.name-list {
            margin: 0;
            font-size: 1.2rem;
            padding-left: 7px; }
        main.interior .content .honors .row .honor p {
          margin-top: 0; }
        main.interior .content .honors .row .honor:last-child {
          padding-right: 0;
          padding-left: 20px; }
  main.interior .content .important .notice {
    position: relative;
    z-index: 2;
    position: relative;
    padding: 50px 0;
    line-height: 30px; }
    main.interior .content .important .notice::after, main.interior .content .important .notice::before {
      content: '';
      display: block;
      position: relative; }
    main.interior .content .important .notice::before {
      position: absolute;
      background: #fff;
      border: 1px solid #221f1f;
      border-width: 0 1px 1px 0;
      z-index: -1;
      bottom: -9px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      height: 17px;
      width: 17px; }
    main.interior .content .important .notice::after {
      position: absolute;
      background: #221f1f;
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: -2; }
    main.interior .content .important .notice::before {
      border: 2px solid #221f1f;
      border-width: 0 2px 2px 0; }
    main.interior .content .important .notice::after {
      height: 2px; }
    main.interior .content .important .notice:last-child {
      padding-bottom: 5px; }
      main.interior .content .important .notice:last-child::after, main.interior .content .important .notice:last-child::before {
        display: none; }
    main.interior .content .important .notice span {
      background: #ff0000;
      font-size: 1.2rem;
      padding: 7px 30px 4px;
      color: #fff;
      letter-spacing: 0.5px;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 15px; }
    main.interior .content .important .notice a {
      position: relative;
      text-decoration: none;
      color: #ff0000;
      font-weight: bold; }
      main.interior .content .important .notice a::after {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 3px;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        background: #ff0000; }
  main.interior .content .steps {
    counter-reset: steps; }
    main.interior .content .steps a {
      text-decoration: none;
      font-weight: bold; }
      main.interior .content .steps a .create-an-account {
        max-width: 385px;
        margin: auto;
        margin-top: 50px;
        background: #e1e1e1;
        padding: 10px;
        color: #403f3b;
        text-align: center;
        border-radius: 7px; }
    main.interior .content .steps .step {
      counter-increment: steps;
      line-height: 30px;
      padding: 10px 0; }
      main.interior .content .steps .step h4 {
        position: relative;
        padding-left: 55px;
        padding-top: 5px;
        padding-bottom: 5px; }
        main.interior .content .steps .step h4::before {
          content: counter(steps);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 1.3rem;
          padding-top: 1px;
          width: 37px;
          height: 37px;
          background: #ff0000;
          left: 0;
          top: 50%;
          transform: translateY(-50%); }

html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

body,
html {
  margin: 0;
  overflow-x: hidden; }
  body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out; }
    body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out; }
    body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF; }
      body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px; }

a {
  color: inherit; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

body,
html {
  margin: 0;
  overflow-x: hidden; }
  body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out; }
    body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out; }
    body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF; }
      body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px; }

a {
  color: inherit; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media screen and (max-width: 739px) {
  html main.interior .content .builders-container .builders {
    justify-content: center;
    text-align: center; } }

@media screen and (max-width: 639px) {
  html main.interior .content .honors .row .honor {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

header .navigation-container {
  width: 100vw;
  background: #FFF;
  box-shadow: 0 0 25px rgba(30, 33, 38, 0.2);
  z-index: 99999;
  position: relative; }
  header .navigation-container .navigation-bar {
    margin: 0 auto;
    max-width: 970px;
    display: flex;
    align-items: center;
    padding: 30px; }
    header .navigation-container .navigation-bar .nav-container {
      max-width: 800px;
      margin: auto; }
      header .navigation-container .navigation-bar .nav-container > a {
        display: block;
        pointer-events: none;
        text-decoration: none;
        background: #ebebeb;
        padding: 12px 20px;
        margin-bottom: 7px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.4rem; }
    header .navigation-container .navigation-bar .logo {
      flex: 1 1 300px; }
      header .navigation-container .navigation-bar .logo a {
        display: block; }
        header .navigation-container .navigation-bar .logo a img {
          max-height: 85px; }
    header .navigation-container .navigation-bar .controls {
      display: flex;
      flex: 1 1 100%;
      justify-content: flex-end; }
      header .navigation-container .navigation-bar .controls .btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #c7c7c7;
        background: #FFF;
        height: 52px;
        width: 52px;
        margin-right: 15px;
        color: #403f3b;
        font-family: "acumin-pro-condensed", Arial;
        font-weight: bold;
        line-height: 0;
        cursor: pointer; }
        header .navigation-container .navigation-bar .controls .btn a {
          display: block;
          height: 100%;
          width: 100%;
          color: inherit;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center; }
        header .navigation-container .navigation-bar .controls .btn::before {
          content: '';
          display: block;
          height: 8px;
          width: 8px;
          border: inherit;
          border-right: 0;
          border-top: 0;
          position: absolute;
          left: -1px;
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          background: inherit; }
        header .navigation-container .navigation-bar .controls .btn:hover {
          background: #f1f0ef; }
        header .navigation-container .navigation-bar .controls .btn:active {
          background: #d8d7d5; }
        header .navigation-container .navigation-bar .controls .btn:last-child {
          margin-right: 0; }

main .buckets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: auto; }
  main .buckets .bucket {
    position: relative;
    flex: 1 1 300px;
    padding: 65px 20px 15px;
    margin: 20px; }
    main .buckets .bucket .title {
      position: relative; }
      main .buckets .bucket .title::before {
        content: '';
        left: -20px;
        position: absolute;
        height: 100%;
        width: 4px;
        background: #ff0000; }
      main .buckets .bucket .title h3 {
        margin: 0; }
      main .buckets .bucket .title span {
        font-size: 0.8rem; }
    main .buckets .bucket a {
      text-decoration: none; }
      main .buckets .bucket a span {
        position: relative;
        font-weight: bold;
        font-size: 1.1rem;
        color: #403f3b; }
        main .buckets .bucket a span:hover::after {
          right: -20px; }
        main .buckets .bucket a span::after {
          content: '';
          position: absolute;
          right: -15px;
          transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
          top: 52%;
          transform: translateY(-50%);
          background: url("/img/micro-arrow.png") center center no-repeat;
          width: 9px;
          height: 8px; }
    main .buckets .bucket p {
      color: #555555;
      font-size: 0.95rem;
      line-height: 20px; }
    main .buckets .bucket:first-child {
      background: url("/img/bucket1.jpg") center center no-repeat;
      background-size: cover; }
      main .buckets .bucket:first-child::before {
        content: '';
        position: absolute;
        top: 0;
        right: -21px;
        width: 1px;
        height: 100%;
        background: #c5c5c5; }
    main .buckets .bucket:last-child {
      background: url("/img/bucket2.jpg") center center no-repeat;
      background-size: cover; }

main .news {
  max-width: 800px;
  margin: auto;
  padding-top: 30px; }
  main .news .news-buttons {
    margin: 5px 20px; }

main .intro {
  max-width: 520px;
  margin: auto;
  text-align: center;
  padding-top: 35px; }
  main .intro h3 {
    color: #5a5c5e;
    font-weight: normal; }
  main .intro .line-break {
    position: relative;
    margin: 20px; }
    main .intro .line-break img {
      width: 40px; }
    main .intro .line-break::before, main .intro .line-break::after {
      content: '';
      position: absolute;
      width: 42%;
      height: 1px;
      background: #000;
      top: 50%;
      transform: translateY(-50%); }
    main .intro .line-break::before {
      left: 0; }
    main .intro .line-break::after {
      right: 0; }

main .social-feed {
  max-width: 800px;
  margin: auto;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  main .social-feed .twitter {
    position: relative; }
    main .social-feed .twitter::before {
      width: 43px;
      height: 30px;
      background: url("/img/icon-twitter-red.png") center center no-repeat; }
  main .social-feed .facebook {
    position: relative; }
    main .social-feed .facebook::before {
      width: 18px;
      height: 38px;
      background: url("/img/icon-facebook-red.png") center center no-repeat; }
  main .social-feed .facebook-container, main .social-feed .twitter-container {
    position: relative;
    margin: 20px;
    flex: 1 1 345px; }
    main .social-feed .facebook-container::after, main .social-feed .twitter-container::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
  main .social-feed .twitter-container::after {
    height: 50px;
    width: 40px;
    background: url("/img/icon-twitter-red.png") center center no-repeat; }
  main .social-feed .facebook-container::after {
    height: 54px;
    width: 40px;
    background: url("/img/icon-facebook-red.png") center center no-repeat; }
  main .social-feed .facebook, main .social-feed .twitter {
    position: relative;
    height: 370px;
    background: #ebebeb; }
    main .social-feed .facebook::before, main .social-feed .twitter::before {
      content: '';
      position: absolute;
      bottom: -11px;
      left: 50%;
      width: 23px;
      height: 11px;
      transform: translateX(-50%);
      background: url("/img/grey-block-down.png") center center no-repeat; }
  main .social-feed .social-link {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 48px 43px -19px inset;
    width: 100%;
    height: 148px;
    background: #ff0000; }

main .calendar-area {
  max-width: 800px;
  margin: auto;
  padding: 20px; }

main .instagram-photos {
  position: relative;
  height: 100%;
  background: #ebebeb; }
  main .instagram-photos .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
    height: 100%; }
    main .instagram-photos .photos .item, main .instagram-photos .photos .item2 {
      flex: 0 0 200px;
      height: 200px; }
    main .instagram-photos .photos .item {
      background: #403f3b; }
    main .instagram-photos .photos .item2 {
      background: #808080; }

footer {
  background: #5a5f62; }
  footer .footer-content {
    max-width: 755px;
    padding: 30px 0;
    margin: auto; }
    footer .footer-content .top {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      footer .footer-content .top .contact {
        flex: 1 1 300px;
        padding: 0 20px 25px;
        color: #e1e7e7;
        line-height: 23px; }
        footer .footer-content .top .contact .social {
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          footer .footer-content .top .contact .social img {
            padding-right: 10px; }
        footer .footer-content .top .contact > h4 {
          position: relative;
          z-index: 2;
          position: relative;
          max-width: 234px;
          font-size: 1.25rem;
          padding-bottom: 25px;
          margin-bottom: 32px; }
          footer .footer-content .top .contact > h4::after, footer .footer-content .top .contact > h4::before {
            content: '';
            display: block;
            position: relative; }
          footer .footer-content .top .contact > h4::before {
            position: absolute;
            background: #5a5f62;
            border: 1px solid #fff;
            border-width: 0 1px 1px 0;
            z-index: -1;
            bottom: -9px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            height: 17px;
            width: 17px; }
          footer .footer-content .top .contact > h4::after {
            position: absolute;
            background: #fff;
            height: 1px;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: -2; }
        footer .footer-content .top .contact p {
          margin: 0;
          font-size: 0.9rem; }
          footer .footer-content .top .contact p a {
            text-decoration: none;
            font-weight: bold; }
      footer .footer-content .top .map {
        background: url("/img/gmap.jpg") center center no-repeat;
        background-size: cover;
        flex: 1 1 300px;
        padding: 10px;
        max-height: 273px;
        min-height: 273px; }
    footer .footer-content .bottom {
      text-align: center;
      padding: 80px 20px 100px;
      color: #fff; }
      footer .footer-content .bottom p {
        margin: 0; }
      footer .footer-content .bottom .sponsors {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px 0 35px; }
        footer .footer-content .bottom .sponsors img {
          padding: 20px 25px; }
      footer .footer-content .bottom em {
        color: #aeafb1;
        font-style: normal;
        font-size: 0.9rem;
        line-height: 25px; }

html {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
body,
html {
  margin: 0;
  overflow-x: hidden;
}
body button,
  body input[type=submit],
  body .judo-btn,
  html button,
  html input[type=submit],
  html .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;
}
body button::before,
    body input[type=submit]::before,
    body .judo-btn::before,
    html button::before,
    html input[type=submit]::before,
    html .judo-btn::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
}
body button:hover,
    body input[type=submit]:hover,
    body .judo-btn:hover,
    html button:hover,
    html input[type=submit]:hover,
    html .judo-btn:hover {
      background: #363636 !important;
      color: #FFF;
}
body button:hover::before,
      body input[type=submit]:hover::before,
      body .judo-btn:hover::before,
      html button:hover::before,
      html input[type=submit]:hover::before,
      html .judo-btn:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Keyframes
 */
@keyframes slideFromRight {
from {
    transform: translateX(0%);
}
to {
    transform: translateX(-100%);
}
}
@keyframes slideFromLeft {
from {
    transform: translateX(-200%);
}
to {
    transform: translateX(-100%);
}
}
@keyframes slideToRight {
from {
    transform: translateX(-100%);
}
to {
    transform: translateX(0%);
}
}
@keyframes slideToLeft {
from {
    transform: translateX(-100%);
}
to {
    transform: translateX(-200%);
}
}

/**
 * Styles
 */
.slide {
  position: absolute;
  top: 0;
  left: 100vw;
  height: 100%;
  width: 100vw;
}
.slide.menus .slide-content {
    align-items: initial;
}
.slide.from-right {
    animation: slideFromRight 1550ms cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal;
    animation-fill-mode: forwards;
}
.slide.from-left {
    animation: slideFromLeft 1550ms cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal;
    animation-fill-mode: forwards;
}
.slide.to-right {
    animation: slideToRight 1550ms cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal;
    animation-fill-mode: forwards;
}
.slide.to-left {
    animation: slideToLeft 1550ms cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal;
    animation-fill-mode: forwards;
}
.slide.force-show {
    transform: translateX(-100%);
}
.slide.force-hide {
    transform: translateX(0);
}
.slide .slide-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center top;
}
.slide .slide-content {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px 60px;
    background: #595e61;
    color: #FFF;
    font-family: "acumin-pro-condensed", Arial;
    transform: translateY(calc(100% - 35px));
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.slide .slide-content.visible {
      transform: translateY(0) !important;
}
.slide .slide-content.visible .minimize-btn::before {
        content: 'LESS';
}
.slide .slide-content .minimize-btn {
      position: absolute;
      width: 75px;
      height: 75px;
      top: -39px;
      right: 30%;
      cursor: pointer;
}
@media screen and (max-width: 600px) {
.slide .slide-content .minimize-btn {
          display: none !important;
}
}
.slide .slide-content .minimize-btn::before {
        content: 'MORE';
        position: absolute;
        top: 0;
        width: 67px;
        height: 67px;
        background: url(/img/slide-toggle-btn.png) center center no-repeat #595e61;
        background-size: 58px;
        border-radius: 50%;
        text-align: center;
        padding: 4px;
        line-height: 53px;
}
.slide .slide-content .slide-text {
      margin: 0 auto;
      max-width: 768px;
      width: 100%;
}
.slide .slide-content .slide-text h3 {
        font-size: 2.5rem;
        line-height: 35px;
}
.slide .slide-content .slide-text .wysiwyg-area {
        display: flex;
}
.slide .slide-content .slide-text .wysiwyg-area p {
          font-size: 1rem;
          line-height: 24px;
          font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
.slide .slide-content .slide-text .wysiwyg-area > * {
          flex: 1 1 50%;
}
.slide .slide-content .slide-text .wysiwyg-area * + * {
          margin-left: 30px;
}
@media screen and (max-width: 600px) {
.slide {
      padding-top: 0 !important;
}
.slide div.slide-background {
        position: static;
        width: 100vw;
        height: 320px;
}
.slide div.slide-content {
        padding: 0 20px;
        position: static;
        height: initial;
}
}

html[data-v-69483470] {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
body[data-v-69483470],
html[data-v-69483470] {
  margin: 0;
  overflow-x: hidden;
}
body button[data-v-69483470],
  body input[type=submit][data-v-69483470],
  body .judo-btn[data-v-69483470],
  html button[data-v-69483470],
  html input[type=submit][data-v-69483470],
  html .judo-btn[data-v-69483470] {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;
}
body button[data-v-69483470]::before,
    body input[type=submit][data-v-69483470]::before,
    body .judo-btn[data-v-69483470]::before,
    html button[data-v-69483470]::before,
    html input[type=submit][data-v-69483470]::before,
    html .judo-btn[data-v-69483470]::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
}
body button[data-v-69483470]:hover,
    body input[type=submit][data-v-69483470]:hover,
    body .judo-btn[data-v-69483470]:hover,
    html button[data-v-69483470]:hover,
    html input[type=submit][data-v-69483470]:hover,
    html .judo-btn[data-v-69483470]:hover {
      background: #363636 !important;
      color: #FFF;
}
body button[data-v-69483470]:hover::before,
      body input[type=submit][data-v-69483470]:hover::before,
      body .judo-btn[data-v-69483470]:hover::before,
      html button[data-v-69483470]:hover::before,
      html input[type=submit][data-v-69483470]:hover::before,
      html .judo-btn[data-v-69483470]:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
}
a[data-v-69483470] {
  color: inherit;
}
*[data-v-69483470] {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html[data-v-69483470] {
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
body[data-v-69483470],
html[data-v-69483470] {
  margin: 0;
  overflow-x: hidden;
}
body button[data-v-69483470],
  body input[type=submit][data-v-69483470],
  body .judo-btn[data-v-69483470],
  html button[data-v-69483470],
  html input[type=submit][data-v-69483470],
  html .judo-btn[data-v-69483470] {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;
}
body button[data-v-69483470]::before,
    body input[type=submit][data-v-69483470]::before,
    body .judo-btn[data-v-69483470]::before,
    html button[data-v-69483470]::before,
    html input[type=submit][data-v-69483470]::before,
    html .judo-btn[data-v-69483470]::before {
      content: '';
      display: inline-block;
      background: url("/img/btn-arrow.svg") no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
}
body button[data-v-69483470]:hover,
    body input[type=submit][data-v-69483470]:hover,
    body .judo-btn[data-v-69483470]:hover,
    html button[data-v-69483470]:hover,
    html input[type=submit][data-v-69483470]:hover,
    html .judo-btn[data-v-69483470]:hover {
      background: #363636 !important;
      color: #FFF;
}
body button[data-v-69483470]:hover::before,
      body input[type=submit][data-v-69483470]:hover::before,
      body .judo-btn[data-v-69483470]:hover::before,
      html button[data-v-69483470]:hover::before,
      html input[type=submit][data-v-69483470]:hover::before,
      html .judo-btn[data-v-69483470]:hover::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
}
a[data-v-69483470] {
  color: inherit;
}
*[data-v-69483470] {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Button and container styles
 */
.slider-container[data-v-69483470] {
  position: relative;
  height: 100vh;
  max-height: 800px;
  min-height: 780px;
  margin-bottom: 55px;
  transition: height 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
.slider-container.menus .slider[data-v-69483470] {
    max-width: 970px;
    margin: auto;
}
@media screen and (max-width: 600px) {
.slider-container[data-v-69483470] {
      max-height: initial;
}
}
.slider-container .slider[data-v-69483470] {
    height: 100%;
    width: 100%;
    position: relative;
}
.slider-container .slider .slides[data-v-69483470] {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
}
