{% extends "layouts/default.twig" %}

{% block mastheadbackground %}{% endblock %}

{% block mastheadcontent %}
  <h2>
    Recognizing<br />
    the best in<br />
    our sport
  </h2>
{% endblock %}

{% block content %}
<div class="content">
  <h3>Hall of Fame</h3>
  <div class="hall-of-fame">
    <p>
      Judo Ontario likes to recognize those individuals who have gone above and beyond, reaching new heights of achievement and dedication with the prestigious Judo Ontario Hall of Fame award.
    </p>
    <p>
      This program was initiated in 1996 by the Judo Ontario board of directors to show the judo community the great people and work being done.
    </p>
  </div>
  <div class="honors">
    <div class="row">
      <div class="year">
        <span>2015</span>
      </div>
      <div class="honor">
        <h4>Jim Walker</h4>
        <p>
          Jim Walker has been involved and contributing to judo for over 5 decades and currently holds the rank of 6th dan. Jim was the Head Instructor of the Maple Leaf Dojo for over 30 years. In that time Jim produced 10 National level competitors, 30 plus National Championship medals and has developed over 30 black beltsels.
        </p>
      </div>
      <div class="honor">
        <h4>Charlie Formosa</h4>
        <p>
          Charlie Formosa started judo in 1962 and has reached the prestigous rank of Rokudan (6th Degree Black Belt). Charlie founded the Formokan Judo Club in 1975 and has fostered junior, senior and veteran judo champions at the local, regional, provincial, national, international and olympic levels.  Charlie was also the original club coach for 2 time Olympian Glenn Beauchamp and more recently 2 time Olympian Kelita Zupancic. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="year">
        <span>2008</span>
      </div>
      <div class="honor">
        <h4>Dojoshu approval</h4>
        <p>
          Your Dojoshu (club owner/head instructor) will review your information and approve your membership at which point your transaction will be processed.  Please contact your Dojoshu if there is a long delay in processing to ensure they s/he seen your application to join the club.
        </p>
      </div>
      <div class="honor">
        <h4>Dojoshu approval</h4>
        <p>
          Your Dojoshu (club owner/head instructor) will review your information and approve your membership at which point your transaction will be processed.  Please contact your Dojoshu if there is a long delay in processing to ensure they s/he seen your application to join the club.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="year">
        <span>2000</span>
      </div>
      <div class="honor">
        <h4>Rainer Fisher</h4>
        <p>
          Rainer was a member of the 1976 Olympic Team. One of the highlights of his career was a gold medal in the 1975 Pan American Games. Rainer was many times Canadian Champion and was one of the first Ontario athletes to live an train at the National Training Centre in Montreal. Rainer opened the door for other Ontario athletes to move to the National Training Centre. Rainer holds the rank of 6th dan.
        </p>
      </div>
      <div class="honor">
        <h4>Sandra Greaves</h4>
        <p>
          Sandra was the first and only Canadian female athlete for Judo to qualify for the Olympics as a demonstration sport in 1988. Sandra was many times Canadian Champion and was a mainstay on the National Team for many years. She was a Pan American Games gold medalist as well as placing in a number of international tournaments. Sandra is a certified NCCP level 3 coach.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="year">
        <span>1999</span>
      </div>
      <div class="honor single">
        <h4>Wayne Erdman</h4>
        <p>
          Wayne was a member of the 1976 Olympic Team. He is a certified Level 3 NCCP coach and a former National Coach. Wayne was a gold medalist at the 1975 Pan-American Games as well as being a Canadian Champion many times. He currently operates the Olympia Judo Club in Kitchener, ON. Wayne has also been a member of the Provincial Grading Board for many years. Wayne holds the rank of 7th dan.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="year">
        <span>1998</span>
      </div>
      <div class="honor single">
        <h4>Tina Takahashi</h4>
        <p>
          Tina was many times a Canadian Champion and won a number of international medals. One of her greatest achievements came when she won a gold medal at the World University Games. Tina was the Olympic Coach for Sandra Greaves at the 1988 Olympics in Seoul, South Korea. Tina is a member of the National Grading Board and holds the rank of 6th dan.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="year">
        <span>1996</span>
      </div>
      <div class="honor">
        <h4>Kevin Doherty</h4>
        <p>
          Kevin was a member of the 1984-88 Olympic Teams. His greatest acheivement came with a bronze medal at the 1981 World Championships. Kevin placed in a number of World Class tournaments and was several times Canadian Champion. He has held various positions on the Judo Ontario and Judo Canada Board of Directors. Kevin holds the rank of 7th dan.
        </p>
      </div>
      <div class="honor">
        <h4>Phil Takahashi</h4>
        <p>
          Phil was a member of the 1980-84-88 Olympic Teams. His greatest acheivement came with a bronze medal at the 1981 World Championships. He was many times Canadian Champion and placed in a number of World class tournaments. Phil teaches a number of martial arts at the Takahashi Judo Club. Phil holds the rank of 7th dan.
        </p>
      </div>
    </div>
  </div>
  <div class="builders-container">
    <h4>Builders</h4>
    <div class="builders">
      <div class="builder">
        <div class="year"><span>2006</span></div>
        <p>John<br />Hatashita</p>
      </div>
      <div class="builder">
        <div class="year"><span>2005</span></div>
        <p>Masao<br />Kawasaki</p>
        <p>Mitchell<br />Kawasaki</p>
      </div>
      <div class="builder">
        <div class="year"><span>1999</span></div>
        <p>William<br />Doherty</p>
      </div>
      <div class="builder">
        <div class="year"><span>1998</span></div>
        <p>Mas<br />Takahashi</p>
      </div>
      <div class="builder">
        <div class="year"><span>1997</span></div>
        <p>Leo<br />Haunsberger</p>
        <p>Steve<br />Kamino</p>
      </div>
      <div class="builder">
        <div class="year"><span>1996</span></div>
        <p>Frank<br />Hatashita</p>
        <p>Masatoshi<br />Umetsu</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
