{% extends "layouts/default.twig" %}

{% block mastheadbackground %}{% endblock %}

{% block mastheadcontent %}
  <h2>
    Above all<br />
    stay<br />
    committed
  </h2>
{% endblock %}

{% block content %}
  <div class="content">
    <h3>High Dans</h3>
    <div class="hall-of-fame">
      <p>
        To achieve a high dan rank in Judo takes decades of commitment to the lifestyle and sport of Judo. Judo Ontario would like to recognize the Judoka’s listed below for their long-term outstanding effort and dedication.
      </p>
      <div class="flower medium"><em>Judoka marked with a cherry blossom are now studying with Professor Kano.</em></div>
    </div>
    <div class="honors">
      <div class="row">
        <div class="year">
          <span>8th Dan</span>
        </div>
        <div class="honor high-dans">
          <div class="flower small"><h4>Hatashita, Frank (Minoru)</h4></div>
          <div class="flower small"><h4>Nakahara, Genichiro (Gene)</h4></div>
          <h4 class="name-list">Takahashi, Masao</h4>
        </div>
        <div class="honor high-dans">
          <h4 class="name-list">Uemura, Goki</h4>
          <h4 class="name-list">Vignale, Duncan</h4>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>7th Dan</span>
        </div>
        <div class="honor high-dans">
          <h4 class="name-list">Doherty, William</h4>
          <h4 class="name-list">Erdman, Wayne</h4>
          <h4 class="name-list">Takahashi, Phillip</h4>
          <h4 class="name-list">Kawasaki, Mitchell</h4>
          <h4 class="name-list">Varga, Robert</h4>
          <h4 class="name-list">Doherty, Kevin</h4>
        </div>
        <div class="honor high-dans">
          <h4 class="name-list">Zettl, Bob</h4>
          <h4 class="name-list">Kendrick, James</h4>
          <h4 class="name-list">Sadej, Andrzej</h4>
          <h4 class="name-list">Sheffield, Steven</h4>
          <h4 class="name-list">Weldon, Craig</h4>
          <div class="flower small"><h4>Kamino, Toky</h4></div>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>6th Dan</span>
        </div>
        <div class="honor high-dans">
          <h4 class="name-list">Fischer, Rainer</h4>
          <h4 class="name-list">Markovic-Siladi, Mara</h4>
          <h4 class="name-list">Haunsberger, Leo</h4>
          <h4 class="name-list">Takahashi, Tina</h4>
          <div class="flower small"><h4>Kamino, Tamino (Tom)</h4></div>
          <h4 class="name-list">Takahashi, June</h4>
          <h4 class="name-list">Formosa, Charlie</h4>
          <h4 class="name-list">Walker, Samuel (Jim)</h4>
          <h4 class="name-list">Doherty, Albert (James)</h4>
          <h4 class="name-list">Miller, David</h4>
        </div>
        <div class="honor high-dans">
          <h4 class="name-list">Muirhead, Ron</h4>
          <div class="flower small"><h4>Henning, Harry</h4></div>
          <h4 class="name-list">Jokic, Milo</h4>
          <h4 class="name-list">Gosselin, Nathalie</h4>
          <h4 class="name-list">Sheffield, Aartje</h4>
          <h4 class="name-list">Angus, Ron</h4>
          <div class="flower small"><h4>Desormeaux, Ronald</h4></div>
          <h4 class="name-list">Hatashita, John</h4>
          <h4 class="name-list">Kiang, David</h4>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
