{% extends "judoontario.theme.defaultjudoontario::layouts/home.twig" %}

{% block content %}
    <citrus-slider>
        <citrus-slide background="/img/sample-slide-1.jpg">
            <h3>Ontario Youth International Tournament is coming.  Are you ready?</h3>
            <div class="wysiwyg-area">
                <p>
                    This is where the sub-head can be stored.  This system will allow us to keep the homepage clean and easy to digest, yet offer more information to the user at the click of their mouse if they decide they want it.  UX will be animated, smooth and fast.  The image area at right could also be a button.
                </p>
                <img src="/img/sample-slide-content.jpg"/>
            </div>
        </citrus-slide>
        <citrus-slide background="/img/sample-slide-1.jpg">
            <h3>Ontario Youth International Tournament is coming.  Are you ready?</h3>
            <div class="wysiwyg-area">
                <p>
                    This is where the sub-head can be stored.  This system will allow us to keep the homepage clean and easy to digest, yet offer more information to the user at the click of their mouse if they decide they want it.  UX will be animated, smooth and fast.  The image area at right could also be a button.
                </p>
                <img src="/img/sample-slide-content.jpg"/>
            </div>
        </citrus-slide>
    </citrus-slider>
{% endblock %}
