{% extends "layouts/default.twig" %}

{% block mastheadbackground %}{% endblock %}

{% block mastheadcontent %}
  <h2>
    In the<br />
    global<br />
    spotlight
  </h2>
{% endblock %}

{% block content %}
  <div class="content">
    <h3>Judo Ontario Awards</h3>
    <div class="hall-of-fame no-padding">
      <p>
        It takes a small army of volunteers, friends, family and Judoka to run an organization the size of Judo Ontario. We would like to thank all our supporters for their countless hours of time spent helping Judo Ontario grow into the successful organization it is today.
      </p>
      <div style="padding:6px 25px;margin-right:10px!important;" class="judo-btn">Download Awards Policy</div>
      <div style="padding:6px 25px;" class="judo-btn">Download Terms of Reference</div>
    </div>
    <div class="honors">
      <div class="row">
        <div class="year">
          <span>2013</span>
        </div>
        <div class="honor single">
          <div class="award-list">
            <div class="award">
              <span>U16 Male</span> Zacharie Cheng-Boivin
            </div>
            <div class="award">
              <span>U16 Female</span> Natalie Rygielski
            </div>
            <div class="award">
              <span>U18 Male</span> Mohab El Nahas
            </div>
            <div class="award">
              <span>U18 Female</span> Jessica Klimkait
            </div>
            <div class="award">
              <span>U21 Male</span> Martin Rygielski
            </div>
            <div class="award">
              <span>U21 Female</span> Tressa Sheffield
            </div>
            <div class="award">
              <span>Senior Male</span> Delyaver Sheykhislyamov
            </div>
            <div class="award">
              <span>Senior Female</span> Kelita Zupancic
            </div>
            <div class="award">
              <span>Joseph Lestrange Award</span> Aartje Sheffield
            </div>
            <div class="award">
              <span>Judo Ontario Outstanding Achievement Award</span> Ken Morley
            </div>
            <div class="award">
              <span>Judo Ontario Outstanding Contribution Award</span> Ezio Contasti, Steve Horvath
            </div>
            <div class="award">
              <span>Referee Contribution Award</span> Frank Vossen
            </div>
            <div class="award">
              <span>Fran McCrodden Award</span> Greg Buttrey
            </div>
            <div class="award">
              <span>Outstanding Board Contribution Award</span> Chris Brown
            </div>
            <div class="award">
              <span>Coach of the Year Award</span> Kevin Doherty
            </div>
            <div class="award">
              <span>Lifetime Member Award</span> Duncan Vignale
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2012</span>
        </div>
        <div class="honor single">
          <div class="award-list">
            <div class="award">
              <span>U15 Male</span> Ossama Mahmoud
            </div>
            <div class="award">
              <span>U15 Female</span> Natalie Rygielski
            </div>
            <div class="award">
              <span>U18 Male</span> Bradley Langlois
            </div>
            <div class="award">
              <span>U18 Female</span> Jessica Klimkait
            </div>
            <div class="award">
              <span>U20 Male</span> Zach Burt
            </div>
            <div class="award">
              <span>U20 Female</span> Monica Burgess
            </div>
            <div class="award">
              <span>Senior Male</span> Diego Sanchez
            </div>
            <div class="award">
              <span>Senior Female</span> Yacinta Nguyen
            </div>
            <div class="award">
              <span>Joseph Lestrange Award</span> Frank Vossen
            </div>
            <div class="award">
              <span>Judo Ontario Special Contribution Award</span> Kevin Kennedy
            </div>
            <div class="award">
              <span>Judo Ontario Outstanding Contribution Award</span> Dave Robb
            </div>
            <div class="award">
              <span>Referee Contribution Award</span> Gerald Okimura
            </div>
            <div class="award">
              <span>Olympian Recognition Award</span> Kelita Zupancic - <span class="extra-info">70kg female</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2009</span>
        </div>
        <div class="honor single">
          <div class="award-list">
            <div class="award">
              <span>U15 Male</span> Ben Dennis, Marcus Chan
            </div>
            <div class="award">
              <span>U15 Female</span> Mackenzie Burt, Monika Burgess
            </div>
            <div class="award">
              <span>U17 Male</span> Andrew Balach, Matthew Ausman
            </div>
            <div class="award">
              <span>U17 Female</span> Brianna McCracken, Katie Dennis
            </div>
            <div class="award">
              <span>U20 Male</span> Zachary Marshall
            </div>
            <div class="award">
              <span>U20 Female</span> Jaya Creavalle
            </div>
            <div class="award">
              <span>Senior Male</span> Chris Sibbald
            </div>
            <div class="award">
              <span>Senior Female</span> Kelita Zupancic
            </div>
            <div class="award">
              <span>Outstanding Spirit and Kiai</span> Alysha Doede, Andrei Ivanov
            </div>
            <div class="award">
              <span>Overall Outstanding Athlete</span> Tressa Sheffield
            </div>
            <div class="award">
              <span>Fran McCrodden Award</span> Donna Muirhead
            </div>
            <div class="award">
              <span>Volunteer Contribution</span> Susan Nagy, Chris Brockington
            </div>
            <div class="award">
              <span>Special Grading Board Contribution</span> Wayne Erdman
            </div>
            <div class="award">
              <span>Special Referee Contribution</span> Grant Kuramoto
            </div>
            <div class="award">
              <span>Joseph Lestrange Award</span> Jack Polonsky
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2008</span>
        </div>
        <div class="honor single">
          <div class="award-list">
            <div class="award">
              <span>Best Male Juvenile Athlete</span>  Derek Langlois
            </div>
            <div class="award">
              <span>Best Female Juvenile Athlete</span>  Viktoria Sokolovska
            </div>
            <div class="award">
              <span>Best Male Junior Athlete</span>  Lukasz Mozdzen
            </div>
            <div class="award">
              <span>Best Female Junior Athlete</span>  Renee Guggino
            </div>
            <div class="award">
              <span>Best Male Senior Athlete</span>  Ian Alexander
            </div>
            <div class="award">
              <span>Best Female Senior Athlete</span>  Kelita Zupancic
            </div>
            <div class="award">
              <span>Joseph Lestrange Memorial Award</span>  June Takahashi
            </div>
            <div class="award">
              <span>Fran McCrodden Award</span>  Marie McDowell
            </div>
            <div class="award">
              <span>Special Contribution Award</span>  Ezio Contasti, Citrus Media
            </div>
            <div class="award">
              <span>Valuable Contribution by Grading Board</span>  Bob Zettl
            </div>
            <div class="award">
              <span>Valuable Contribution by Referee Committee</span>  Keith Crivea
            </div>
            <div class="award">
              <span>Best Technique and Spirit Award</span>  Brianna McCracken
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2007</span>
        </div>
        <div class="honor single">
          <div class="award-list">
            <div class="award">
              <span>Best Male Juvenile Athlete</span>  Derek Langlois
            </div>
            <div class="award">
              <span>Best Female Juvenile Athlete</span>  Nicole Jenicek
            </div>
            <div class="award">
              <span>Best Male Junior Athlete</span>  David Ancor
            </div>
            <div class="award">
              <span>Best Female Junior Athlete</span>  Renee Guggino
            </div>
            <div class="award">
              <span>Best Male Senior Athlete</span>  Ian Alexander
            </div>
            <div class="award">
              <span>Best Female Senior Athlete</span>  Kelita Zupancic
            </div>
            <div class="award">
              <span>Joseph Lestrange Memorial Award</span>  Craig Weldon, Brian Kalsen
            </div>
            <div class="award">
              <span>Fran McCrodden Award</span>  Mary-anne Thompson
            </div>
            <div class="award">
              <span>Special Contribution Award</span>  Shu-Tai Cheng, Steve Horvath
            </div>
            <div class="award">
              <span>Valuable Contribution and Generous Donation</span>  Rob Martella
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2006</span>
        </div>
        <div class="honor single">
          <div class="award-list">
            <div class="award">
              <span>Hall of Fame Builder & Coach</span>  John Hatashita
            </div>
            <div class="award">
              <span>Best Male Juvenile Athlete</span>  Nick Zakharov
            </div>
            <div class="award">
              <span>Best Female Juvenile Athlete</span>  Jade Parsons
            </div>
            <div class="award">
              <span>Best Male Junior Athlete</span>  Nedjo Sarenac
            </div>
            <div class="award">
              <span>Best Female Junior Athlete</span>  Kelita Zupancic
            </div>
            <div class="award">
              <span>Best Male Senior Athlete</span>  Ian Alexander
            </div>
            <div class="award">
              <span>Best Female Senior Athlete</span>  Francoise Nguele
            </div>
            <div class="award">
              <span>Fran McCrodden Award</span>  Mary Hagen
            </div>
            <div class="award">
              <span>Special Contribution Award</span>  David Waterhouse, Frank Juzenas
            </div>
            <div class="award">
              <span>Valuable Contribution and Generous Donation</span>  Roman Hatashita, Ken Bodenstein
            </div>
            <div class="award">
              <span>Valuable Volunteer Contribution as Board Members</span>  Charlie Formosa, Mitchel Kawasaki, Maurice McDowell, Chuck Lee, June Takahashi, Ron Angus, Bill Doherty, Robert Zettl
            </div>
            <div class="award">
              <span>Valuable Contribution as Chairman of Grading Board</span>  Goki Uemura
            </div>
            <div class="award">
              <span>Valuable Contribution as Member of Referee Committee</span>  Michael Flynn
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2005</span>
        </div>
        <div class="honor single">
          <div class="award-list">
            <div class="award">
              <span>Hall of Fame Inductees</span>  Masao Kawasaki <span class="extra-info">(Builder)</span>, Mitchell Kawasaki <span class="extra-info">(Coach)</span>
            </div>
            <div class="award">
              <span>Best Male Junior Athlete</span>  Patrick Tremblay
            </div>
            <div class="award">
              <span>Best Female Junior Athlete</span>  Kelita Zupancic
            </div>
            <div class="award">
              <span>Best Male Senior Athlete</span>  Christopher Sibbald
            </div>
            <div class="award">
              <span>Best Female Senior Athlete</span>  Francoise Nguele
            </div>
            <div class="award">
              <span>Outstanding Tournament Committment</span>  Aneta Mozdzen
            </div>
            <div class="award">
              <span>Joseph Lestrange Memorial Award</span>  Brian Kalsen
            </div>
            <div class="award">
              <span>Referee Contribution Award</span>  Bill Doherty
            </div>
            <div class="award">
              <span>Mary Jane Muirhead Award</span>  Mary Jane Muirhead
            </div>
            <div class="award">
              <span>Contribution Award</span>  Greg Butrey
            </div>
            <div class="award">
              <span>Special Recognition</span>  Stephanie Kawasaki, Mona Berlingeri, Sue Gribben, Masao Takahashi
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
