{% extends "layouts/default.twig" %}

{% block mastheadbackground %}{% endblock %}

{% block mastheadcontent %}
  <h2>
    In the<br />
    global<br />
    spotlight
  </h2>
{% endblock %}

{% block content %}
  <div class="content">
    <h3>Special Achievements</h3>
    <div class="hall-of-fame">
      <p>
        Not only does Judo Ontario recognize outstanding achievements... so do others. It’s this kind of hard work, passion and sweat equity that sets Judo Ontario apart from other sports organizations.
        Below we acknowledge some of the individuals who have found themselves in the spotlight.
      </p>
    </div>
    <div class="honors">
      <div class="row">
        <div class="year">
          <span>Syl Apps Special Achievement</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Steven Sheffield</h4>
          <p>
            Recipient of the Syl Apps Special Achievement was honoured by the Minister of Health Promotion the Honourable Margarett Best in grateful recognition of a distinguished contribution to the field of Amateur Sport.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2013 Female Athlete of the Year</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Jessica Klimkait</h4>
          <p>
            The Sport Alliance of Ontario selects a committee of sport experts from various sectors who are tasked to select 3 finalists from various categories from over 60 sports who have distinguished themselves nationally or internationally in the previous year. Jessica was selected as one of three finalists and then moved on to be selected as Female Athlete of the Year.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2013 Coach of the Year Finalist</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Pedro Guedes</h4>
          <p>
            The Sport Alliance of Ontario selects a committee of sport experts from various sectors who are tasked to select 3 finalists from various categories from over 60 sports who have distinguished themselves nationally or internationally in the previous year. Pedro was selected as one of three finalists as Coach of the Year.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>Lifetime Member</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Duncan Vignale</h4>
          <p>
            MichThe Judo Ontario Selection Committee recognizes individuals who have made outstanding contributions to improving Judo in Ontario on many levels over a span of 10 years or more. Life Time Members are exempt from paying Judo Ontario fees.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2012 Syl Apps Award</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Tony Kelly</h4>
          <p>
            Recipient of the Syl Apps Special Achievement was honoured by the Minister of Health Promotion the Honourable Margarett Best in grateful recognition of a distinguished contribution to the field of Amateur Sport.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2011 Syl Apps Award</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Duncan Vignale</h4>
          <p>
            Recipient of the Syl Apps Special Achievement was honoured by the Minister of Health Promotion the Honourable Margarett Best in grateful recognition of a distinguished contribution to the field of Amateur Sport.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2010 Syl Apps Award</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Bill Doherty</h4>
          <p>
            Recipient of the Syl Apps Special Achievement was honoured by the Minister of Health Promotion the Honourable Margarett Best in grateful recognition of a distinguished contribution to the field of Amateur Sport.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2009 Syl Apps Award</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Jack Polonsky</h4>
          <p>
            Recipient of the Syl Apps Special Achievement was honoured by the Minister of Health Promotion the Honourable Margarett Best on April 15th, 2010 at the Atlantis Pavilion, Ontario Place, in grateful recognition of a distinguished contribution to the field of Amateur Sport.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2008 Syl Apps Award</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Chuck Lee</h4>
          <p>
            Recipient of the Syl Apps Special Achievement was honoured by the Minister of Health Promotion the Honourable Margarett Best on March 26th, 2009 at the Weston Bristol Hotel in grateful recognition of a distinguished contribution to the field of Amateur Sport.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2007 Syl Apps Award</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Craig Weldon</h4>
          <p>
            Recipient of the Syl Apps Special Achievement was honoured by the Minister of Health Promotion the Honourable Margarett Best on April 18th, 2008 at the prestigious granite club in grateful recognition of a distinguished contribution to the field of Amateur Sport.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2006 Syl Apps Award</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Brian Kalsen</h4>
          <p>
            Recipient of the Syl Apps Special Achievement was honoured by the Minister of Health Promotion the Honourable Jim Watson on April 26th, 2007 at the prestigious Granite Club in grateful recognition of a distinguished contribution to the field of Amateur Sport.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="year">
          <span>2006 Petro-Canada Coaching Excellence Award</span>
        </div>
        <div class="honor">
          <div class="image-box">
            <img src="img/olympians/placeholder.jpg" />
          </div>
        </div>
        <div class="honor">
          <h4>Tom Thomson:<br />Visually Impaired Judo</h4>
          <p>
            Recipients of the Petro-Canada Coaching Excellence Award, are some of Canada's most outstanding national team coaches. These coaches have dedicated their time and efforts to ensuring that athletes reach their potential on the international stage.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
