<template>
  <div class="tools">
    <div class="links">
      <div class="link">
        <router-link :to="`/invoices/${$store.state.user.loggedInAs.username}`">
          <strong>Invoice Disputes</strong>
          <div class="icon"><img src="../../../assets/img/icon-invoice-dispute.svg" width="31" /></div>
          <p>
            Review invoices that users have disputed.
          </p>
        </router-link>
      </div>
    </div>
  </div>
</template>
