<template>
  <div class="tools">
    <div class="links">
      <div class="link">
        <router-link :to="`/club/${$store.state.user.loggedInAs.clubs[0].id}`">
          <strong>Club Profile</strong>
          <div class="icon"><img src="../../../assets/img/icon-club.svg" width="34" /></div>
          <p>
            Adjust your club's account with Judo Ontario.
          </p>
        </router-link>
      </div>
      <div class="link">
        <router-link :to="'/dojoshu/members'">
          <strong>Members</strong>
          <div class="icon"><div class="indicator green">{{ $store.state.counts.dojoshuclub.paid }}</div></div>
          <p>
            Review your club members and their membership status.
          </p>
        </router-link>
      </div>
      <div class="link">
        <router-link :to="'/dojoshu/requests'">
          <strong>Join Requests</strong>
          <div class="icon"><div :class="`indicator ${$store.state.counts.dojoshuclub.requests ? 'red' : 'grey'}`">{{ $store.state.counts.dojoshuclub.requests }}</div></div>
          <p>
            Approve or deny requests to join your club.
          </p>
        </router-link>
      </div>
      <div class="link">
        <router-link :to="'/dojoshu/events'">
          <strong>Events</strong>
          <div class="icon"><img src="../../../assets/img/icon-scoreboard.svg" width="36" /></div>
          <p>
            Manage events that your club is participating in.
          </p>
        </router-link>
      </div>
      <!--div class="link">
        <router-link :to="`/profile/${$store.state.user.loggedInAs.username}`">
          <strong>Marketing Resources</strong>
          <div class="icon"><img src="../../assets/img/icon-events.svg" width="36" /></div>
          <p>
            Lorem ipsum dolar sit amet
          </p>
        </router-link>
      </div-->
    </div>
  </div>
</template>
