<template>
  <div :class="`tools-container ${open ? 'active' : ''}`">
    <nav :class="open ? 'active' : ''">
      <div class="tabs">
        <div :class="`tab ${showing === 'member' ? ' active' : ''}`" @click="show('member')">Member Tools</div>
        <div v-if="isDojoshu" :class="`tab ${showing === 'dojoshu' ? ' active' : ''}`" @click="show('dojoshu')">Dojoshu Tools</div>
        <div v-if="isAdmin" :class="`tab ${showing === 'admin' ? ' active' : ''}`" @click="show('admin')">Admin Tools</div>
      </div>
      <div class="content">
        <member-tools v-show="showing === 'member'" />
        <dojoshu-tools v-show="showing === 'dojoshu' && isDojoshu" />
        <admin-tools v-show="showing === 'admin' && isAdmin" />
      </div>
    </nav>
    <div :class="`btn-toggle-menu ${open ? 'active' : ''}`" @click="toggleMenu">{{ open ? 'Close ' : '' }}Dashboard Menu</div>
  </div>
</template>

<script>
  import MemberTools from './MemberTools'
  import DojoshuTools from './DojoshuTools'
  import AdminTools from './AdminTools'

  export default {
    data () {
      return {
        open: false,
        showing: 'member'
      }
    },
    methods: {
      toggleMenu () {
        this.open = !this.open
      },
      show (str) {
        this.open = true
        this.showing = str || 'member'
      },
      hide () {
        this.open = false
      }
    },
    computed: {
      isDojoshu () {
        if (this.$store.state.user.loggedInAs) {
          return this.$store.state.user.loggedInAs.clubs.some((club) => {
            return club.dojoshu.username === this.$store.state.user.loggedInAs.username
          })
        } else {
          return false
        }
      },
      isAdmin () {
        return this.$store.state.user.loggedInAs.admin
      }
    },
    mounted () {
      this.$el.querySelectorAll('.link').forEach((link) => {
        link.querySelector('a').addEventListener('click', () => {
          this.open = false
        })
      })
    },
    components: { MemberTools, DojoshuTools, AdminTools }
  }
</script>

<style lang="scss">
  @import '../../../assets/sass/app.scss';

  $expo: cubic-bezier(0.19, 1, 0.22, 1);
  $openDuration: 0.6s;

  .tools-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0 0 20px rgba(20, 15, 15, 0.75);
    margin-bottom: 0;
    position: relative;
    transition: all $openDuration 0.15s $expo;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(0);
      z-index: -1;
      height: 48px;
      width: 100%;
      background: url(../../../assets/img/pixel-pattern.svg);
      transition: all $openDuration 0.15s $expo;
    }

    &.active {
      margin-bottom: 80px;

      &::before {
        transform: translateY(100%);
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      max-height: 0;
      min-width: 730px;
      display: block;
      overflow: hidden;
      transition: max-height $openDuration $expo, margin-top 0.75s $expo;
      margin-top: 0px;

      &.active {
        max-height: 400px;
        margin-top: 30px;
      }

      .tabs {
        display: flex;
        position: relative;
        z-index: 10;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          transform: translateY(100%);
          display: block;
          height: 30px;
          width: 100%;
          background: #FFF;
          box-shadow: 0 0 44px -12px rgba(30,20,20,0.8);
          z-index: 100;
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          transform: translateY(200%);
          display: block;
          height: 30px;
          width: 100%;
          background: #FFF;
          z-index: 101;
        }

        .tab {
          position: relative;
          padding: 10px 45px;
          flex: 0 0 180px;
          text-align: center;
          background: #58595b;
          color: #FFF;
          font-size: 1rem;
          font-weight: bold;
          line-height: 20px;
          box-shadow: 0 0 25px rgb(20, 10, 10);
          z-index: 1;
          cursor: pointer;

          &.active {
            background: #F00;
            z-index: 10;
          }

          &:last-child {
            &::before {
              content: '';
              display: block;
              height: 100%;
              width: 30px;
              background: #FFF;
              position: absolute;
              top: 0;
              right: 0;
              transform: translateX(100%);
            }
          }
        }
      }

      .content {
        position: relative;
        z-index: 20;

        .tools {
          flex: 1 1 320px;
          min-width: 290px;

          h4 {
            color: lighten($grey, 10);
            border-bottom: 1px solid lighten($grey, 10);
            font-weight: normal;
            font-size: 0.9rem;
            padding-bottom: 8px;
            margin-bottom: 10px;
          }

          .links {
            display: flex;
            justify-content: center;
            max-width: 730px;
            padding: 0 30px 20px;

            .link {
              display: flex;
              flex: 1 1 150px;
              max-width: 320px;
              min-height: 160px;
              font-weight: bold;
              color: #58595b;
              font-size: 1rem;
              line-height: 22px;
              margin: 25px 5px 4px;
              padding-top: 20px;
              text-align: center;
              transform: perspective(1000) rotateX(0deg) scale(1);
              border: 1px solid rgba(50, 40, 40, 0);
              box-shadow: 0 0 0 rgba(20, 10, 10, 0);
              transition: 0.2s all ease-out;

              &:hover {
                transform: perspective(1000) rotateX(-10deg) scale(1.05);
                border: 1px solid rgba(50, 40, 40, 0.1);
                box-shadow: 0 -2px 30px rgba(20, 10, 10, 0.1);
              }

              &:active {
                transform: perspective(1000) rotateX(0deg) scale(0.95);
                border: 1px solid rgba(50, 40, 40, 0);
                box-shadow: inset 0 0 20px rgba(20, 10, 10, 0.1);
              }

              a {
                display: flex;
                flex-direction: column;
                color: inherit;
                text-decoration: none;
                text-align: center;
                width: 100%;

                strong {
                  display: block;
                  font-size: 0.9rem;
                }

                .icon {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  margin-top: 15px;
                  min-height: 45px;

                  &::before,
                  &::after {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 15px;
                    background: #d6d6d7;
                    position: absolute;
                    top: 50%;
                  }

                  &::before {
                    left: 30%;
                    transform: translate(-50%, -50%);
                  }

                  &::after {
                    right: 30%;
                    transform: translate(50%, -50%);
                  }
                }

                p {
                  padding: 0 11px;
                  font-size: 0.75rem;
                  line-height: 17px;
                  font-weight: normal;
                }
              }

              .indicator {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                color: #FFF;
                font-size: 1rem;
                font-weight: bold;
                border-radius: 100%;

                &.red { background: #ed1c24; }
                &.green { background: #598527; }
                &.grey { background: #65645f; }
              }
            }
          }
        }
      }
    }

    .btn-toggle-menu {
      background: url('../../../assets/img/icon-arrow-down.png') bottom center no-repeat #363636;
      padding: 15px 10px;
      border-radius: 10px;
      color: #FFF;
      font-weight: bold;
      font-size: 0.9rem;
      cursor: pointer;
      user-select: none;
      margin: 20px 0;
      transform: scale(1);
      transition: transform 0.1s ease-out;

      &.active {
        background: url('../../../assets/img/icon-arrow-up.png') bottom center no-repeat #363636;
      }

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
</style>


