<template>
  <div class="tools">
    <div class="links">
      <div class="link">
        <router-link to="/dashboard">
          <strong>Dashboard</strong>
          <div class="icon"><img src="../../../assets/img/icon-dashboard.svg" width="22" /></div>
          <p>
            Manage your personal information to stay up-to-date
          </p>
        </router-link>
      </div>
      <div class="link">
        <router-link :to="`/profile/${$store.state.user.loggedInAs.username}`">
          <strong>Profile</strong>
          <div class="icon"><img src="../../../assets/img/icon-gi.svg" width="36" /></div>
          <p>
            See and share a snapshot of all your important Judo Ontario info
          </p>
        </router-link>
      </div>
      <div class="link">
        <router-link to="/dashboard/messages">
          <strong>Messages</strong>
          <div class="icon">
            <div :class="`indicator ${unreadMessages ? 'red' : 'grey'}`">{{ unreadMessages }}</div>
          </div>
          <p>
            Send an receive messages to and from your club and Judo Ontario
          </p>
        </router-link>
      </div>
      <div class="link">
        <router-link to="/dashboard/events">
          <strong>My Events</strong>
          <div class="icon"><img src="../../../assets/img/icon-events.svg" width="36" /></div>
          <p>
            Keep track of events you’ve registered for, past, present and future.
          </p>
        </router-link>
      </div>
      <div class="link">
        <router-link to="/dashboard/invoices">
          <strong>Billing</strong>
          <div class="icon"><img src="../../../assets/img/icon-invoice.svg" width="24" /></div>
          <p>
            Track all your Judo Ontario related invoices and receipts.
          </p>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      unreadMessages () {
        return this.$store ? this.$store.state.counts.messages.unread : 0
      }
    }
  }
</script>
