//
// Fonts
//

$sans: Arial, Helvetica Neue, Helvetica, sans-serif;
$cond: 'acumin-pro-condensed', Arial;

//
// Define all app base specific settings
//

$type: #403f3e;
$primary: #ff0000;

$danger: $primary;
$grey: #403f3b;

//
// Global properties for app
//

html {
  // Base font side for REM
  font-size: 16px;
  font-family: $sans;
}

body,
html {
  margin: 0;
  overflow-x: hidden;

  button,
  input[type=submit],
  .judo-btn {
    overflow: hidden;
    display: inline-block;
    appearance: none;
    background: #e1e1e1;
    border: 0;
    color: #403f3b;
    padding: 11px 25px;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bold;
    min-width: 160px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.25s all ease-out;

    &::before {
      content: '';
      display: inline-block;
      background: url('/img/btn-arrow.svg') no-repeat center center;
      background-size: cover;
      height: 15px;
      width: 15px;
      margin-right: -8px;
      transform: translateX(-50px) translateY(3px);
      opacity: 0;
      transition: 0.25s all ease-out;
    }

    &:hover {
      background: #363636 !important;
      color: #FFF;

      &::before {
        transform: translateX(0) translateY(3px);
        opacity: 1;
        margin-right: 5px;
      }
    }
  }
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Generic bottom horizontal break style

//thin lines
@mixin judo-hr-light($colour, $backdrop) {
  position: relative;
  z-index: 2;

  &::after,
  &::before {
    content: '';
    display: block;
    position: relative;

  }

  &::before {
    position: absolute;
    background: $backdrop;
    border: 1px solid $colour;
    border-width: 0 1px 1px 0;
    z-index: -1;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: 17px;
    width: 17px;
  }

  &::after {
    position: absolute;
    background: $colour;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -2;
  }
}

//thick lines
@mixin judo-hr-heavy($colour, $backdrop) {
  @include judo-hr-light($colour, $backdrop);
  &::before {
    border: 2px solid $colour;
    border-width: 0 2px 2px 0;
  }

  &::after {
    height: 2px;
  }
}
