<template>
  <div class="breadcrumbs" v-if="path !== '/'">
    <ul class="breadcrumb">
      <li v-for="(pathPart, index) in pathParts" :key="index">
        <a v-if="index < pathParts.length - 1" :href="buildLink(index)">{{ buildTitle(pathPart) }}</a>
        <span v-else>{{ buildTitle(pathPart) }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
  // Add values here that need to be kept capitalized in breadcrumb names
  // Must not contain spaces!
  const toBeCapitalized = [
    'LMS',
    'WMS'
  ]

  export default {
    data () {
      return {
        path: window.location.pathname,
        pathParts: ['Homepage'].concat(window.location.pathname.slice(1).split('/'))
      }
    },
    methods: {
      buildLink (index) {
        return '/' +  this.pathParts.slice(1, index + 1).join('/')
      },
      buildTitle (pathPart) {
        return Array.from(pathPart.replace(/-/g, ' ')).map((char, index, orig) => {
          if (index === 0 || orig[index - 1] === ' ') return char.toUpperCase()
          return char
        }).join('').split(' ').map((word) => {
          if (toBeCapitalized.some((test) => test === word.toUpperCase())) return word.toUpperCase()
          else return word
        }).join(' ')
      }
    }
  }
</script>

<style lang="scss">
  @import '../../sass/sass-only/_app.scss';

  .breadcrumbs {
    position: relative;

    ul.breadcrumb {
      padding: 30px 16px;
      list-style: none;
      background: #fff;

      li {
        display: inline;
        font-size: 0.9rem;
        color: #403f3b;
        font-family: Arial;

        &:first-child {
          a {
            text-decoration: underline;
          }
        }

        a {
          cursor: pointer;
          color: inherit;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      li+li:before {
        content: ">\00a0";
        padding: 8px 5px 8px 11px;
        color: #000;
      }
    }
  }
</style>
