<template>
  <a :href="link">
    <slot></slot>
  </a>
</template>

<script>
  export default {
    props: {
      to: {
        required: true,
        type: String
      }
    },
    computed: {
      link () {
        return `http://staging.judoontario.ca/client/#/${this.to}`
      }
    }
  }
</script>
