<template>
  <div class="test" :class="shown ? 'active' : ''" :style="navItemHeight">
    <div ref="title" @click="toggle" class="title">
      {{ title }}
    </div>
    <div ref="links" class="links">
      <slot />
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        shown: false,
        linksHeight: 0,
        titleHeight: 0
      }
    },
    computed: {
      navItemHeight () {
        return {
          height: (this.shown ? `${this.linksHeight + this.titleHeight + 14}px` : `${this.titleHeight}px`)
        }
      }
    },
    methods: {
      toggle () {
        this.shown = !this.shown
      },
      setHeight () {
        this.linksHeight = this.$refs.links.getBoundingClientRect().height
        this.titleHeight = this.$refs.title.getBoundingClientRect().height
      }
    },
    mounted () {
      this.setHeight()
      window.addEventListener('resize', this.setHeight.bind(this))
    }
  }
</script>

<style lang="scss">
@import '../../sass/sass-only/_utils.scss';
@import '../../sass/sass-only/_app.scss';

  .test {
    transition: height 0.5s ease-in-out;
    overflow: hidden;
    color: #181718;
    font-family: Arial;

    >.title {
      background: #ebebeb;
      padding: 12px 20px;
      margin-bottom: 7px;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.4rem;
    }

    a {
      pointer-events: none;
      text-decoration: none;
      display: block;
      background: #ebebeb;
      padding: 20px;
    }

    &.active {
      a {
        pointer-events: all;
      }
    }
  }
</style>
