<template>
  <article>
    <div class="image-container">
      <div class="image-area article1"></div>
    </div>
    <div class="article-content">
      <span id="date">October 1, 2017</span>
      <h4 id="article-name">A short story headline can go here</h4>
      <a href="/"><span id="read-more">Read news story</span></a>
    </div>
  </article>
</template>

<style lang="scss">
  @import '../../sass/sass-only/_utils.scss';
  @import '../../sass/sass-only/_app.scss';

  article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 20px;
    padding: 15px 0;
    border-bottom: 1px solid #c5c5c5;

    .image-container {
      position: relative;
      flex: 0 0 204px;
      width: 204px;
      height: 148px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #c2c2c2;

      &::after {
        content: '';
        position: absolute;
        right: -12px;
        top: 52%;
        width: 12px;
        height: 22px;
        transform: translateY(-50%);
        background: url('/img/right-triangle.jpg') center center no-repeat;
      }

      .image-area {
        width: 188px;
        height: 132px;

        &.article1 {
          background: url('/img/article1.jpg') center center no-repeat;
          background-size: cover;
        }
      }
    }

    .article-content {
      font-family: Arial;
      padding-left: 45px;
      flex: 1 1 240px;

      span#date {
        font-style: italic;
        font-size: .85rem;
      }

      a {
        text-decoration: none;

        span#read-more {
          position: relative;
          font-size: .9rem;

          &:hover {
            &::after {
              right: -18px;
            }
          }

          &::after {
            content: '';
            position: absolute;
            right: -13px;
            transition: right 0.5s $expo;
            top: 52%;
            transform: translateY(-50%);
            width: 9px;
            height: 8px;
            background: url('/img/red-micro-arrow-right.jpg') center center no-repeat;
          }
        }
      }

      h4 {
        margin: 0;
        padding-bottom: 7px;
        color: $primary;
        font-size: 1.375rem;
      }
    }
  }
</style>
