<template>
  <div>
    <div @click="toggleNav" class="nav-btn"><img src="/img/menu-btn.jpg" /></div>
    <nav :class="toggle ? 'active' : ''">
      <div @click="toggleNav" class="top-bar">
        <h4>Homepage</h4>
        <div class="close">
          Close Menu
          <img src="/img/close-btn.png" />
        </div>
      </div>
      <slot />
    </nav>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        toggle: false
      }
    },
    methods: {
      toggleNav () {
        this.toggle = !this.toggle
      }
    }
  }
</script>

<style lang="scss">
@import '../../sass/sass-only/_utils.scss';
@import '../../sass/sass-only/_app.scss';

  div {
    .menu-btn {
      position: relative;
      padding: 16px;
      margin-right: 15px;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #bcbec0;
        width: 1px;
        height: 85px;
      }
    }

    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
      margin: auto;
      padding: 10px 20px;

      h4 {
        position: relative;
        margin: 0;
        font-size: 2.05rem;
        cursor: pointer;
        padding-left: 15px;

        &::before {
          content: '';
          position: absolute;
          left: -19px;
          top: 50%;
          transform: translateY(-50%);
          width: 29px;
          height: 24px;
          background: url('/img/arrow-curved-left.png') center center no-repeat;
        }
      }

      .close {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 180px;
        width: 100%;
        font-size: 1.175rem;
        font-weight: bold;
        cursor: pointer;

        img {
          max-width: 50px;
        }
      }
    }

    nav {
      width: 100vw;
      position: absolute;
      background: #fff;
      height: 100vh;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.5s $expo;
      z-index: 999;

      &.active {
        transform: translateX(0);
      }
    }
  }
</style>
