<template>
  <div class="avatar-container">
    <strong v-if="name">{{ name }}</strong>
    <div class="avatar" style="background-image: url('../../assets/img/loading.gif')" :style="{ backgroundImage: `url(${avatar || loadingGIF})` }"></div>
    <div class="belt" :style="{ backgroundColor: belt }" v-if="showBelt && belt"></div>
  </div>
</template>

<script>
  import { GetUser, StaticFile } from '@/apiHelper.js'

  import loadingGIF from '../../assets/img/loading.gif'

  export default {
    props: {
      showBelt: {
        type: Boolean,
        default: false
      },
      showName: {
        type: Boolean,
        default: false
      },
      username: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        avatar: '',
        belt: null,
        name: null,
        loadingGIF
      }
    },
    methods: {
      beltToColour (belt) {
        if (belt === 1) return '#e1e1e1'
        if (belt === 2) return '#f7d400'
        if (belt === 3) return '#dd7921'
        if (belt === 4) return '#189225'
        if (belt === 5) return '#2a58e5'
        if (belt === 6) return '#944d0e'
        if (belt === 7) return '#000000'
        if (belt === 8) return '#c81907'
        return '#FFFFFF'
      }
    },
    mounted () {
      GetUser(this.username, this.$store)
        .then((res) => {
          if (res.success) {
            this.avatar = StaticFile(res.user.avatar)
            if (this.showName) this.name = `${res.user.firstname} ${res.user.lastname}`
            if (this.showBelt) this.belt = this.beltToColour(parseInt(res.user.belt))
          }
        })
    }
  }
</script>

<style lang="scss">
  .avatar-container {
    position: relative;
    margin-right: 30px;
    display: flex;
    align-items: center;

    >strong {
      margin-right: 18px;
    }

    &:hover {
      .belt {
        transform: translateX(20px);
      }
    }

    .avatar,
    .belt {
      height: 60px;
      width: 60px;
      font-size: 1.1rem;
      font-weight: bold;
      border-radius: 100%;
      background-size: cover;
      background-position: center;
      background-color: #413939;
    }

    .avatar {
      position: relative;

      &::after,
      &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background: #FFF;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      &::after {
        transform: translateX(0) scale(1.1);
      }

      &::before {
        transform: translateX(15px) scale(1.1);
      }
    }

    .belt {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      animation: 0.5s beltAnimateIn ease-out;
      animation-fill-mode: forwards;
      transition: 0.3s transform ease-out;

      @keyframes beltAnimateIn {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(15px);
        }
      }
    }
  }
</style>
