<template>
  <modal title="Upload an Event Poster" ref="modal">
    <image-input @changeImage="syncWithEventContainer" />
  </modal>
</template>

<script>
  import ImageInput from '../../generic/ImageInput'

  export default {
    props: {
      eventContainer: {
        type: Object,
        required: true
      }
    },
    methods: {
      openModal () { this.$refs['modal'].openModal() },
      closeModal () { this.$refs['modal'].closeModal() },
      syncWithEventContainer (image) {
        this.eventContainer.event.poster = image
        this.closeModal()
      }
    },
    components: { ImageInput }
  }
</script>

<style lang="scss" scoped>
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 75vh;
    width: 90vw;
    transform: translate(-50%, -50%);
    max-height: 400px;
    max-width: 500px;
    background: #FFF;
    padding: 20px 25px;
    box-shadow: 0 0 10px rgba(27, 22, 20, 0.5);
    border-radius: 10px;
    z-index: 999999999;
  }

  .backdrop {
    content: '';
    background: rgba(17, 12, 10, 0.75);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999998;
  }
</style>
