<template>
  <div class="event-builder-container">
    <div class="event-builder" v-if="eventContainer && !unknownEvent">
      <div class="steps">
        <div v-for="step in stepComponents.length"
          :key="step"
          :class="`step ${currentStep >= step ? 'active' : ''}`"
          @click="currentStep = step">
            {{ step < stepComponents.length ? `Step ${step}` : 'Finish' }}
        </div>
      </div>

      <div class="btns" v-if="eventContainer.event.draft === true" >
        <div class="judo-btn" @click="save">Save Progress</div>
      </div>
      <alert v-else :dismissable="false" title="This is an active event" content="This event is already available to the public and is not editable! If you want to edit it, you must pause it before the registration period begins." />

      <component :is="currentComponent" :event-container="eventContainer" @refresh="refresh" @undraft="undraft" />

      <button @click="nextStep">Next</button>
    </div>
    <div v-if="unknownEvent">
      <alert :dismissable="false" :title="`Event ${id} not found`" content="This event was not found in the database. Check with the system admin if you think this is an error." />
    </div>
  </div>
</template>

<script>
  import Alert from '../../generic/Alert'
  import { EventContainer } from './EventContainer'

  import stepOne from './stepOne'
  import stepTwo from './stepTwo'
  import stepThree from './stepThree'
  import stepFinish from './stepFinish'

  export default {
    props: {
      id: {
        type: Number
      }
    },
    data () {
      return {
        eventContainer: null,
        currentStep: 1,
        stepComponents: [ stepOne, stepTwo, stepThree, stepFinish ],
        unknownEvent: false
      }
    },
    computed: {
      currentComponent () {
        return this.stepComponents[this.currentStep - 1]
      }
    },
    methods: {
      nextStep () {
        this.currentStep++
      },
      save () {
        this.eventContainer.commit().then(() => {
          if (this.$route.path.slice(-4) === '/new') this.$router.push(`/dojoshu/events/${this.eventContainer.event.id}`)
          setTimeout(() => this.$store.commit('SHOW_ERROR', { message: 'This event has been saved!' }), 500)
        }).catch((err) => {
          this.$store.commit('SHOW_ERROR', { message: err.toString() })
        })
      },
      undraft () {
        this.eventContainer.event.draft = false
        this.save()
      },
      refresh () {
        if (this.eventContainer) this.save()
        this.eventContainer = new EventContainer(this.id)
        this.eventContainer.pull().then((success) => {
          if (!success && (this.$route.path.slice(-4) !== '/new')) this.unknownEvent = true
        })
      }
    },
    mounted () {
      if (this.$route.hash) this.currentStep = parseInt(this.$route.hash.replace('#', ''))
      this.$watch('currentStep', (currentStep) => this.$router.push(`#${currentStep}`))
      this.$watch('eventContainer.mutated', (mutated) => {
        this.$store.commit('CLEAR_ERROR')
        if (mutated) this.$store.commit('SHOW_NOTICE', {message: 'This event has unsaved settings!'})
        else this.$store.commit('CLEAR_NOTICE')
      })
      this.refresh()
    },
    components: { Alert }
  }
</script>

<style lang="scss">
  .steps {
    display: flex;

    .step {
      position: relative;
      flex: 1 1 320px;
      text-align: center;
      margin: 0 2px;
      font-size: 0.9rem;
      cursor: pointer;

      &.active {
        &::before {
          background: #F00;
        }
      }

      &::before {
        content: '';
        display: block;
        height: 14px;
        width: 100%;
        background: #efefef;
        margin-bottom: 10px;
      }
    }
  }

  .form-container {
    >p {
      font-size: 0.9rem;
      color: #333;
      line-height: 21px;
    }

    .form-row {
      display: flex;
      flex-wrap: wrap;
      min-height: 40px;
      margin: 8px 0;
      position: relative;

      label {
        display: flex;
        flex: 0 1 290px;
        font-size: 0.9rem;
        align-items: center;
      }

      .form-control {
        display: flex;
        flex: 1 1 auto;
        align-items: center;

        input {
          height: 100%;
          padding: 7px 10px;
          font-weight: bold;
          font-size: 1rem;
          width: 100%;
        }
      }
    }
  }
</style>
