<template>
  <div class="form-container">
    <h3>Final Review & Request Sanctioning</h3>
    <p>
      Take one final look at the event you created.  Ensure all information is correct.  If something is not correct, click on the appropriate step shown above to go to that step and modify your information.  When you are 100% confident that all information is correct, click the large red FINISH button at the bottom.  Your event will be sent to Judo Ontario administration for sanctioning review.  Once approved by Judo Ontario, your event will be LIVE.
    </p>

    <h3>Step 1: General Information</h3>

    <dl>
      <div class="definition-row">
        <dt>Event Name</dt>
        <dd>{{ eventContainer.event.name }}</dd>
      </div>
      <div class="definition-row" v-if="eventContainer.event.technical_director">
        <dt>Technical Director</dt>
        <dd><avatar :show-belt="true" :show-name="true" :username="eventContainer.event.technical_director" /></dd>
      </div>
    </dl>

    <p>
      Click the button below to finalize the event:
    </p>

    <div class="judo-btn red" :disabled="!eventContainer.event.draft" @click="undraft">Go live</div>
  </div>
</template>

<script>
  import Avatar from '../../user/Avatar'

  export default {
    props: {
      eventContainer: {
        type: Object,
        required: true
      }
    },
    methods: {
      undraft () {
        this.$emit('undraft')
      }
    },
    components: { Avatar }
  }
</script>

<style lang="scss" scoped>
  dl {
    color: #231f20;

    .definition-row {
      display: flex;
      margin: 15px 0;

      dt {
        display: flex;
        align-items: center;
        flex: 0 1 150px;
      }
    }

    dt {
      font-weight: bold
    }
  }
</style>