<template>
  <div class="form-container">
    <div class="form-row">
      <label>Give your event a name</label>
      <div class="form-control">
        <input type="text" :disabled="!eventContainer.event.draft" v-model="eventContainer.event.name" />
      </div>
    </div>

    <div class="form-row">
      <label>Event Administrator</label>
      <div class="form-control">
        <strong>You are the Administrator</strong>
      </div>
    </div>

    <div class="form-row">
      <label>Technical Director</label>
      <div class="form-control">
        <user-input :disabled="!eventContainer.event.draft" v-model="eventContainer.event.technical_director" />
      </div>
    </div>

    <div class="form-row more-space">
      <label>Add Event Poster</label>
      <div class="form-control">
        <div class="judo-btn upload-btn" :disabled="!eventContainer.event.draft" @click="$refs['posterModal'].openModal()">Browse</div>
        <hint title="Poster Upload Hint" hint-content="This image will be displayed when on the user's dashboard as a way to get the word out about the event. You will want this image to be a maximum of 300px x 120px inorder to fit correctly. The system will attempt to scale the image to fit otherwise." />
        
        <event-poster-modal :event-container="eventContainer" ref="posterModal" />
      </div>
    </div>

    <div class="poster-preview" v-if="eventContainer.event.poster">
      <div class="poster-preview-box" :style="{ backgroundImage: `url(${StaticFile(eventContainer.event.poster)})` }"></div>
    </div>

    <div class="form-row more-space">
      <label>Add Event Logo</label>
      <div class="form-control">
        <div class="avatar" :disabled="!eventContainer.event.draft" @click="$refs['avatarModal'].openModal()" :style="{ backgroundImage: `url(${StaticFile(eventContainer.event.avatar)})` }"></div>
        <event-avatar-modal :event-container="eventContainer" ref="avatarModal" />
      </div>
    </div>
  </div>
</template>

<script>
  import { StaticFile } from '../../../apiHelper'

  import EventAvatarModal from './EventAvatarModal.vue'
  import EventPosterModal from './EventPosterModal.vue'
  import UserInput from '../../generic/UserInput'
  import Hint from '../../generic/Hint'

  export default {
    props: {
      eventContainer: {
        type: Object,
        required: true
      }
    },
    components: { EventAvatarModal, EventPosterModal, UserInput, Hint },
    methods: { StaticFile }
  }
</script>

<style lang="scss" scoped>
  .avatar {
    background-color: #565656;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;

    &[disabled] {
      pointer-events: none;
      border: 10px solid #ececec;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: '';
      display: block;
      height: 100%;
      widows: 100%;
      background: url('../../../assets/img/icon-camera.svg') center center no-repeat rgba(0,0,0,0.4);
      background-size: 45px;
      opacity: 0;
      transition: 0.2s all ease-out;
    }
  }

  .avatar {
    border-radius: 100%;
    height: 230px;
    width: 230px;
    max-height: 300px;
    max-width: 300px;
    min-width: 150px;
  }

  .poster-preview {
    flex: 0 0 100%;
    height: 300px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 75%;
      transform: translateX(-50%);
      background: url('../../../assets/img/poster-preview.png');
      background-size: 547px;
      background-position: top center;
    }

    .poster-preview-box {
      position: absolute;
      top: 205px;
      right: 50%;
      background-position: center;
      background-size: cover;
      z-index: 999;
      width: 216px;
      height: 72px;
    }
  }

  * + .form-row.more-space {
    margin-top: 30px;
  }

  .upload-btn {
    display: flex;
    align-items: center;
    min-height: 50px;
    min-width: auto;
    padding-left: 17px;

    &:hover {
      &::before {
        transform: translateX(0) translateY(0) !important;
      }
    }
  }
</style>
