<template>
  <div class="form-container">
    <div class="form-row">
      <label>Register Start</label>
      <div class="form-control">
        <input type="text" :disabled="!eventContainer.event.draft" v-model="eventContainer.event.register_start" />
      </div>
    </div>

    <div class="form-row">
      <label>Register End</label>
      <div class="form-control">
        <input type="text" :disabled="!eventContainer.event.draft" v-model="eventContainer.event.register_end" />
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      eventContainer: {
        type: Object,
        required: true
      }
    }
  }
</script>
