<template>
  <div class="form-container">
    <p>
      NOTE: For your convenience, we can pre-load new tournaments with a “standard” commonly used set of Divisions. You have the ability to customize as you see fit.
    </p>
    <div class="judo-btn" :disabled="populating || !eventContainer.event.draft" v-if="!eventContainer.tycdates.length" @click="populate">Apply template</div>

    <h3>Divisions</h3>
    <div class="gender-selector" v-if="eventContainer.tycdates.length">
      <div :class="`gender-btn ${activeGender === 'any' ? 'active' : ''}`" @click="setGender('any')">
        Any
      </div>
      <div v-for="(_, gender) in tycdates" :key="gender" :class="`gender-btn ${activeGender === gender ? 'active' : ''}`" @click="setGender(gender)">
        {{ capitalize(gender) }}
      </div>
    </div>

    <h4>{{ capitalize(activeGender) }}</h4>
    <div class="type-selector" v-if="eventContainer.tycdates.length">
      <div :class="`type-btn ${activeType === 'any' ? 'active' : ''}`" @click="setType('any')">
        Any
      </div>
      <div v-for="singleType in types" :key="singleType" :class="`type-btn ${activeType === singleType ? 'active' : ''}`" @click="setType(singleType)">
        {{ capitalize(singleType) }}
      </div>
    </div>

    <div class="groups" v-if="eventContainer.tycdates.length">
      <!-- this will be repeated for each group, which is a new addition Chris can describe (TYCDATE groups) -->
      <div class="group">
        <div class="group-top">
          <h3>{{ capitalize(activeType) }}</h3>
          <div class="fill">Divison Details</div>
          <div>
            <div class="btn">Copy</div>
          </div>
          <div>
            <hint title="Group Toolbar Hint" hint-content="@TODO: Fill in" />
          </div>
        </div>
        <div class="group-bottom">
          <label>Qualifying Rank(s)</label>
          <div class="rank-selector">
            <div class="rank" v-for="rank in ranks" :style="{ color: rank.colour }"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="tycdates">
      <div class="tycdate" v-for="tycdate in filteredTycdates" :key="tycdate.id">
        <span>{{ capitalize(tycdate.gender) }}</span>
        <span>{{ capitalize(tycdate.type) }}</span>
        <span>{{ tycdate.weight_lowest }}kg - {{ tycdate.weight_highest }}kg </span>
      </div>
    </div>
  </div>
</template>

<script>
  import { APIRequest } from '../../../apiHelper'

  import Hint from '../../generic/Hint'

  export default {
    props: {
      eventContainer: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        populating: false,
        activeGender: 'any',
        activeType: 'any',
        ranks: [
          { colour: '#e1e1e1' },
          { colour: '#f7d400' },
          { colour: '#dd7921' },
          { colour: '#189225' },
          { colour: '#2a58e5' },
          { colour: '#944d0e' },
          { colour: '#000000' },
          { colour: '#c81907' }
        ]
      }
    },
    computed: {
      tycdates () {
        return this.eventContainer.tycdates.reduce((acc, tycdate) => {
          if (acc[tycdate.gender]) acc[tycdate.gender].push(tycdate)
          else acc[tycdate.gender] = [tycdate]
          return acc
        }, {})
      },
      types () {
        return this.eventContainer.tycdates.reduce((acc, tycdate) => {
          if (acc.indexOf(tycdate.type) === -1) acc.push(tycdate.type)
          return acc
        }, [])
      },
      filteredTycdates () {
        const filteredByGender = this.activeGender === 'any' ? this.eventContainer.tycdates : this.tycdates[this.activeGender]
        return this.activeType === 'any' ? filteredByGender : filteredByGender.filter((tycdate) => tycdate.type === this.activeType)
      }
    },
    methods: {
      capitalize (str) { return str.slice(0, 1).toUpperCase() + str.slice(1) },
      populate () {
        this.populating = true
        this.eventContainer.commit().then((event) => {
          this.eventContainer.event.id = event.id
          return APIRequest('PUT', `events/populate/${event.id}`)
        }).then((res) => {
          this.populating = false
          if (res.success) {
            if (this.$route.path.slice(-4) === '/new') {
              this.$router.push(`/dojoshu/events/${this.eventContainer.event.id}/#3`)
            } else {
              this.$emit('refresh')
            }
          } else {
            this.$store.commit('SHOW_ERROR', res)
          }
        })
      },
      setGender (gender) { this.activeGender = gender },
      setType (type) { this.activeType = type }
    },
    components: {
      Hint
    }
  }
</script>

<style lang="scss" scoped>
  .gender-selector,
  .type-selector {
    display: flex;

    .gender-btn,
    .type-btn {
      padding: 15px 21px;
      background: #EDEDED;
      color: #333;

      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &.active {
        background: #333;
        color: #EDEDED;
      }

      &:not(.active) {
        cursor: pointer;

        &:hover {
          background: #DADADA;
        }
      }
    }
  }

  .groups {
    margin: 20px 0;

    .group {
      font-family: Arial;
    
      .group-top {
        display: flex;

        >* {
          padding: 7px 12px;
          display: flex;
          align-items: center;
          font-size: 0.9rem;
        }

        h3 {
          background: #333;
          color: #FFF;
          justify-content: center;
          text-align: center;
          margin: 0;
        }

        >div {
          background: #EDEDED;

          &.fill { flex: 1 1 100%; }

          .btn {
            background: #333;
            border-radius: 5px;
            padding: 6px 9px;
            color: #FFF;
            font-weight: bold;
            cursor: pointer;

            &:hover {
              background: lighten(#333, 10);
            }
          }

          .hint-icon {
            margin: 0;
          }
        }
      }

      .group-bottom {
        display: flex;
        padding: 15px 10px;
        font-size: 0.85rem;
        font-weight: bold;

        .rank-selector {
          display: flex;
          margin-left: 8px;
          
          .rank {
            height: 16px;
            width: 16px;
            border-radius: 100%;
            background: currentColor;
            margin: 0 1px;
            position: relative;

            &.active,
            &:active {
              border: 3px solid #000;

              &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translate(-50%, 100%);
                height: 4px;
                width: calc(100% + 3px);
                background: #000;
              }
            }
          }
        }
      }
    }
  }

  .tycdates {
    .tycdate {
      display: flex;
      padding: 16px 0;
      color: #353535;
      font-weight: bold;
      font-size: 0.85rem;

      & + .tycdate {
        border-top: 1px solid #dddedf;
      }

      span {
        flex: 0 1 120px;
      }
    }
  }
</style>