<template>
  <page v-if="!error && club">
    <div class="user-header">
      <div class="club-info">
        <div class="avatar">
          <img :src="StaticFile(club.avatar)"/>
        </div>
        <div class="intro">
          <h3>
            <strong>{{ club.name }}</strong>
          </h3>
          <p>
            {{ club.description }}
          </p>
        </div>
      </div>
    </div>

    <div class="user-stats">
      <div class="user-stat">
        <strong>{{ paidMembers }}</strong>
        <h4>Registered Members</h4>
      </div>
      <div class="user-stat">
        <strong>{{ (events || []).length }}</strong>
        <h4>Events</h4>
      </div>
      <div class="user-stat">
        <strong>{{ differenceInYears(new Date(), club.created_at) }}</strong>
        <h4>Years at Judo Ontario</h4>
      </div>
    </div>

    <!-- <div class="user-info">
      <div class="user-events" >
        <h4>{{ club.name }}'s registered events</h4>
      </div>
    </div> -->
  </page>
  <page v-else>
    <alert v-if="!loading" title="Member not found" :content="error" :dismissable="false" />
  </page>
</template>

<script>
  import { APIRequest, StaticFile } from '@/apiHelper.js'

  import EventsList from '../../components/user/Dashboard/EventsList.vue'
  import Avatar from '../../components/user/Avatar'
  import Alert from '../../components/generic/Alert'

  import { differenceInYears } from 'date-fns'

  export default {
    props: {
      id: {
        required: true,
        type: String
      }
    },
    data () {
      return {
        club: null,
        events: null,
        paidMembers: null,
        error: '',
        loading: true
      }
    },
    methods: {
      differenceInYears,
      StaticFile
    },
    mounted () {
      APIRequest('GET', `clubs/${this.id}`)
        .then((res) => {
          if (res.success) {
            this.club = res.club
          } else {
            this.$store.commit('SHOW_ERROR', res)
          }
          this.loading = false
        })
      APIRequest('GET', `clubs/${this.id}/users/paid/count`)
        .then((res) => {
          if (res.success) {
            this.paidMembers = res.total
          } else {
            this.$store.commit('SHOW_ERROR', res)
          }
          this.loading = false
        })
      APIRequest('GET', `clubs/${this.id}/events`)
        .then((res) => {
          if (res.success) {
            this.events = res.events
          } else {
            this.$store.commit('SHOW_ERROR', res)
          }
          this.loading = false
        })
    },
    components: { EventsList, Avatar, Alert }
  }
</script>

<style lang="scss" scoped>
  .avatar {
    display: flex;
    justify-content: center;
    height: 110px;
    width: 110px;
    margin-right: 15px;
    border-radius: 100%;
    background-color: #343434;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .club-info {
    display: flex;
    align-items: center;
  }

  .intro {
    border-left: 1px solid #dadada;

    p {
      padding: 0 17px;
    }
  }

  .user-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    border-bottom: 1px solid #dadada;

    h3 {
      font-size: 3.25rem;
      padding-left: 13px;
      padding-bottom: 10px;
      margin: 0;
      font-weight: normal;
      font-family: "acumin-pro-condensed", Arial;

      .you-label {
        display: inline-block;
        background: #ff6161;
        color: #FFF;
        padding: 0 8px 3px;
        margin-left: 12px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 5px;
        transform: translateY(-9px);
      }
    }
  }

  .user-stats {
    display: flex;

    .user-stat {
      flex: 1 1 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "acumin-pro-condensed", Arial;
      padding: 15px 15px 20px;
      text-align: center;
      border-bottom: 1px solid #dadada;
      color: #343434;

      & + * {
        border-left: 1px solid #dadada;
      }

      strong {
        font-size: 3rem;
        line-height: 60px;
      }

      h4 {
        font-size: 1.5rem;
        font-weight: normal;
        margin: -5px 0 0 0;
      }
    }
  }

  .user-info {
    h4 {
      position: relative;
      border-bottom: 1px solid #efefef;
      padding-bottom: 7px;
      padding-right: 25px;
      margin-bottom: 30px;
      font-size: 1.25rem;
      margin-top: 5px;
      padding-top: 15px;
      font-weight: bold;
      color: #444;

      &::after {
        content: '';
        position: absolute;
        background: url('../../assets/img/accent-bar.svg');
        width: 120px;
        height: 8px;
        bottom: -9px;
        left: 0;
        background-size: cover;
      }
    }
  }
</style>
