<template>
  <page class="page" v-if="!error && user">
    <div class="user-header">
      <avatar :show-belt="true" :username="user.username"/>
      <h3>
        <strong>{{ user.firstname }}</strong>
        {{ user.lastname }}
        <span class="you-label" v-if="$store && $store.state.user.loggedIn && (user.username === $store.state.user.loggedInAs.username)">You!</span>
      </h3>
    </div>

    <div class="user-stats">
      <div class="user-stat">
        <strong>{{ user.events.length }}</strong>
        <h4>Registered Events</h4>
      </div>
      <div class="user-stat">
        <strong>{{ user.clubs.length }}</strong>
        <h4>Joined Clubs</h4>
      </div>
      <div class="user-stat">
        <strong>{{ differenceInYears(new Date(), user.created_at) }}</strong>
        <h4>Years at Judo Ontario</h4>
      </div>
    </div>

    <div class="user-info">
      <div class="user-events" >
        <h4>{{ user.firstname }}'s registered events</h4>
        <events-list v-if="user.events.length" :events="user.events" />
        <alert v-else title="No Events" :content="`${user.firstname} has not registered for any upcoming events.`" :dismissable="false" />
      </div>
    </div>
  </page>
  <page class="page" v-else>
    <alert v-if="!loading" title="Member not found" :content="error" :dismissable="false" />
  </page>
</template>

<script>
  import { GetUser } from '@/apiHelper.js'

  import EventsList from '../../components/user/Dashboard/EventsList.vue'
  import Avatar from '../../components/user/Avatar'
  import Alert from '../../components/generic/Alert'

  import { differenceInYears } from 'date-fns'

  export default {
    props: {
      username: {
        required: true,
        type: String
      }
    },
    data () {
      return {
        user: null,
        error: '',
        loading: true
      }
    },
    methods: {
      differenceInYears
    },
    mounted () {
      GetUser(this.username, this.$store)
        .then((res) => {
          if (res.success) {
            this.user = res.user
          } else {
            this.error = res.message
          }
          this.loading = false
        })
    },
    components: { EventsList, Avatar, Alert }
  }
</script>

<style lang="scss" scoped>
  .user-header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-bottom: 1px solid #dadada;

    h3 {
      font-size: 3.25rem;
      border-left: 1px solid #dadada;
      padding-left: 13px;
      padding-bottom: 10px;
      margin: 0;
      font-weight: normal;
      font-family: "acumin-pro-condensed", Arial;

      .you-label {
        display: inline-block;
        background: #ff6161;
        color: #FFF;
        padding: 0 8px 3px;
        margin-left: 12px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 5px;
        transform: translateY(-9px);
      }
    }
  }

  .user-stats {
    display: flex;

    .user-stat {
      flex: 1 1 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "acumin-pro-condensed", Arial;
      padding: 15px 15px 20px;
      text-align: center;
      border-bottom: 1px solid #dadada;
      color: #343434;

      & + * {
        border-left: 1px solid #dadada;
      }

      strong {
        font-size: 3rem;
        line-height: 60px;
      }

      h4 {
        font-size: 1.5rem;
        font-weight: normal;
        margin: -5px 0 0 0;
      }
    }
  }

  .user-info {
    h4 {
      position: relative;
      border-bottom: 1px solid #efefef;
      padding-bottom: 7px;
      padding-right: 25px;
      margin-bottom: 30px;
      font-size: 1.25rem;
      margin-top: 5px;
      padding-top: 15px;
      font-weight: bold;
      color: #444;

      &::after {
        content: '';
        position: absolute;
        background: url('../../assets/img/accent-bar.svg');
        width: 120px;
        height: 8px;
        bottom: -9px;
        left: 0;
        background-size: cover;
      }
    }
  }
</style>
