<template>
  <div class="registered-events">
    <h3>All Events</h3>

    <div class="events">
      <div v-for="(eventGroup, index) in events" :key="index" class="event">
        <h4>{{ eventGroup.event.name }}</h4>
        <div v-for="(tycdate, index) in eventGroup.tycdates" :key="index" class="tycdate">
          {{ tycdate.name }}
          <button @click="registerFor(eventGroup.event, tycdate)">Register</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { APIRequest } from '@/apiHelper.js'

  export default {
    data () {
      return {
        events: []
      }
    },
    beforeMount () {
      this.hydrate()
    },
    methods: {
      registerFor (event, tycdate) {
        APIRequest('post', `events/${event.id}/tycdates/${tycdate.id}/users`)
          .then((res) => {
            if (res.success) {
              this.hydrate()
            }
          })
      },
      hydrate () {
        APIRequest('get', 'events')
          .then((res) => {
            if (res.success) {
              this.events = res.events
            }
          })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .events {
    display: flex;

    .event {
      flex: 0 1 320px;
      border: 1px solid #444;

      h4 {
        padding: 10px;
        margin: 0;
      }

      .tycdate {
        display: flex;
        align-items: center;
        background: #999;
        padding: 5px 10px;

        &::before {
          content: '';
          display: inline-block;
          height: 3px;
          width: 9px;
          background: #333;
          margin-right: 7px;
        }
      }
    }
  }
</style>
