<template>
  <div class="club-joiner" v-if="!userAffiliated">
    <div v-for="club in clubs" :key="club.id" class="club">
      <div class="description">
        <h3>{{ club.name }}</h3>
        <p>{{ club.description }}</p>
      </div>
      <div class="actions">
        <div class="btn" @click="join(club)">Join</div>
      </div>
    </div>
  </div>
</template>

<script>
  import { APIRequest } from '@/apiHelper.js'

  export default {
    data () {
      return {
        clubs: []
      }
    },
    computed: {
      userAffiliated () {
        return this.$store.state.user.loggedInAs.clubs.length > 0
      }
    },
    methods: {
      join (club) {
        APIRequest('POST', `clubs/${club.id}/requests`).then(async (res) => {
          if (res.success) {
            this.$store.dispatch('hydrateLogin')
          }
        })
      }
    },
    mounted () {
      APIRequest('GET', `clubs`).then(async (res) => {
        if (res.success) {
          this.clubs = res.clubs.slice(0, 5)
        }
      })
    }
  }
</script>

<style lang="scss">
  .club-joiner {
    .club {
      display: flex;

      .description {
        flex: 1 1 320px;

        h3 {
          margin-bottom: 0;
          font-size: 1.1rem;
        }

        p {
          margin-top: 5px;
          font-size: 0.85rem;
        }
      }

      .actions {
        flex: 0 0 140px;
        display: flex;
        align-items: center;
        border-left: 1px solid #777;
        margin-left: 30px;
        padding-left: 30px;

        .btn {
          background: #e1e1e1;
          display: block;
          padding: 10px 15px;
          border-radius: 10px;
          color: #2e2e2e;
          font-weight: bold;
          font-size: 0.9rem;
          cursor: pointer;

          &:hover {
            background: #aaaaaa;
            color: #070707;
          }
        }
      }
    }
  }
</style>
