<template>
  <div class="events">
    <div v-for="eventContainer in events" :key="eventContainer.event.id" class="event">
      <div class="left">
        <div class="avatar" :style="{ backgroundImage: `url(${StaticFile(eventContainer.event.avatar || eventContainer.clubs[0].avatar)})` }"></div>
        <div class="date">
          {{ formatShortDate(eventContainer.event.register_start)[0] }}<br/>
          {{ formatShortDate(eventContainer.event.register_start)[1] }}
        </div>
      </div>
      <div class="right">
        <div class="row">
          <strong>Event Name:</strong>
          <span>{{ eventContainer.event.name }}</span>
        </div>
        <div class="row">
          <strong>Event Date(s):</strong>
          <span>{{ formatLongDate(eventContainer.event.register_start) }} to {{ formatLongDate(eventContainer.event.register_end) }}</span>
        </div>
        <div class="row">
          <strong>Location:</strong>
          <span></span>
        </div>
        <div class="row">
          <strong>Activities:</strong>
          <span>
            <ul>
              <li v-for="tycdate in eventContainer.tycdates" :key="tycdate.id">
                {{ tycdate.name }}
              </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { format } from 'date-fns'
  import { StaticFile } from '../../../apiHelper'

  export default {
    props: {
      events: {
        required: true,
        type: Array
      }
    },
    methods: {
      formatShortDate (dateStr) {
        return [format(dateStr, 'MMM'), format(dateStr, 'd')]
      },
      formatLongDate (dateStr) {
        return format(dateStr, 'MMMM d, YYYY')
      },
      StaticFile
    }
  }
</script>

<style lang="scss" scoped>
  .events {
    .event {
      display: flex;
      color: #363636;
      font-size: 0.9rem;
      line-height: 22px;

      .left {
        flex: 0 1 120px;

        .avatar,
        .date {
          width: 75px;
          height: 75px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          background-size: cover;
        }

        .date {
          color: #FFF;
          font-weight: bold;
          font-size: 1.5rem;
          text-align: center;
          background: #F00;
        }
      }

      .right {
        .row {
          display: flex;

          strong {
            min-width: 150px;
          }
        }
      }

      & + .event {
        border-bottom: 1px solid #AAA;
      }
    }
  }
</style>
