<template>
  <router-link to="/dashboard/messages" class="message-widget">
    <div class="notifications">{{ $store.state.counts.messages.unread }}</div>
    <strong>Messages</strong>
    <div class="digest" v-if="$store.state.counts.messages.unread">
       You currently have <em>{{ $store.state.counts.messages.unread }}</em> unread messages
    </div>
  </router-link>
</template>

<script>
  export default {
    mounted () {
      this.$store.dispatch('refreshNotifications')
    }
  }
</script>

<style lang="scss">
  .message-widget {
    display: block;
    padding: 15px 0 30px;
    text-decoration: none;
    color: inherit;

    .notifications {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: #F00;
      border-radius: 100%;
      height: 40px;
      width: 40px;
      color: #FFF;
      font-weight: bold;
    }

    >strong,
    .digest {
      display: inline;

      em {
        font-style: normal;
        font-weight: bold;
        color: #F00;
        text-decoration: underline;
      }
    }

    >strong {
      font-size: 1.35rem;
      margin: 0 10px;
    }
  }
</style>
