<template>
  <div class="posters">
    <div v-for="(posterContainer, index) in posters"
         :key="posterContainer.poster"
         @click.self="$router.push(`/events/${posterContainer.id}`)"
         :class="'poster ' + (posterContainer.shown ? 'visible' : '')"
         :style="{ backgroundImage: `url(${StaticFile(posterContainer.poster)})` }">
         <div @click="toggle(index)" class="close-btn" />
    </div>
    <div v-if="posters.length < 2" class="poster-alert">
      <h3>
        Watch this space for
        <em>UPCOMING EVENTS</em>
        <img src="../../../assets/img/logo-no-wordmark.svg" width="42" />
      </h3>
    </div>
  </div>
</template>

<script>
  import { APIRequest, StaticFile } from '../../../apiHelper'

  export default {
    data () {
      return {
        posters: []
      }
    },
    methods: {
      StaticFile,

      toggle (posterIndex) {
        this.posters[posterIndex].shown = !this.posters[posterIndex].shown
      }
    },
    mounted () {
      APIRequest('GET', `events`)
        .then((res) => {
          if (res.success) {
            this.posters = res.events.filter((eventContainer) => eventContainer.event.poster !== null)
                                     .map((eventContainer) => ({
                                       poster: eventContainer.event.poster,
                                       id: eventContainer.event.id,
                                       shown: true
                                     }))
                                     .slice(0, 2)
          }
        })
    }
  }
</script>

<style lang="scss" scoped>
  .posters {
    display: flex;
    margin-top: 19px;
  }

  .poster-alert {
    background: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 1 50%;
    padding: 0 25px;

    h3 {
      font-size: 0.8rem;

      em {
        display: block;
        font-style: normal;
        font-size: 1.25rem;
        margin: 2px 0 4px;
      }
    }
  }

  .poster {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 0;
    flex: 0 0 0;
    transition: all .25s ease-out;
    overflow: hidden;
    cursor: pointer;

    .close-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      background: url('../../../assets/img/icon-close.svg') center center no-repeat;
      background-size: cover;
    }

    &.visible {
      height: 120px;
      flex: 0 1 50%;
    }
  }
</style>
