<template>
  <div class="registered-events">
    <h3>Your upcoming events</h3>

    <div class="events">
      <div v-for="(eventGroup, index) in events" :key="index" class="event">
        <h4>{{ eventGroup.event.name }}</h4>
        <div v-for="(tycdate, index) in eventGroup.tycdates" :key="index" class="tycdate">
          {{ tycdate.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { APIRequest } from '@/apiHelper.js'

  export default {
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        events: []
      }
    },
    beforeMount () {
      APIRequest('get', `users/${this.user.username}/events`)
        .then((res) => {
          if (res.success) {
            this.events = res.data.events
          }
        })
    }
  }
</script>

<style lang="scss">
  .events {
    display: flex;

    .event {
      flex: 0 1 320px;
      border: 1px solid #444;

      h4 {
        padding: 10px;
        margin: 0;
      }

      .tycdate {
        display: flex;
        align-items: center;
        background: #999;
        padding: 5px 10px;

        &::before {
          content: '';
          display: inline-block;
          height: 3px;
          width: 9px;
          background: #333;
          margin-right: 7px;
        }
      }
    }
  }
</style>
