<template>
  <div class="modal-container" v-show="functional ? true : open">
    <div class="modal">
      <div class="closeBtn" @click="closeModal">x</div>
      <h3>{{ title }}</h3>
      <slot />
      <div class="buttons" v-if="buttons">
        <div v-for="(button, index) in buttons" :class="'judo-btn' + (button.colour ? ' ' + button.colour : '')" :key="index" @click="runButton(button)">
          {{ button.text }}
        </div>
      </div>
    </div>
    <div class="backdrop" @click="closeModal"></div>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        required: true
      },
      buttons: {
        type: Array,
        required: false
      },
      functional: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        open: false
      }
    },
    methods: {
      openModal () {
        this.open = true
      },
      closeModal () {
        if (this.functional) this.fullyDestroy()
        else this.open = false
      },
      fullyDestroy () {
        this.$destroy()
        this.$el.remove()
      },
      runButton (button) {
        if (button.action) {
          button.action(this)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .closeBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    top: 25px;
    right: 20px;
    width: 25px;
    height: 25px;
    color: #000;
    z-index: 9999999999;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 7px 10px 10px;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    transform: translate(-50%, -50%);
    max-height: 400px;
    max-width: 500px;
    background: #FFF;
    padding: 20px 25px;
    box-shadow: 0 0 10px rgba(27, 22, 20, 0.5);
    border-radius: 10px;
    z-index: 999999999;

    .buttons {
      display: flex;
      justify-content: space-around;
    }

    div[content],
    p {
      line-height: 23px;
      font-size: 0.9rem;
      color: #221f1c;
      margin: 10px 0;
    }

    h3 {
      position: relative;
      border-bottom: 1px solid #000;
      padding-bottom: 12px;
      padding-right: 25px;
      margin-bottom: 30px;
      font-size: 1.6rem;
      margin-top: 5px;

      &::after {
        content: '';
        position: absolute;
        background: url('../../../assets/img/accent-bar.svg');
        width: 120px;
        height: 8px;
        bottom: -9px;
        left: 0;
        background-size: cover;
      }
    }

    >img {
      width: 100%;
    }
  }

  .backdrop {
    content: '';
    background: rgba(17, 12, 10, 0.75);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999998;
  }
</style>
