<footer>
  <div class="footer-content">
    <div class="top">
      <div class="contact">
        <div class="social">
          <img src="img/icon-facebook.jpg" />
          <img src="img/icon-twitter.jpg" />
          <img src="img/icon-insta.png" />
        </div>
        <h4>Contact Info</h4>
        <p>
          875 Morningside Avenue, Suite 2040<br />
          Scarborough, ON  M1C 0C7  Canada
        </p>
        <p>
          Tel.: <a href="tel:4164475836">(416) 447-JUDO (5836)</a>
        </p>
        <p>
          Toll Free: <a href="tel:18554495836">1 (855) 449-JUDO (5836)</a>
        </p>
        <p>
          Fax: <a href="tel:4164495836">(416) 449-JUDO (5836)</a>
        </p>
        <p>
          Email: <a href="mailto:info@judoontario.ca">info@judoontario.ca</a>
        </p>
      </div>
      <div class="map">
        <!-- I assume chris will want this to be a real google map, so this is placeholder for now -->
      </div>
    </div>
    <div class="bottom">
      <p>
        Judo Ontario is proudly sponsored by
      </p>
      <div class="sponsors">
        <img src="img/logo-google.png" />
        <img src="img/logo-citrus.png" />
        <img src="img/logo-grand.png" />
      </div>
      <em>
        All content is copyright 2017 Judo Ontario and cannot be reproduced without prior written consent.<br />
        <a href="/">Privacy Policy</a>  |  <a href="/">Legal Statement</a>
      </em>
    </div>
  </div>
</footer>
