<header>
  <ad-region region="site-header" size="leaderboard"></ad-region>
  <div class="navigation-container">
    <div class="navigation-bar">
      <toggle-nav>
        <div class="nav-container">
          <a href="/news">News</a>
          <nav-item title="Events & Results">
            <a href="/event-calendar">Event Calendar</a>
            <a href="/results">Results</a>
            <a href="/accreditation">Accreditation</a>
          </nav-item>
          <nav-item title="Join Judo Ontario">
            <a href="/join-now">Join Now</a>
            <a href="/membership-pricing">Membership Pricing</a>
            <a href="/club-directory">Club Directory</a>
            <a href="/frequently-asked-questions">Frequently Asked Questions</a>
            <a href="/important-documents">Important Documents</a>
          </nav-item>
          <nav-item title="Awards & Recognition">
            <a href="/hall-of-fame">Hall of Fame</a>
            <a href="/high-dans">High Dans</a>
            <a href="/olympians">Olympians</a>
            <a href="/special-achievements">Special Achievements</a>
            <a href="/judo-ontario-awards">Judo Ontario Awards</a>
          </nav-item>
          <nav-item title="Organization">
            <nav-item title="Governance">
              <a href="/board-of-directors-and-committees">Board of Directors & Committees</a>
              <a href="/annual-general-meeting-and-elections">Annual General Meeting & Elections</a>
              <a href="/by-laws-and-constitution">By-Laws/Constitution</a>
              <a href="/board-meeting-minutes">Board Meeting Minutes</a>
            </nav-item>
            <nav-item title="Policies & Procedures">
              <a href="/office-and-executive">Office & Executive</a>
              <a href="/dojo-operations">Dojo Operations</a>
              <a href="/coaches-and-officials">Coaches & Officials</a>
              <a href="/grading-board">Grading Board</a>
              <nav-item title="Event Policies">
                <a href="/event-sanctioning">Event Sanctioning</a>
                <a href="/shiai-and-event-operations">Event Operations</a>
                <a href="/insurance-policy">Insurance</a>
              </nav-item>
            </nav-item>
            <a href="/business-plan">Business Plan</a>
            <a href="/important-links">Important Links</a>
            <a href="/support-judo-ontario">Support Judo Ontario</a>
          </nav-item>
          <nav-item title="Athletes">
            <a href="/ontario-team-selection">Ontario Team Selection</a>
            <a href="/news">News</a>
            <a href="/athlete-development-programs">Athlete Development Programs</a>
            <a href="/grading-guidelines">Grading Guidelines</a>
            <a href="/long-term-athlete-development">Long Term Athlete Development</a>
            <a href="/quest-for-gold">Quest for Gold</a>
          </nav-item>
          <nav-item title="Referees & Coaches">
            <nav-item title="Referee Resources">
              <a href="/rules-documentation">Rules Documentation</a>
              <a href="/referee-policies">Referee Policies</a>
              <a href="/news">News</a>
              <a href="/active-referees">Active Referees</a>
            </nav-item>
            <nav-item title="Coach Resources">
              <a href="/long-term-athlete-development-ltad">Long Term Athlete Development</a>
              <a href="/about-the-nccp">About the NCCP</a>
              <a href="/nccp-course-outlines">NCCP Course Outlines</a>
            </nav-item>
          </nav-item>
          <nav-item title="Media Centre">
            <a href="/download-judo-ontario-logo">Download Judo Ontario Logo</a>
            <a href="/press-releases">Press Releases</a>
          </nav-item>
          <nav-item title="Frequently Asked Questions">
            <a href="/membership-registration">Membership Registration</a>
            <a href="/athletes">Athletes</a>
            <a href="/coaches">Coaches</a>
            <a href="/referees">Referees</a>
            <a href="/dojo-shus">Dojo Shu’s</a>
          </nav-item>
          <a href="/contact">Contact</a>
        </div>
      </toggle-nav>
      <div class="logo">
        <a href="/">
          <img src="/img/logo.svg" alt="Judo Ontario Logo">
        </a>
      </div>
      <div class="controls">
        <div class="btn search"><img src="/img/icon-search.jpg" alt="Search Icon"/></div>
        <div class="btn login">
          <member-link to="login">
            LOG-IN
          </member-link>
        </div>
      </div>
    </div>
  </div>
</header>
