<template>
  <div class="slider-container" :style="(maxHeight ? 'height: ' + (maxHeight + 20) + 'px' : '')">
    <div class="slider">
      <div class="slides">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Slide from './Slide.vue'
  import Effect from './Effect.vue'

  import _debounce from 'lodash.debounce'

  export default {
    props: {
      speed: { type: Number }
    },
    data () {
      return {
        i: 0,
        slides: [],
        timerID: null,
        isPaused: false,
        maxHeight: 0
      }
    },
    computed: {
      current () {
        return this.slides[this.i]
      },
      buttonsEnabled () {
        return (this.buttons === undefined ? true : this.buttons)
      },
      toggleBtnText () {
        return (this.isPaused ? 'Play' : 'Pause')
      }
    },
    methods: {
      // Helper Functions
      mod: (m, n) => ((m % n) + n) % n,

      // Core Functionality
      next () {
        this.current.hide('right')
        this.i = (this.i + 1) % this.slides.length
        this.current.show('left')
        this.resetTimer()
      },
      prev () {
        this.current.hide('left')
        this.i = this.mod(this.i - 1, this.slides.length)
        this.current.show('right')
        this.resetTimer()
      },
      show (index) {
        if (index !== this.i) {
          if (index < this.i) {
            this.current.hide('left')
            this.i = index
            this.current.show('right')
            this.resetTimer()
          } else {
            this.current.hide('right')
            this.i = index
            this.current.show('left')
            this.resetTimer()
          }
        }
      },
      togglePause () {
        this.isPaused = !this.isPaused;
        this.resetTimer();
      },
      setTimer () {
        if (this.speed !== undefined) {
          this.timerID = setInterval(() => this.next(), this.speed)
        }
      },
      resetTimer () {
        if (this.speed !== undefined) {
          if (this.timerID !== null) {
            clearInterval(this.timerID)
          }
          if (!this.isPaused) {
            this.timerID = setInterval(() => this.next(), this.speed)
          }
        }
      },
      createSlide (slide) {
        this.slides.push(slide)
      },
      fixHeight () {
        if (window.innerWidth <= 600) {
          this.maxHeight = this.slides
            .map((slide) => slide.mobileHeight)
            .reduce((max, height) => (height > max ? height : max), 0)
        } else {
          this.maxHeight = 0
        }
      }
    },
    mounted () {
      this.current.show()
      if (this.speed) this.setTimer()
      this.fixHeight()
      window.addEventListener('resize', _debounce(this.fixHeight, 30))
    },
    components: { Slide, Effect }
  }
</script>

<style lang="scss" scoped>
  @import '../../../sass/sass-only/_app.scss';
  @import '../../../sass/sass-only/_utils.scss';

  /**
   * Button and container styles
   */

  .slider-container {
    position: relative;
    height: 100vh;
    max-height: 800px;
    min-height: 780px;
    margin-bottom: 55px;
    transition: height 0.75s $expo;

    &.menus {
      .slider {
        max-width: 970px;
        margin: auto;
      }
    }

    @media screen and (max-width: 600px) {
      max-height: initial;
    }

    .slider {
      height: 100%;
      width: 100%;
      position: relative;

      .slides {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
      }
    }
  }
</style>
