<template>
  <div :class="'slide' + (animation ? ' ' + animation : '')">
    <div :class="'slide-background ' + uid" :style="style"></div>
    <div :class="'slide-content ' + uid + ' ' + (toggleContent ? 'visible' : '')">
      <div @click="toggle" class="minimize-btn" />
      <div class="slide-text">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
  import _debounce from 'lodash.debounce'

  export default {
    props: {
      background: {
        type: String,
        required: false
      }
    },
    data () {
      return {
        effects: [],
        animation: null,
        shown: false,
        toggleContent: true,
        uid: 'u' + Math.floor((1 + Math.random()) * 0x10000).toString(16),
        mobileHeight: 0
      }
    },
    computed: {
      style () {
        if (this.background) {
          return 'background-image: url(' + this.background + ');'
        } else {
          return ''
        }
      },
      elBackground () { return document.querySelector('.slide-background.' + this.uid) },
      elContent () { return document.querySelector('.slide-content.' + this.uid) }
    },
    methods: {
      toggle () {
        this.toggleContent = !this.toggleContent
      },
      show (dir) {
        if (dir === 'left') {
          this.animation = 'from-right'
        } else if (dir === 'right') {
          this.animation = 'from-left'
        } else {
          this.animation = 'force-show'
        }
        this.shown = true
        this.toggleContent = true
        this.effects.forEach((e) => e.show())
      },
      hide (dir) {
        if (dir === 'left') {
          this.animation = 'to-right'
        } else if (dir === 'right') {
          this.animation = 'to-left'
        } else {
          this.animation = 'force-hide'
        }
        this.shown = false
        this.effects.forEach((e) => e.hide())
      },
      createEffect (effect) {
        this.effects.push(effect)
      },
      updateMobileHeight () {
        this.mobileHeight = (this.elContent.clientHeight + this.elBackground.clientHeight) - 80
      }
    },
    mounted () {
      this.updateMobileHeight()
      window.addEventListener('resize', _debounce(this.updateMobileHeight, 30))
    },
    created () {
      this.$parent.createSlide(this)
    }
  }
</script>

<style lang="scss">
  @import '../../../sass/sass-only/_utils.scss';

  /**
   * Keyframes
   */

  @keyframes slideFromRight {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slideFromLeft {
    from {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slideToRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes slideToLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(-200%);
    }
  }

  /**
   * Styles
   */

  .slide {
    position: absolute;
    top: 0;
    left: 100vw;
    height: 100%;
    width: 100vw;

    &.menus {
      .slide-content {
        align-items: initial;
      }
    }

    &.from-right {
      animation: slideFromRight 1550ms $expo 0s 1 normal;
      animation-fill-mode: forwards;
    }

    &.from-left {
      animation: slideFromLeft 1550ms $expo 0s 1 normal;
      animation-fill-mode: forwards;
    }

    &.to-right {
      animation: slideToRight 1550ms $expo 0s 1 normal;
      animation-fill-mode: forwards;
    }

    &.to-left {
      animation: slideToLeft 1550ms $expo 0s 1 normal;
      animation-fill-mode: forwards;
    }

    &.force-show { transform: translateX(-100%); }
    &.force-hide { transform: translateX(0);     }

    .slide-background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center top;
    }

    .slide-content {
      position: absolute;
      bottom: 0;
      width: 100vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10px 20px 60px;
      background: #595e61;
      color: #FFF;
      font-family: $cond;
      transform: translateY(calc(100% - 35px));
      transition: transform 0.5s $expo;

      &.visible {
        transform: translateY(0) !important;

        .minimize-btn {
          &::before {
            content: 'LESS';
          }
        }
      }

      .minimize-btn {
        position: absolute;
        width: 75px;
        height: 75px;
        top: -39px;
        right: 30%;
        cursor: pointer;

        @media screen and (max-width: 600px) {
          display: none !important;
        }

        &::before {
          content: 'MORE';
          position: absolute;
          top: 0;
          width: 67px;
          height: 67px;
          background: url(/img/slide-toggle-btn.png) center center no-repeat #595e61;
          background-size: 58px;
          border-radius: 50%;
          text-align: center;
          padding: 4px;
          line-height: 53px;
        }
      }

      .slide-text {
        margin: 0 auto;
        max-width: 768px;
        width: 100%;

        h3 {
          font-size: 2.5rem;
          line-height: 35px;
        }

        .wysiwyg-area {
          display: flex;

          p {
            font-size: 1rem;
            line-height: 24px;
            font-family: $sans;
          }

          >* {
            flex: 1 1 50%;
          }

          * + * {
            margin-left: 30px;
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      padding-top: 0 !important;

      div.slide-background {
        position: static;
        width: 100vw;
        height: 320px;
      }

      div.slide-content {
        padding: 0 20px;
        position: static;
        height: initial;
      }
    }
  }
</style>
