<template>
  <div class="access-form">
    <LoginForm v-if="mode === 'login'" />
    <SignupForm v-if="mode === 'signup'" />
    <PasswordReset v-if="mode === 'password-reset'" />
    <a href="#" @click.prevent="toggleMode">
      {{ mode === 'login' ? 'I don\'t have an account' : 'I already have an account' }}
    </a>
  </div>
</template>

<script>
  import LoginForm from './LoginForm'
  import SignupForm from './SignupForm'
  import PasswordReset from './PasswordReset'

  export default {
    data () {
      return {
        mode: 'login'
      }
    },
    methods: {
      toggleMode () {
        this.mode = this.mode === 'login' ? 'signup' : 'login'
      }
    },
    components: { LoginForm, SignupForm, PasswordReset }
  }
</script>

<style lang="scss">
  .access-form {
    color: #FFF;
    max-width: 290px;
    width: 100vw;

    form {
      text-align: center;
    }

    h3 {
      text-align: center;
      font-size: 1.75rem;
      font-weight: normal;
      margin-bottom: 12px;
    }

    button,
    input[type=submit],
    .btn {
      overflow: hidden;
      display: inline-block;
      appearance: none;
      background: #e1e1e1;
      border: 0;
      color: #403f3b;
      padding: 11px 25px;
      font-size: 0.9rem;
      border-radius: 10px;
      font-weight: bold;
      min-width: 160px;
      margin: 15px 0;
      cursor: pointer;
      transition: 0.25s all ease-out;

      &::before {
        content: '';
        display: inline-block;
        background: url('../../../assets/img/btn-arrow.svg') no-repeat center center;
        background-size: cover;
        height: 15px;
        width: 15px;
        margin-right: -8px;
        transform: translateX(-50px) translateY(3px);
        opacity: 0;
        transition: 0.25s all ease-out;
      }

      &:hover {
        background: #363636;
        color: #FFF;

        &::before {
          transform: translateX(0) translateY(3px);
          opacity: 1;
          margin-right: 5px;
        }
      }
    }

    input[type=text],
    input[type=password],
    input[type=email] {
      border: 0;
      padding: 6px 11px;
      font-size: 1rem;
      color: #58595b;
      margin: 6px 0;
      width: 100%;
    }

    a {
      color: #FFF;
    }
  }
</style>
