<template>
  <div class="form">
    <h3>Log-In</h3>
    <form @submit.prevent="submit">
      <div class="form-row">
        <input type="text" aria-label="Username" placeholder="Username" id="username" v-model="username" />
      </div>
      <div class="form-row">
        <input type="password" aria-label="Password" placeholder="Password" id="password" v-model="password" />
      </div>
      <div class="recover-password">
        Forgot your password?
        <a @click.prevent="$parent.mode = 'password-reset'">Click here to reset.</a>
      </div>
      <div class="btn" @click="submit">Log-in</div>
    </form>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        username: '',
        password: ''
      }
    },
    methods: {
      submit () {
        const redirect = this.$route.query.redirect
        this.$store.dispatch('login', {
          username: this.username,
          password: this.password
        }).then(() => {
          if (redirect) {
            this.$router.push(redirect)
          } else if (this.$store.state.user.loggedIn) {
            this.$router.push('/dashboard')
          }
        })
      }
    }
  }
</script>

<style lang="scss">
  .recover-password {
    font-size: 0.85rem;
  }
</style>
