<template>
  <div class="form">
    <h3>Password Recovery</h3>
    <form v-if="!success" @submit.prevent="submit">
      <div class="form-row">
        <input type="text" aria-label="Email" placeholder="Email" id="email" v-model="email" />
      </div>
      <div class="btn" @click="submit">recover my password</div>
    </form>

    <div v-if="success">
      <h3>Thanks!</h3>
      <p>
        An email has been sent to {{ email }} containing a link to reset your password.
      </p>
    </div>
  </div>
</template>

<script>
  import { APIRequest } from '@/apiHelper.js'

  export default {
    data () {
      return {
        email: '',
        success: null
      }
    },
    methods: {
      async submit () {
        const res = await APIRequest('POST', 'auth/password-reset', {
          email: this.email
        })

        if (res.success) {
          this.success = true
        } else {
          this.$store.commit('SHOW_ERROR', res)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .recover-password {
    font-size: 0.85rem;
  }

  p {
    text-align: center;
  }
</style>
