<template>
  <div class="form">
    <h3>Signup</h3>
    <form @submit.prevent="submit">
      <div class="form-row">
        <span class="signup-username-error" v-if="taken === true">'{{ username }}' is taken</span>
        <span class="signup-username-success" v-if="taken === false">✔</span>
        <input class="with-icon" type="text" placeholder="Username" id="username" v-model="username" />
      </div>
      <div class="form-row">
        <input type="text" placeholder="First Name" id="firstname" v-model="firstname" />
      </div>
      <div class="form-row">
        <input type="text" placeholder="Last Name" id="lastname" v-model="lastname" />
      </div>
      <div class="form-row">
        <input type="email" placeholder="Email" id="email" v-model="email" />
      </div>
      <div class="form-row">
        <input type="password" placeholder="Password" id="password" v-model="password" />
      </div>

      <input type="submit" value="signup" />
    </form>
  </div>
</template>

<script>
  import _debounce from 'lodash.debounce'
  import { APIRequest } from '@/apiHelper.js'

  export default {
    data () {
      return {
        firstname: '',
        lastname: '',
        username: '',
        email: '',
        password: '',
        taken: null
      }
    },
    computed: {
      valid () {
        return (!this.taken) && (!!this.username) && (!!this.password) && (!!this.email)
      }
    },
    methods: {
      async submit () {
        await this.$store.dispatch('signup', {
          firstname: this.firstname,
          lastname: this.lastname,
          username: this.username,
          email: this.email,
          password: this.password
        })

        if (this.$store.state.user.loggedIn) {
          this.$router.push('/dashboard')
        }
      }
    },
    mounted () {
      this.$watch('username', _debounce(async function (testUsername) {
        this.taken = await APIRequest('get', `auth/username-available/${testUsername}`).then((res) => !res.available)
      }, 200, { leading: true }))
    }
  }
</script>

<style lang="scss">
  .form-row {
    position: relative;

    input.with-icon {
      margin-top: 0;
    }

    span.signup-username-error,
    span.signup-username-success {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 4px 7px;
      text-align: left;
      position: absolute;
      right: 0;
      height: 31px;
      min-width: 31px;
    }

    span.signup-username-error {
      color: #FFF;
      background: #ee3344;
      border: 3px solid #FFF;
      font-size: 0.85rem;
    }

    span.signup-username-success {
      color: #66997F;
      font-size: 1.25rem;
    }
  }
</style>
